$name-: 'c-teaser' !default;

$host: (
  '.c-teaser': (
    font: var(--font-copy-m),
    border-radius: null,
  ),
  '.c-teaser, .g-inverted-reset .c-teaser': (
    color: var(--color-black),
    background: var(--color-white),
    border: 1px solid var(--color-grey-1),
    shadow: null,
    shadow-hover: (
      0 0 30px rgba(0, 0, 0, 0.1),
      0 10px 20px -15px rgba(0, 0, 0, 0.023),
      0 25px 25px -35px rgba(0, 0, 0, 0.057),
    ),
  ),
  '.g-inverted .c-teaser': (
    color: var(--color-white),
    background: var(--color-primary),
    border: null,
    shadow: null,
    shadow-hover: (
      0 0 30px rgba(0, 0, 0, 0.2),
      0 10px 20px -15px rgba(0, 0, 0, 0.15),
      0 25px 25px -35px rgba(0, 0, 0, 0.25),
    ),
  ),
) !default;

$text: (
  '.c-teaser': (
    spacing: 0.5rem,
  ),
) !default;
