$name-: 'c-teaser' !default;

$host: (
  '.c-teaser': (
    font: var(--ks-font-copy-m),
    color: var(--ks-text-color-default),
    background: var(--ks-background-color-primary-inverted-tbd),
    border: var(--ks-border-width-default) solid var(--color-grey-1),
    border-radius: null,
    shadow: null,
    shadow-hover: (
      0 0 30px rgba(0, 0, 0, 0.1),
      0 10px 20px -15px rgba(0, 0, 0, 0.023),
      0 25px 25px -35px rgba(0, 0, 0, 0.057),
    ),
    padding: 1rem,
  ),
  '.c-teaser--style-dark': (
    color: var(--ks-text-color-default-inverted),
    background: var(--ks-background-color-primary-tbd),
    border: null,
    shadow: null,
    shadow-hover: (
      0 0 30px rgba(0, 0, 0, 0.2),
      0 10px 20px -15px rgba(0, 0, 0, 0.15),
      0 25px 25px -35px rgba(0, 0, 0, 0.25),
    ),
  ),
) !default;

$text: (
  '.c-teaser': (
    spacing: 0.5rem,
  ),
) !default;
