@use '@kickstartds/base/source/0-base/1-tools/scss/grid';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use '@kickstartds/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';
@use 'settings/news';
@use 'sass:meta';

.news-latest {
  &__item {
    font-size: base.$font-size-default;
    line-height: base.$line-height-default;
    border-bottom: 1px solid base.$color-black-10;
    box-sizing: border-box;

    @include breakpoint.media('≥m') {
      font-size: base.$font-size-small;
      line-height: base.$line-height-small;
      border-bottom: 0;
      margin-bottom: 0;
    }

    @include breakpoint.media('print') {
      page-break-inside: avoid;
    }

    &__date {
      // TODO: remove conditions in version 6
      font-size: if(
        meta.global-variable-exists('news-latest__date-font-size', 'news'),
        news.$news-latest__date-font-size,
        base.$font-size-small
      );
      font-weight: if(
        meta.global-variable-exists('news-latest__date-font-weight', 'news'),
        helpers.get-font-weight(news.$news-latest__date-font-weight),
        helpers.get-font-weight(regular)
      );
      color: if(
        meta.global-variable-exists('news-latest__date-color', 'news'),
        news.$news-latest__date-color,
        base.$color-black-50
      );
      padding-right: 1rem;
    }

    &__meta {
      display: flex;
      align-items: center;
      margin-bottom: 0.5rem;
    }

    &__image {
      @include grid.grid-break-at(500px, 12, 4);

      margin-bottom: 1em;
    }

    &__body {
      @include grid.grid-break-at(500px, 12, 8);
    }

    &__headline {
      // TODO: remove conditions in version 6
      font-size: if(
        meta.global-variable-exists('news-latest__headline-font-size', 'news'),
        news.$news-latest__headline-font-size,
        1.6em
      );
      font-weight: if(
        meta.global-variable-exists(
          'news-latest__headline-font-weight',
          'news'
        ),
        helpers.get-font-weight(news.$news-latest__headline-font-weight),
        helpers.get-font-weight(bold)
      );
      line-height: if(
        meta.global-variable-exists(
          'news-latest__headline-line-height',
          'news'
        ),
        news.$news-latest__headline-line-height,
        1.2
      );
      color: if(
        meta.global-variable-exists(
          'news-latest__headline-color-hover',
          'news'
        ),
        news.$news-latest__headline-color-hover,
        base.$color-black
      );
      padding: if(
        meta.global-variable-exists('news-latest__headline-padding', 'news'),
        news.$news-latest__headline-padding,
        0
      );

      > a {
        // TODO: remove conditions in version 6
        color: if(
          meta.global-variable-exists('news-latest__headline-color', 'news'),
          news.$news-latest__headline-color,
          base.$color-black
        );
      }
    }

    &__more {
      display: inline-block;

      @include breakpoint.media('print') {
        a {
          @include helpers.dont-break-out;

          &::after {
            content: attr(href);
          }
        }
      }
    }
  }

  .tag-label-container {
    min-width: 0%;
    margin: -0.15rem;

    > * {
      padding: 0.15rem;
    }

    @include breakpoint.media('≥s') {
      margin: -0.25rem;

      > * {
        padding: 0.25rem;
      }
    }

    @include breakpoint.media('≥m') {
      margin: -0.15rem;

      > * {
        padding: 0.15rem;
      }
    }
  }
}
