@mixin details-reset {
  summary {
    /* critical:start */
    list-style: none;
    /* critical:end */
    cursor: pointer;

    &::-webkit-details-marker {
      /* critical:start */
      display: none;
      /* critical:end */
    }

    &::before {
      /* critical:start */
      // reset the marker from details polyfill
      content: '';
      /* critical:end */
    }
  }
}
