.c-post-head {
  // Date
  --c-post-head__date--font: var(--ks-font-interface-xs);
  --c-post-head__date--font-weight: var(--ks-font-weight-bold);
  --c-post-head__date--color: var(--ks-color-fg-alpha-5);
  --c-post-head__date--padding-right: 0.5em;

  // Headline
  --c-post-head__headline--font: var(--ks-font-display-l);
  --c-post-head__headline--font-weight: var(--ks-font-weight-bold);
  --c-post-head__headline--color: var(--ks-text-color-default);
  --c-post-head__headline--color-hover: var(--ks-text-color-default);

  // Meta
  --c-post-head__meta--margin-bottom: 0.5rem;
}
