@use 'sass:meta';
@use './post-head-vars';

.c-post-head {
  &__meta {
    display: flex;
    align-items: baseline;
    margin-bottom: var(--c-post-head__meta--margin-bottom);
  }

  &__date {
    font: var(--c-post-head__date--font);
    font-weight: var(--c-post-head__date--font-weight);
    color: var(--c-post-head__date--color);
    padding-right: var(--c-post-head__date--padding-right);
  }

  &__image {
    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }
}
