@use '../../../0-base/1-tools/scss/grid';
@use '../../../0-base/1-tools/scss/helpers';
@use '../../../0-base/1-tools/scss/sizes';
@use '@kickstartds/core/source/core/breakpoint';
@use '../../../0-base/0-settings/selector';
@use 'bourbon/core/bourbon';
@use 'settings/base';

.nav-meta {
  &-container {
    @include helpers.no-print;

    /* critical:start */
    display: none;
    /* critical:end */

    @include breakpoint.media('≥s') {
      /* critical:start */
      display: block !important;
      /* critical:end */
    }

    #{selector.$header--variant-1} & {
      background-color: base.$nav-meta__background;

      // .transparent-header & {
      //   @include breakpoint.media('≥nav-main') {
      //     background-color: base.$nav-meta__background-transparent;
      //   }
      // }
    }

    #{selector.$header--variant-2} & {
      background-color: transparent;
    }

    // @include breakpoint.media('≥nav-main') {
    //   display: none;
    //   background-color: transparent;
    // }

    #{selector.$header--sidebar} &,
    #{selector.$header--variant-2} & {
      width: 100%;

      // @include breakpoint.media('≥nav-main') {
      //   width: auto;
      // }
    }
  }

  &__list {
    @include helpers.no-print;

    /* critical:start */
    display: none;
    margin-right: -0.8em;
    // color: base.$nav-meta__item-color--desktop;
    /* critical:end */

    @include breakpoint.media('≥s') {
      /* critical:start */
      display: flex;
      /* critical:end */
    }

    #{selector.$header--sidebar} &,
    #{selector.$header--variant-1} &,
    #{selector.$header--variant-2} & {
      /* critical:start */
      @include sizes.global-padding();

      max-width: base.$header__max-width;
      margin: auto;
      /* critical:end */
    }

    // #{selector.$header--sidebar} &,
    // #{selector.$header--variant-2} & {
    //   @include breakpoint.media('≥nav-main') {
    //     max-width: none;
    //     padding: 0;
    //     margin-right: -0.8em;
    //   }
    // }

    &__item {
      /* critical:start */
      @include helpers.clearlist;

      display: flex;
      font-size: base.$nav-meta__item-font-size--desktop;
      line-height: base.$nav-meta__item-line-height--desktop;
      /* critical:end */

      &:first-child {
        /* critical:start */
        margin-left: auto;
        /* critical:end */
      }

      &:last-child {
        /* critical:start */
        margin-right: -1.2em;
        /* critical:end */
      }

      a,
      .dropdown__toggle {
        /* critical:start */
        display: flex;
        height: base.$nav-meta__item-height;
        color: base.$nav-meta__item-color--desktop;
        padding: 0 1.2em;
        text-decoration: none;
        align-items: center;

        &:active,
        &:hover {
          background: base.$nav-meta__item-background-hover--desktop;
          color: base.$nav-meta__item-color-hover--desktop;
        }
        /* critical:end */
      }

      li {
        /* critical:start */
        display: block;
        /* critical:end */
      }

      > li > a,
      .dropdown__toggle {
        /* critical:start */
        .transparent-header & {
          color: base.$nav-meta__item-color-transparent;

          &:active,
          &:hover {
            background: base.$nav-meta__item-background-hover-transparent;
          }
        }
        /* critical:end */
      }
    }
  }

  &__icon {
    /* critical:start */
    @include bourbon.size(1.6em);
    @include helpers.icon-color(currentColor);

    position: relative;
    top: -0.1em;
    margin-right: 0.4em;
    /* critical:end */

    &--login {
      /* critical:start */
      @include bourbon.size(1.45em);
      /* critical:end */
    }
  }
}
