@use 'sass:meta';
@use 'sass:math';
@use '@kickstartds/core/source/core/custom-properties';
@use './logo-tiles-vars';

$vars: meta.module-variables(logo-tiles-vars);
@include custom-properties.styles($vars, true);

.c-logo-tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: calc(var(--c-logo-tiles--gutter) / -2) 0
    calc(var(--c-logo-tiles--gutter) / -2)
    calc(var(--c-logo-tiles--gutter) * -1);
  padding: 0;

  &__col {
    position: relative;
    margin: calc(var(--c-logo-tiles--gutter) / 2) 0
      calc(var(--c-logo-tiles--gutter) / 2) var(--c-logo-tiles--gutter);
    width: 100%;
    max-width: calc(
      (100% / var(--c-logo-tiles--cols)) - var(--c-logo-tiles--gutter)
    );

    &::before {
      content: '';
      display: block;
      padding-top: math.percentage(9/16);
    }
  }

  img {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    height: auto;
    max-height: 100%;
    width: auto;
    max-width: 100%;
  }
}
