@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use 'settings/base';

.product-detail {
  &__infos {
    &__text {
      width: 100%;
      margin: 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: max-content;

      @include breakpoint.media('≥s') {
        width: 40%;
        margin-left: 10%;
      }
    }

    .product__topic {
      font-size: base.$h1-font-size-s;
      grid-column: auto / span 3;
    }

    .product__info {
      grid-column: auto / span 3;
    }

    .product__teaser {
      grid-column: auto / span 3;
      font-size: 1em;

      @include breakpoint.media('≥s') {
        font-size: 0.8em;
      }
    }

    .product__special {
      order: 2;
      grid-column: auto / span 1;
      grid-row: 4;
      margin-bottom: 1em;

      img {
        max-width: 3.65em;
      }
    }

    .product__price {
      grid-column: 1 / span 2;
      grid-row: 4;
      margin-bottom: 1em;
      margin-top: 0;
      line-height: 1.2;

      &-amount {
        display: block;
        font-size: base.$h2-font-size-s;
        font-weight: helpers.get-font-weight(bold);
      }
    }

    .product__link {
      grid-column: 1 / span 2;
    }
  }
}
