.c-post-aside {
  --c-post-aside--gap: var(--ks-spacing-stack-m);

  // Meta
  --c-post-aside__meta--vertical-spacing: 0.75em;
  --c-post-aside__meta--border: var(--ks-border-width-default) solid
    var(--ks-border-color-interface);
}
