@use '../../0-base/1-tools/scss/breakpoint';
@use '../../0-base/0-settings/selector';

#{selector.$template--content-30} {
  .text-media {
    &--left .gallery {
      @include breakpoint.media('≥m') {
        margin-right: 1em;
      }
    }

    &--right .gallery {
      @include breakpoint.media('≥m') {
        margin-left: 1em;
      }
    }
  }

  .gallery__column {
    @include breakpoint.media('≥m') {
      margin-bottom: 0.5em;
    }
  }
}
