.c-tag-label {
  --c-tag-label--background-color: var(--ks-background-color-interface);
  --c-tag-label--background-color-hover: var(
    --ks-background-color-interface-hover
  );
  --c-tag-label--border: null;
  --c-tag-label--border-radius: var(--ks-border-radius-pill);
  --c-tag-label--color: var(--ks-text-color-interface);
  --c-tag-label--color-hover: var(--ks-text-color-interface-hover);

  // Small
  --c-tag-label_s--font: var(--ks-font-interface-xs);
  --c-tag-label_s--font-weight: var(--ks-font-weight-regular);
  --c-tag-label_s--vertical-padding: 0.325rem;
  --c-tag-label_s--horizontal-padding: 0.65rem;
  // Icon
  --c-tag-label_s__icon--size: 0.8rem;
  --c-tag-label_s__icon--margin-left: -0.325rem;
  --c-tag-label_s__icon--horizontal-padding: 0.325rem;

  // Medium
  --c-tag-label_m--font: var(--ks-font-interface-s);
  --c-tag-label_m--font-weight: var(--ks-font-weight-regular);
  --c-tag-label_m--vertical-padding: 0.4rem;
  --c-tag-label_m--horizontal-padding: 1rem;
  // Icon
  --c-tag-label_m__icon--size: 1.25rem;
  --c-tag-label_m__icon--margin-left: -0.6rem;
  --c-tag-label_m__icon--horizontal-padding: 0.5rem;

  // Large
  --c-tag-label_l--font: var(--ks-font-interface-m);
  --c-tag-label_l--font-weight: var(--ks-font-weight-regular);
  --c-tag-label_l--vertical-padding: 0.5rem;
  --c-tag-label_l--horizontal-padding: 1.25rem;
  // Icon
  --c-tag-label_l__icon--size: 1.25rem;
  --c-tag-label_l__icon--margin-left: -0.75rem;
  --c-tag-label_l__icon--horizontal-padding: 0.5rem;
}
