@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use 'settings/base';
@use 'settings/global';

.product {
  //
  // ELEMENTS
  //

  &__topic {
    font-size: global.$topic__font-size;
    line-height: global.$topic__line-height;
    font-weight: helpers.get-font-weight(global.$topic__font-weight);
    color: global.$topic__font-color;
    margin: global.$topic__margin;

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  &__info {
    font-size: base.$font-size-tiny;
    color: base.$color-black-50;
  }

  &__price {
    line-height: 1.2;
    margin-bottom: 1em;

    @include breakpoint.media('≥m') {
      margin-bottom: 0;
    }

    &-amount {
      font-size: base.$font-size-large;
    }

    &-info {
      font-size: base.$font-size-tiny;
      color: base.$color-black-50;
    }
  }

  &__teaser {
    font-size: base.$font-size-small;
    margin-top: 0.5em;

    @include breakpoint.media('≥s') {
      margin-top: 1em;
    }
  }

  // SPECIAL (Icon)
  &__special {
    flex-shrink: 0;

    img {
      width: auto;
      max-height: 2.65em;

      @include breakpoint.media('≥s') {
        max-height: 2.4em;
      }

      @include breakpoint.media('≥m') {
        max-height: 3.15em;
      }
    }
  }

  &__data {
    margin-bottom: 1em;

    &.table,
    table {
      background: none !important;
    }

    th {
      width: 40%;
      padding-right: 1rem;

      @include breakpoint.media('≥s') {
        width: 30%;
        padding-right: 2rem;
      }
    }
  }

  &__more {
    margin-top: 1em;
  }
}
