/**
* # Content-Box
*/

@use '../../0-base/1-tools/scss/grid';
@use '../../0-base/1-tools/scss/breakpoint';
@use 'settings/base';

.content-box {
  @include grid.grid-gutter(base.$content-box__grid-gutter);

  &__text {
    &__item {
      font-size: 1em;

      @include breakpoint.media('≥s') {
        font-size: 0.85em;
      }

      @include breakpoint.media('≥m') {
        font-size: 1em;
      }
    }
  }
}
