@use 'settings/base/colors';

$tab__color-default: colors.$color-black-50;
$tab__color-active: colors.$color-brand-75;
$tab__color-current: colors.$color-brand;
$tab__color-hover: colors.$color-brand-50;
$tab__border-width: 2px;
$tab__font-size: 0.8em;
$tab__line-height: 1;
