@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/custom-properties';
@use '../../0-base/input-field';

.c-select-field {
  @include input-field.wrapper;
  flex-direction: column;

  &__label {
    padding: 0.25rem 0;
  }

  &__input {
    @include input-field.input-field(select) {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 7.84L12 12.42l4.59-4.58L18 9.25l-6 6-6-6z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: calc(100% - 0.5rem) calc(50% + 1px);
      background-size: 1.5rem;
      padding-right: 2.5rem;
    }
  }
}
