@use 'sass:meta';
@use 'sass:math';
@use './contact-vars';

.c-contact {
  display: flex;
  flex-wrap: wrap;
  gap: var(--c-contact--gap);

  > * {
    flex-basis: var(--c-contact--flex-basis);
    flex-grow: 1;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--c-contact__body--gap);
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: var(--c-contact__header--gap);
  }

  &__name {
    font: var(--c-contact__name--font);
    color: var(--c-contact__name--color);
    font-weight: var(--c-contact__name--font-weight);
  }

  &__title {
    font: var(--c-contact__title--font);
    color: var(--c-contact__title--color);
    font-weight: var(--c-contact__title--font-weight);
  }

  &__image {
    text-align: center;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: var(--c-contact__links--gap);
    font: var(--c-contact__links--font);
    list-style: none;
    padding: 0;
    margin: 0;

    .icon {
      width: var(--c-contact__links__icon--size);
      height: var(--c-contact__links__icon--size);
      color: var(--c-contact__links__icon--color);
      margin-right: var(--c-contact__links__icon--margin-right);
    }
  }

  .c-headline {
    --c-headline--color: var(--c-contact__headline--color);
    --c-headline--font: var(--c-contact__headline--font);
    --c-headline--font-weight: var(--c-contact__headline--font-weight);
    --c-headline__subheadline--color: var(
      --c-contact__headline__subheadline--color
    );
    --c-headline__subheadline--font: var(
      --c-contact__headline__subheadline--font
    );
    --c-headline__subheadline--font-weight: var(
      --c-contact__headline__subheadline--font-weight
    );
  }
}
