@use '../../0-base/1-tools/scss/helpers';
@use '@kickstartds/core/source/core/breakpoint';
@use 'settings/base';
@use 'sass:meta';
@use './nav-footer';

.main-footer {
  padding: 3.35rem 0;
  font-size: base.$footer__font-size;
  line-height: base.$footer__line-height;
  color: base.$footer__color;
  background: base.$footer__background;

  @include breakpoint.media('print') {
    padding: 1em 0 0;
    border-top: 1px solid base.$color-black-50;
    color: inherit;
    background: inherit;
    page-break-inside: avoid;
  }

  /// Footer Layout

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint.media('≥s') {
      flex-direction: row;
    }
  }

  &__bottom {
    @include breakpoint.media('≥s') {
      margin-top: 2.65rem;
      padding-top: 1.6rem;
      // TODO: remove condition in version 10
      border-top: if(
        meta.global-variable-exists('footer__bottom-border-top-s', 'base'),
        base.$footer__bottom-border-top-s,
        1px solid base.$color-white
      );
    }

    @include breakpoint.media('print') {
      margin: 0;
      padding-top: 1em;
      border: 0;
    }
  }

  /// Footer Address

  &__address {
    text-align: center;
    font-style: normal;

    font-size: base.$footer__adress-font-size;
    font-weight: helpers.get-font-weight(base.$footer__adress-font-weight);
    color: base.$footer__adress-font-color;
    line-height: base.$footer__adress-line-height;
    text-transform: base.$footer__adress-text-transform;
    margin: base.$footer__adress-margin;

    @include breakpoint.media('≥s') {
      font-size: base.$footer__adress-font-size-s;
      line-height: base.$footer__adress-line-height-s;
    }

    &__company {
      // TODO: remove conditions in version 11
      font-size: if(
        meta.global-variable-exists('footer__adress-company-font-size', 'base'),
        base.$footer__adress-company-font-size,
        null
      );
      font-weight: if(
        meta.global-variable-exists(
          'footer__adress-company-font-weight',
          'base'
        ),
        helpers.get-font-weight(base.$footer__adress-company-font-weight),
        helpers.get-font-weight(bold)
      );
      color: if(
        meta.global-variable-exists(
          'footer__adress-company-font-color',
          'base'
        ),
        base.$footer__adress-company-font-color !important,
        null
      );
      line-height: if(
        meta.global-variable-exists(
          'footer__adress-company-line-height',
          'base'
        ),
        base.$footer__adress-company-line-height,
        null
      );
      display: inline-block;
      margin-bottom: 1.5em;

      @include breakpoint.media('≥s') {
        margin-bottom: 0;
      }
    }

    a {
      color: base.$footer__adress-link-color;
      text-decoration: none;
    }

    p {
      margin: 0;
      margin-top: 1.5em;

      a {
        display: inline-block;
        margin-bottom: 1.5em;

        &:hover {
          color: base.$footer__adress-link-color-hover;
          background: base.$footer__adress-link-background-hover;
        }
      }
    }

    @include breakpoint.media('≥s') {
      margin-right: auto;
      text-align: start;
      font-size: base.$footer__adress-font-size-s;
      line-height: base.$footer__adress-line-height-s;

      p {
        margin-top: 0;

        + span {
          display: inline-block;
          margin-top: 1em;
        }

        a {
          display: inline-block;
          margin-bottom: 0;
        }
      }
    }

    @include breakpoint.media('print') {
      white-space: nowrap;
      padding-right: 1em;
    }
  }
}
