img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0;
  vertical-align: top;
}

figure {
  margin: 0;

  img {
    width: 100%;
  }
}

caption,
figcaption {
  padding-top: 0.35em;
  font: var(--ks-font-interface-xs);
  font-style: italic;
}
