@use 'base/source/0-base/1-tools/scss/helpers';
@use 'base/source/0-base/1-tools/scss/breakpoint';
@use 'base/source/0-base/0-settings/selector';
@use 'bourbon/core/bourbon';
@use 'settings/visuals';

@use './slide-preview/visual-slide-preview';

.visual-slider {
  // hide preview on small screens
  .visual-slide--preview {
    @include breakpoint.media('<s') {
      /* critical:start */
      @include bourbon.hide-visually;
      /* critical:end */
    }
  }

  // hide bullets on large screens
  #{selector.$slider-bullet} {
    @include breakpoint.media('≥s') {
      /* critical:start */
      display: none;
      /* critical:end */
    }
  }

  #{selector.$slider-nav-root} {
    margin-top: 0.5em;

    @include breakpoint.media('≥s') {
      margin-top: 0;
      border-bottom: 1px solid visuals.$slider-nav__border-bottom-color;
    }
  }
}
