.c-form-check {
  --c-form-check--color: var(--ks-text-color-default);
  --c-form-check--font: var(--ks-font-interface-s);

  // Box
  --c-form-check__box--size: 1rem;
  --c-form-check__box--border: var(--ks-border-width-default) solid;
  --c-form-check__box--border-color: var(
    --ks-border-color-interface-interactive
  );
  --c-form-check__box--background: transparent;
  --c-form-check__box--background_checked: var(
    --ks-background-color-interface-interactive-selected
  );
  --c-form-check__box--border-color_hover: var(
    --ks-border-color-interface-interactive-hover
  );
  --c-form-check__box--border-color_focus: var(
    --ks-border-color-interface-interactive-active
  );
  --c-form-check__box--border-color_checked: var(
    --ks-border-color-interface-interactive-selected
  );
  --c-form-check__box--shadow_focus: 0 0 4px 0;
  --c-form-check_checkbox__box--border-radius: var(--ks-border-radius-control);
  --c-form-check_radio__box--border-radius: var(--ks-border-radius-circle);

  // Checkmark
  --c-form-check__checkmark--color: var(--ks-color-primary-inverted);
  --c-form-check_checkbox__checkmark--width: 2px;
  --c-form-check_radio__checkmark--size: 0.5rem;
}
