@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';

.real-estate-location {
  &__address {
    display: flex;
    align-items: center;
    margin-top: 2em;

    &__icon {
      margin-right: 1em;
    }
  }

  @include breakpoint.media('print') {
    .location-map {
      max-width: 50%;
    }
  }
}
