@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/contrast';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';
@use 'settings/share-bar';

.l-section--share-bar {
  // override default section styles
}

.share-bar {
  @include helpers.no-print;

  font-size: base.$font-size-small;

  > ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0 (-1 * share-bar.$item-margin);
  }

  .shariff-button {
    flex: 1 0 0;
    display: flex;
    margin: 0;

    @include breakpoint.media('≥s') {
      flex: 0 0 6rem;
    }

    a {
      border: 1px solid;
      margin: 0 share-bar.$item-margin 0.5rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      padding: share-bar.$item-padding 0.5rem;
      width: 100%;

      @include breakpoint.media('≥s') {
        flex-direction: row;
      }
    }

    .share_text {
      flex-grow: 1;
      text-align: center;
    }

    @each $service, $color in share-bar.$colors {
      &.#{$service} > a {
        @include contrast.yiq-contrasted($color, base.$color-black-75, white);

        border-color: $color;

        &:hover,
        &:focus {
          background-color: contrast.yiq-contrast-color(
            $color,
            darken($color, 15%),
            lighten($color, 15%),
            128
          );
        }
      }
    }
  }
}
