@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use './headline-vars';

$vars: meta.module-variables(headline-vars);
@include custom-properties.styles($vars);

h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--g-headline--font);
  font-weight: var(--g-headline--font-weight);
  text-transform: var(--g-headline--text-transform);
  color: var(--g-headline--color);
  margin: var(--g-headline--margin);

  @media print {
    page-break-after: avoid;
  }

  &:first-child {
    margin-top: 0;
  }

  a {
    text-decoration: none !important;
  }
}
