@use 'sass:meta';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use 'settings/base';
@use './headline-vars';

$vars: meta.module-variables(headline-vars);
@include custom-properties.styles($vars, true);

/* critical:start */
h1,
h2,
h3,
h4,
h5,
h6 {
  font: var(--g-headline--font);
  font-weight: var(--g-headline--font-weight);
  text-transform: var(--g-headline--text-transform);
  color: var(--g-headline--color);
  margin: var(--g-headline--margin);

  @include breakpoint.media('print') {
    page-break-after: avoid;
  }

  a {
    text-decoration: none !important;
  }
}
/* critical:end */
