$name-: 'g-headline' !default;

$host: (
  ':root': (
    color: var(--ks-text-color-default),
    font: var(--ks-font-display-m),
    font-weight: var(--ks-font-weight-bold),
    text-transform: null,
    margin: (
      xs: 0.75em 0 0.5em,
      s: 1.5em 0 1em,
    ),
  ),
  'h1': (
    font: var(--ks-font-display-xxl),
  ),
  'h2': (
    font: var(--ks-font-display-xl),
  ),
  'h3': (
    font: var(--ks-font-display-l),
  ),
) !default;
