@use '../../0-base/1-tools/scss/breakpoint';
@use '../../0-base/0-settings/selector';
@use 'settings/global';

.content-headline {
  #{selector.$template--content-30} & {
    @include breakpoint.media('≥m') {
      max-width: none;

      h2,
      h3 {
        font-size: 1.2em;
      }

      &__subheader {
        font-size: 1.1em;
      }
    }
  }
}
