/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.nav-main {
  /* critical:start */
  top: 3.35rem;
  /* critical:end */
}
@media print {
  .nav-main {
    display: none;
  }
}
.nav-main ul {
  /* critical:start */
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  /* critical:end */
}
.nav-main ul li {
  margin: 0;
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}
.nav-main ul li {
  display: block;
}
.nav-main details {
  /* critical:start */
  /* critical:end */
}
.nav-main details summary {
  /* critical:start */
  list-style: none;
  /* critical:end */
  cursor: pointer;
}
.nav-main details summary::-webkit-details-marker {
  /* critical:start */
  display: none;
  /* critical:end */
}
.nav-main details summary::before {
  /* critical:start */
  content: "";
  /* critical:end */
}
.nav-main summary {
  /* critical:start */
  display: flex;
  /* critical:end */
}
.nav-main summary::before {
  /* critical:start */
  display: none;
  /* critical:end */
}
.nav-main__item__link {
  /* critical:start */
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  /* critical:end */
}
.nav-main--level-1.nav-main__item--current, .nav-main--level-1.nav-main__item--active, .nav-main--level-2.nav-main__item--current, .nav-main--level-2.nav-main__item--active, .nav-main--level-3.nav-main__item--current, .nav-main--level-3.nav-main__item--active {
  color: #fff;
  background-color: #2e2e2e;
}
.nav-main__wrap {
  z-index: 1;
}
.main-header--variant-2 .nav-main__wrap {
  background-color: rgba(5, 5, 5, 0.25);
}
.nav-main__icon {
  /* critical:start */
  height: 1.7em;
  width: 1.7em;
  position: relative;
  padding-left: 0.14em;
  margin-left: auto;
  pointer-events: none;
  flex-shrink: 0;
  transition: transform 0.3s;
  /* critical:end */
}
@media (min-width: 40em) {
  .nav-main__icon {
    /* critical:start */
    top: 0.15em;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .nav-main__icon {
    /* critical:start */
    top: 0.065em;
    /* critical:end */
  }
}
.nav-main__list--level-1 [open] summary .nav-main__icon {
  transform: scaleY(-1);
}
@media (max-width: 66.99em) {
  .nav-main {
    /* critical:start */
    display: none;
    /* critical:end */
    position: fixed;
    z-index: 2000;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    background-color: #fff;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
@media (max-width: 66.99em) and (orientation: portrait) {
  .nav-main__list--level-1:last-of-type {
    padding-bottom: 5rem;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item .nav-main__item__link {
    /* critical:start */
    padding-right: 0.666rem;
    padding-left: 0.666rem;
    /* critical:end */
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    text-decoration: none;
    font-weight: 700;
  }
}
@media (max-width: 66.99em) and (min-width: 40em) {
  .nav-main__item .nav-main__item__link {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (max-width: 66.99em) and (min-width: 60em) {
  .nav-main__item .nav-main__item__link {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
@media (max-width: 66.99em) and (min-width: 40em) {
  .nav-main__item .nav-main__item__link {
    padding-top: 1.1em;
    padding-bottom: 1.1em;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--level-1 .nav-main__item__link {
    background-color: #fff;
    font-size: 1em;
    line-height: 1.5;
    text-transform: uppercase;
    color: #333333;
    border-bottom: none;
  }
  .nav-main__item--level-1 [open] summary {
    background-color: #999999;
  }
  .nav-main__item--level-1 [open] summary:focus, .nav-main__item--level-1 [open] summary:hover {
    background-color: rgba(5, 5, 5, 0.05);
    color: #050505;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--level-2 {
    border-bottom: 1px solid rgba(5, 5, 5, 0.1);
  }
  .nav-main__item--level-2 .nav-main__item__link {
    background-color: #fff;
    font-size: 1em;
    line-height: 1.5;
    text-transform: none;
    color: #333333;
    padding-left: 2em;
  }
}
@media (max-width: 66.99em) and (min-width: 40em) {
  .nav-main__item--level-2 .nav-main__item__link {
    padding-left: 2.5em;
  }
}
@media (max-width: 66.99em) and (min-width: 60em) {
  .nav-main__item--level-2 .nav-main__item__link {
    padding-left: 3em;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--level-2 .nav-main__icon {
    display: none;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--level-3 .nav-main__item__link {
    padding-left: 4em;
  }
}
@media (max-width: 66.99em) and (min-width: 40em) {
  .nav-main__item--level-3 .nav-main__item__link {
    padding-left: 5em;
  }
}
@media (max-width: 66.99em) and (min-width: 60em) {
  .nav-main__item--level-3 .nav-main__item__link {
    padding-left: 6em;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--level-2.nav-main__item--active > a, .nav-main__item--level-3.nav-main__item--active > a {
    background-color: rgba(5, 5, 5, 0.05);
  }
  .nav-main__item--level-2.nav-main__item--current > a, .nav-main__item--level-3.nav-main__item--current > a {
    background-color: rgba(5, 5, 5, 0.05);
    color: #333333;
  }
  .nav-main__item--level-2 .nav-main__item__link, .nav-main__item--level-3 .nav-main__item__link {
    font-weight: 400;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--meta-item {
    background: #fff;
  }
}
@media (max-width: 66.99em) and (min-width: 40em) {
  .nav-main__item--meta-item {
    display: none !important;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--meta-item .nav-meta__icon {
    margin-right: 0.65em;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--meta-item .nav-main__item__link {
    color: #666666;
    background-color: #fff;
    border-color: #fff;
    text-transform: none;
  }
}
@media (max-width: 66.99em) {
  .nav-main__item--footer-item {
    background: transparent;
  }
  .nav-main__item--footer-item .nav-main__item__link {
    color: #333333;
    background-color: transparent;
    border-color: #fff;
    text-transform: none;
  }
}
@media (max-width: 66.99em) {
  .nav-main::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 0.5em;
    pointer-events: none;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
  }
}
@media (min-width: 40em) {
  .nav-main {
    /* critical:start */
    top: 5.5rem;
    /* critical:end */
  }
  .header-is-scrolling .nav-main {
    top: 3.5rem;
  }
}
@media (min-width: 67em) {
  .nav-main {
    /* critical:start */
    top: 0;
    /* critical:end */
  }
  .nav-main__list--level-1 {
    /* critical:start */
    display: flex;
    flex-wrap: nowrap;
    /* critical:end */
  }
  .main-header--variant-2 .nav-main__list--level-1 {
    /* critical:start */
    /* critical:start */
    padding-right: 0.666rem;
    padding-left: 0.666rem;
    /* critical:end */
    max-width: 62rem;
    margin: auto;
    /* critical:end */
  }
}
@media (min-width: 67em) and (min-width: 40em) {
  .main-header--variant-2 .nav-main__list--level-1 {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 67em) and (min-width: 60em) {
  .main-header--variant-2 .nav-main__list--level-1 {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
@media (min-width: 67em) {
  .nav-main__list--level-1 + .nav-main__list--level-1 {
    /* critical:start */
    display: none;
    /* critical:end */
  }
}
@media (min-width: 67em) {
  .nav-main__list--level-1 ul[class=nav-main__list--level-2],
.nav-main__list--level-1 ul[class=nav-main__list--level-3] {
    padding-bottom: 1em;
  }
}
@media (min-width: 67em) {
  .nav-main__list--level-2, .nav-main__list--level-3 {
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 0;
    width: auto;
    min-width: 13.15em;
    max-width: 18.45em;
    color: #333333;
    background-color: #eeeeee;
  }
}
@media (min-width: 67em) {
  .nav-main__list--level-3 {
    left: 100%;
    top: 0;
    display: none;
  }
  .nav-main__list--level-3.nav-main__list--rtl {
    right: 100%;
    left: auto;
  }
}
@media (min-width: 67em) {
  .nav-main__list--rtl {
    right: 0;
    left: auto;
  }
}
@media (min-width: 67em) {
  .nav-main__item__link:hover, .nav-main__item__link:focus {
    color: !important;
    background-color: rgba(5, 5, 5, 0.05);
    outline: 0;
  }
  .nav-main__item--level-1 {
    /* critical:start */
    flex-shrink: 0;
    position: relative;
    display: block;
    /* critical:end */
    outline: 0;
  }
  .main-header--variant-1 .nav-main__item--level-1:last-child {
    /* critical:start */
    margin-right: -1em;
    /* critical:end */
  }
  .main-header--variant-2 .nav-main__item--level-1:first-child {
    /* critical:start */
    margin-left: -1em;
    /* critical:end */
  }
  .nav-main__item--level-1 summary .nav-main__item__link,
.nav-main__item--level-1 > .nav-main__item__link {
    /* critical:start */
    display: flex;
    height: 5.25rem;
    padding: 0 1.3em;
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 700;
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    transition: 0.2s;
    /* critical:end */
  }
  .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1 summary .nav-main__item__link,
.transparent-header:not(.header-is-scrolling) .nav-main__item--level-1 > .nav-main__item__link {
    color: #fff;
  }
  .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1 summary .nav-main__item__link:hover, .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1 summary .nav-main__item__link:focus,
.transparent-header:not(.header-is-scrolling) .nav-main__item--level-1 > .nav-main__item__link:hover,
.transparent-header:not(.header-is-scrolling) .nav-main__item--level-1 > .nav-main__item__link:focus {
    background-color: rgba(5, 5, 5, 0.05);
  }
  .header-is-scrolling .nav-main__item--level-1 summary .nav-main__item__link,
.header-is-scrolling .nav-main__item--level-1 > .nav-main__item__link {
    height: 2.63rem;
  }
  .nav-main__item--level-1 summary .nav-main__item__link {
    /* critical:start */
    padding-right: 1em;
    /* critical:end */
  }
  .nav-main__item--level-1 [open] > summary {
    background-color: #eeeeee;
  }
  .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1 [open] > summary {
    background-color: rgba(5, 5, 5, 0.07);
  }
  .nav-main__item--level-1.nav-main__item--active::after, .nav-main__item--level-1.nav-main__item--current::after {
    /* critical:start */
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 0.25rem;
    content: "";
    transition: 0.2s;
    background-color: #333333;
    /* critical:end */
  }
  .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1.nav-main__item--active::after, .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1.nav-main__item--current::after {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .nav-main__item--level-1.nav-main__item--active:hover::after, .nav-main__item--level-1.nav-main__item--active:focus::after, .nav-main__item--level-1.nav-main__item--current:hover::after, .nav-main__item--level-1.nav-main__item--current:focus::after {
    /* stylelint-disable max-nesting-depth */
    background-color: #333333;
    /* stylelint-enable max-nesting-depth */
  }
  .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1.nav-main__item--active:hover::after, .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1.nav-main__item--active:focus::after, .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1.nav-main__item--current:hover::after, .transparent-header:not(.header-is-scrolling) .nav-main__item--level-1.nav-main__item--current:focus::after {
    background-color: rgba(255, 255, 255, 0.5);
  }
  .nav-main__item--level-2, .nav-main__item--level-3 {
    position: relative;
  }
  .nav-main__item--level-2 .nav-main__item__link, .nav-main__item--level-3 .nav-main__item__link {
    display: flex;
    height: auto !important;
    padding: 0.63rem 1rem;
    font-size: 0.8em;
    line-height: 1.5;
    font-weight: 400;
    color: #333333;
    text-decoration: none;
    text-transform: none;
  }
  .nav-main__item--level-2 .nav-main__item__link:focus, .nav-main__item--level-2 .nav-main__item__link:hover, .nav-main__item--level-3 .nav-main__item__link:focus, .nav-main__item--level-3 .nav-main__item__link:hover {
    background-color: rgba(5, 5, 5, 0.05);
    color: #050505 !important;
  }
  .nav-main__item--level-2.nav-main__item--active, .nav-main__item--level-2.nav-main__item--current, .nav-main__item--level-3.nav-main__item--active, .nav-main__item--level-3.nav-main__item--current {
    background-color: rgba(5, 5, 5, 0.05);
  }
  .nav-main__item--level-2.nav-main__item--active > .nav-main__item__link, .nav-main__item--level-2.nav-main__item--current > .nav-main__item__link, .nav-main__item--level-3.nav-main__item--active > .nav-main__item__link, .nav-main__item--level-3.nav-main__item--current > .nav-main__item__link {
    color: #050505;
  }
  .nav-main__item--level-2:focus-within > .nav-main__list--level-3 {
    display: block;
  }
  .nav-main__item--level-2:hover > .nav-main__list--level-3 {
    display: block;
  }
}

.nav-main-toggle[aria-expanded=true] + .nav-main {
  display: block;
}