@use '../../../0-base/0-settings/selector';
@use 'bourbon/core/bourbon';
@use 'settings/base';

.slider__bullet {
  @include bourbon.size(0.8rem);

  align-self: center;
  border-radius: 50%;
  border: 1px solid base.$color-black-25;
  transition: inherit;
  margin: 0.25rem 0.5rem;
  display: inline-block;

  #{selector.$slider-nav-slide}--active & {
    background-color: base.$color-brand;
    border-color: base.$color-brand;
  }

  #{selector.$slider-nav-slide}:not(#{selector.$slider-nav-slide}--active) & {
    &:hover,
    &:focus {
      background-color: base.$color-black-10;
    }
  }
}
