@use 'bourbon/core/bourbon';

.c-slider__bullet {
  @include bourbon.size(var(--c-slider_bullet--size));

  align-self: center;
  border-radius: 50%;
  border: 1px solid var(--c-slider_bullet--outline-color);
  transition: inherit;
  margin: var(--c-slider_bullet--margin);
  display: inline-block;
  background: var(--c-slider_bullet--background);

  .c-slider-nav__slide--active & {
    border-color: var(--c-slider_bullet--outline-color-active);
    background: var(--c-slider_bullet--background-active);
  }

  .c-slider-nav__slide:not(.c-slider-nav__slide--active) & {
    &:hover,
    &:focus {
      background: var(--c-slider_bullet--background-hover);
    }
  }
}
