@use '../input-field/input-field';
@use 'bourbon/core/bourbon';
@use 'settings/base';

.input-field-wrap {
  position: relative;
  margin-top: 0.25em;

  .input-field {
    margin: 0;
  }
}

.input-field {
  @include input-field.input-field;

  &.form-item--error {
    @include bourbon.border-bottom-radius(0);
  }

  + .form-item--error {
    margin-top: 0;
    border-radius: 0;
    @include bourbon.border-bottom-radius(base.$input-field__border-radius);
  }
}
