/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.text-media::after {
  clear: both;
  content: "";
  display: block;
}
.text-media__gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem 0 0 -1rem;
}
.text-media__gallery::after {
  clear: both;
  content: "";
  display: block;
}
.text-media--above .text-media__gallery {
  padding-bottom: 1rem;
}
.text-media--below .text-media__gallery {
  padding-top: 1rem;
}
.text-media--center .text-media__gallery {
  justify-content: center;
}
.text-media--right .text-media__gallery {
  justify-content: flex-end;
}
.text-media--intext .text-media__gallery {
  padding-bottom: 1rem;
}
@media (min-width: 40em) {
  .text-media--intext .text-media__gallery {
    padding-bottom: 0.5rem;
    max-width: 50%;
    min-width: 0;
  }
}
@media print {
  .text-media--intext .text-media__gallery {
    width: 30%;
  }
}
@media (min-width: 40em) {
  .text-media--intext.text-media--left .text-media__gallery {
    float: left;
    padding-right: 1.5rem;
  }
}
@media (min-width: 40em) {
  .text-media--intext.text-media--right .text-media__gallery {
    float: right;
    padding-left: 1.5rem;
  }
}
.text-media__media {
  padding: 1rem 0 0 1rem;
}
.text-media__media--full,
.text-media__media--full > * {
  width: 100%;
}
@media (min-width: 40em) {
  .text-media--beside .text-media__text {
    overflow: hidden;
  }
}
@media print {
  .text-media--beside .text-media__text {
    overflow: visible;
  }
}
.text-media figure {
  display: table;
  table-layout: fixed;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .text-media figure {
    display: block;
  }
}
.text-media figure a {
  display: table-cell;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .text-media figure a {
    display: block;
  }
}
.text-media figure figcaption {
  table-layout: fixed;
  display: table-caption;
  caption-side: bottom;
  text-align: left;
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .text-media figure figcaption {
    display: block;
  }
}