@use 'settings/base/colors';

$card__font-size: 0.9em !default;
$card__font-size--xs: 1em !default;

$card__background: colors.$color-white !default;
$card__background--hover: colors.$color-black-7 !default;

$card__box-shadow: none !default;
$card__box-shadow--hover: none !default;

$card__border: none !default;

$card__preview-aspect-ratio: 75% !default;
// 100%; --> 1:1 | 56.25%; --> 16:9 | 75%; --> 4:3

$card__title-font-size: 1em !default;
$card__title-font-weight: regular !default;
$card__title-text-transform: none !default;
$card__title-color: inherit !default;

$card__attribute-term-font-weight: bold !default;
$card__attribute-term-font-size: 1.1em !default;
$card__attribute-term-color: inherit !default;

$card__attribute-description-font-weight: regular !default;
$card__attribute-description-font-size: 0.8em !default;
$card__attribute-description-color: colors.$color-black-50 !default;

$card__toggle-color: colors.$color-brand !default;
$card__toggle-size: 1.5em !default;
