$name-: 'c-radio';

$box: (
  '.c-radio': (
    size: 1rem,
    border: 1px solid var(--color-primary),
    background: var(--color-white),
  ),
) !default;

$box-checked: (
  '.c-radio': (
    background: var(--color-primary),
  ),
) !default;

$checkmark: (
  '.c-radio': (
    size: 0.5rem,
    color: var(--color-white),
  ),
) !default;
