@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/custom-properties';
@use '../../0-base/input-field';
@use './radio-vars';

$vars: meta.module-variables(radio-vars);
@include custom-properties.styles($vars);

.c-radio {
  @include input-field.wrapper($width: null);

  &__input {
    @include bourbon.hide-visually;

    &:disabled ~ * {
      opacity: 0.5;
    }
  }

  &__box {
    @include input-field.radio-check('.c-radio') {
      @include bourbon.size(var(--c-radio_checkmark--size));
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;
      content: '';
      display: block;
      background: var(--c-radio_checkmark--color);
      border-radius: 50%;
    }
  }

  &__label {
    margin-left: 0.5rem;
  }
}
