@use '../../../0-base/1-tools/scss/breakpoint';
@use '../../../0-base/1-tools/scss/helpers';
@use 'settings/base';

@mixin input-field {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: helpers.get-font-weight(regular);
  width: 100%;
  padding: 0.6rem 0.5rem 0.45rem;
  margin-top: 0.25em;
  border: base.$input-field__border-width solid base.$input-field__border-color;
  border-radius: base.$input-field__border-radius;
  background-color: base.$input-field__background-color;
  color: base.$input-field__color;
  appearance: none;
  outline: 0;
  vertical-align: bottom;

  &:focus {
    border-color: base.$input-field__focus-border-color;
  }

  @include breakpoint.media('≥s') {
    font-size: 0.9rem;
  }

  &.form-item--error {
    color: base.$input-field__error-color;
    border-color: base.$input-field__error-border-color;
  }
}
