@use 'settings/base/colors';

/// Item
$item-color:                    colors.$color-black !default;
$item-background-color:         colors.$color-black-10 !default;

/// Arrows
$arrow-color:                   colors.$color-black-50 !default;

/// Current Page
$item-color-current:            colors.$color-white !default;
$item-background-color-current: colors.$color-brand !default;
