@use 'base/source/0-base/0-settings/selector';
@use 'base/source/0-base/1-tools/scss/grid';
@use 'base/source/0-base/1-tools/scss/helpers';
@use 'base/source/0-base/1-tools/scss/sizes';
@use 'base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';
@use 'settings/global';
@use 'settings/visuals';
@use 'bourbon/core/bourbon';
@use 'sass:meta';

@use './visual__image';
@use './visual__content';
@use './visual__box';

@mixin pull-up($visual-height, $header-height, $important: false) {
  min-height: if(
    $important,
    $visual-height + $header-height !important,
    $visual-height + $header-height
  );
  margin-top: $header-height * -1;
}

.visual {
  /* critical:start */
  display: flex;
  flex-direction: column;
  position: relative;
  background: visuals.$background;
  z-index: 1;
  /* critical:end */

  @include breakpoint.media('<s') {
    /* critical:start */
    min-height: visuals.$min-height;
    /* critical:end */
  }

  @include breakpoint.media('≥s') {
    /* critical:start */
    min-height: visuals.$min-height-s;
    /* critical:end */
  }

  @include breakpoint.media('≥m') {
    /* critical:start */
    min-height: visuals.$min-height-m;
    /* critical:end */
  }

  @include breakpoint.media('≥l') {
    /* critical:start */
    min-height: visuals.$min-height-l;
    /* critical:end */
  }

  &--small {
    @include breakpoint.media('<s') {
      /* critical:start */
      min-height: visuals.$min-height-small !important;
      /* critical:end */
    }

    @include breakpoint.media('≥s') {
      /* critical:start */
      min-height: visuals.$min-height-small-s;
      /* critical:end */
    }

    @include breakpoint.media('≥m') {
      /* critical:start */
      min-height: visuals.$min-height-small-m;
      /* critical:end */
    }

    @include breakpoint.media('≥l') {
      /* critical:start */
      min-height: visuals.$min-height-small-l;
      /* critical:end */
    }
  }

  &--full {
    /* critical:start */
    min-height: 0 !important;
    height: calc(100vh - #{base.$header__height--s});

    @include breakpoint.media('≥s') {
      /* critical:start */
      height: calc(100vh - #{base.$header__height--m});
      /* critical:end */
    }

    @include breakpoint.media('≥nav-main') {
      /* critical:start */
      height: calc(100vh - #{base.header__height(nav-main)});
      /* critical:end */

      .transparent-header & {
        height: 100vh;
      }

      #{selector.$header--scrolling} & ~ & {
        height: calc(100vh - #{base.header__height(nav-main--scrolling)});
      }
    }
  }

  &--no-crop {
    /* critical:start */
    min-height: 0 !important;
    /* critical:end */
  }

  .transparent-header .page-intro &:first-child {
    @include breakpoint.media('≥nav-main') {
      /* critical:start */
      @include pull-up(visuals.$min-height-m, base.header__height(nav-main));
      /* critical:end */

      &.visual--small {
        /* critical:start */
        @include pull-up(
          visuals.$min-height-small-m,
          base.header__height(nav-main)
        );
        /* critical:end */
      }

      .visual__content {
        /* critical:start */
        padding-top: global.$padding-m + base.header__height(nav-main);
        /* critical:end */
      }
    }
  }

  &__image {
    @include visual__image.visual-image;
  }

  &__video {
    /* critical:start */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* critical:end */
  }

  &__content {
    @include visual__content.visual-content;
  }

  &__box {
    @include visual__box.visual-box;
  }

  &__topic {
    /* critical:start */
    font-size: visuals.$box__topic-font-size;
    line-height: visuals.$box__topic-line-height;
    font-weight: helpers.get-font-weight(visuals.$box__topic-font-weight);
    margin: visuals.$box__topic-margin;
    /* critical:end */

    @include breakpoint.media('≥s') {
      /* critical:start */
      font-size: visuals.$box__topic-font-size-s;
      /* critical:end */
    }

    @include breakpoint.media('≥m') {
      /* critical:start */
      // TODO: remove condition in version 10
      font-size: if(
        meta.global-variable-exists('box__topic-font-size-m', 'visuals'),
        visuals.$box__topic-font-size-m,
        null
      );
      /* critical:end */
    }
  }

  &__text {
    /* critical:start */
    font-size: visuals.$box__text-font-size;
    font-weight: visuals.$box__text-font-weight;
    line-height: visuals.$box__text-line-height;
    margin: visuals.$box__text-margin;
    /* critical:end */

    @include breakpoint.media('≥s') {
      /* critical:start */
      font-size: visuals.$box__text-font-size-s;
      /* critical:end */
    }

    @include breakpoint.media('≥m') {
      /* critical:start */
      // TODO: remove condition in version 10
      font-size: if(
        meta.global-variable-exists('box__text-font-size-m', 'visuals'),
        visuals.$box__text-font-size-m,
        null
      );
      /* critical:end */
    }

    p {
      /* critical:start */
      font-size: inherit;
      line-height: inherit;
      /* critical:end */

      &:last-child {
        /* critical:start */
        margin-bottom: 0;
        /* critical:end */
      }
    }
  }

  &__link {
    /* critical:start */
    margin-top: 1.5em;
    /* critical:end */
  }

  &__continue {
    /* critical:start */
    position: relative;
    text-align: center;
    margin-top: auto;
    /* critical:end */
  }

  &__continue-btn {
    /* critical:start */
    color: white;
    transition: transform 0.3s;
    transform: translate(0, -10px);
    /* critical:end */

    &:hover,
    &:focus {
      transform: translate(0);
    }

    .icon {
      /* critical:start */
      @include bourbon.size(3.5rem);
      /* critical:end */
    }
  }

  &__overlay {
    @include bourbon.position(absolute, 0);
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEUAAAD///8AAABzxoNxAAAAA3RSTlMAAJlzpe8+AAAAG0lEQVQY02NcwAAFjIxITAaszFG1A6w2FM4GAMpWDSVzkJMQAAAAAElFTkSuQmCC');
    background-size: 1rem;
  }
}
