@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use '@kickstartds/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/quotes';

.quote {
  display: flex;
  align-items: quotes.$align-items;

  @include breakpoint.media('≥m') {
    align-items: quotes.$align-items-m;
  }

  &__image-wrap {
    flex-shrink: 0;
    max-width: quotes.$image__max-width;

    @include breakpoint.media('≥m') {
      max-width: quotes.$image__max-width-m;
    }
  }

  &__content {
    position: relative;
    padding-left: quotes.$content__padding-left;

    @include breakpoint.media('≥m') {
      padding-left: quotes.$content__padding-left-m;
    }

    &::before {
      position: absolute;
      left: quotes.$icon__position-left;
      content: quotes.$icon__content;
      font-size: quotes.$icon__font-size;
      line-height: quotes.$icon__line-height;
      color: quotes.$icon__color;
      transform: quotes.$icon__transform;

      @include breakpoint.media('≥m') {
        left: quotes.$icon__position-left-m;
        font-size: quotes.$icon__font-size-m;
      }
    }
  }

  &__text {
    font-size: quotes.$text__font-size;
    margin-bottom: quotes.$text__margin-bottom;

    @include breakpoint.media('≥m') {
      font-size: quotes.$text__font-size-m;
      margin-bottom: quotes.$text__margin-bottom-m;
    }
  }

  &__source {
    font-size: quotes.$source__font-size;
    font-weight: helpers.get-font-weight(quotes.$source__font-weight);
    font-style: quotes.$source__font-style;
    text-transform: quotes.$source__text-transform;

    @include breakpoint.media('≥m') {
      font-size: quotes.$source__font-size-m;
    }
  }

  &__date {
    font-size: quotes.$date__font-size;
    font-weight: helpers.get-font-weight(quotes.$date__font-weight);
    font-style: quotes.$date__font-style;
    text-transform: quotes.$date__text-transform;

    @include breakpoint.media('≥m') {
      font-size: quotes.$date__font-size-m;
    }
  }
}
