$name-: 'c-count-up';

$host: (
  '.c-count-up': (
    text-align: center,
  ),
) !default;

$icon: (
  '.c-count-up': (
    size: 3rem,
    color: var(--g-text--color),
    margin-bottom: 1rem,
  ),
) !default;

$number: (
  '.c-count-up': (
    margin: 0 0 0.5em,
    font: var(--font-ui-xl),
    font-weight: var(--font-weight-bold),
    color: var(--g-text--color),
  ),
) !default;

$topic: (
  '.c-count-up': (
    margin: 0 0 0.5em,
    font: var(--g-topic--font),
    font-weight: var(--g-topic--font-weight),
    color: var(--g-topic--color),
  ),
) !default;

$text: (
  '.c-count-up': (
    font: null,
  ),
) !default;
