$name-: 'c-count-up';

$host: (
  '.c-count-up': (
    text-align: center,
  ),
) !default;

$icon: (
  '.c-count-up': (
    size: 3rem,
    color: var(--ks-text-color-default),
    margin-bottom: 1rem,
  ),
) !default;

$number: (
  '.c-count-up': (
    margin: 0 0 0.5em,
    font: var(--ks-font-ui-xl),
    font-weight: var(--ks-font-weight-bold),
    color: var(--ks-text-color-default),
  ),
) !default;

$topic: (
  '.c-count-up': (
    margin: 0 0 0.5em,
    font: var(--ks-font-display-l),
    font-weight: var(--ks-font-weight-bold),
    color: var(--ks-text-color-default),
  ),
) !default;

$text: (
  '.c-count-up': (
    font: null,
  ),
) !default;
