@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/real-estate';

.real-estate-cards {
  @include breakpoint.media('≥s') {
    font-size: 0.7em;
  }

  .l-main-wrap--narrow & {
    @include breakpoint.media('≥m') {
      font-size: 0.8em;
    }
  }

  &--list {
    $gutter: real-estate.$cards__gutter;
    display: grid;
    grid-template-columns: repeat(
      auto-fill,
      minmax(real-estate.$cards__size, 1fr)
    );
    margin: $gutter / -2;

    > * {
      padding: $gutter / 2;
      background-clip: content-box;
    }

    @include helpers.browser(ie11) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      > * {
        width: 300px;
        height: auto;
      }
    }
  }
}
