.c-table {
  --c-table--font: var(--ks-font-copy-s);
  --c-table--font-weight: var(--ks-font-weight-regular);
  --c-table--cell-padding: 0.5rem 1.5rem 0.5rem 0.25rem;

  // Header
  --c-table__header--font: var(--ks-font-display-s);
  --c-table__header--font-weight: var(--ks-font-weight-bold);

  // Border
  --c-table_border--border: var(--ks-border-width-default) solid
    var(--ks-border-color-interface);

  // Zebra
  --c-table_zebra--background-odd: var(--ks-background-color-accent);
  --c-table_zebra--background-even: transparent;

  // Caption
  --c-table__caption--font: var(--ks-font-interface-xs);
  --c-table__caption--font-weight: null;
  --c-table__caption--font-style: italic;
}
