@use '../../0-base/0-settings/selector';
@use '../../0-base/1-tools/scss/helpers';
@use '../../0-base/1-tools/scss/sizes';
@use '../../0-base/1-tools/scss/breakpoint';
@use 'bourbon/core/bourbon';
@use 'settings/base';
@use 'settings/global';
@use 'sass:meta';

.nav-toggle {
  $ease: ease;
  $duration: 300ms;

  @include helpers.no-print;
  @include sizes.global-padding;

  /* critical:start */
  height: base.header__height(default);
  position: fixed;
  top: 0;
  right: global.$padding;
  box-sizing: content-box;
  transition: top 0.15s;
  /* critical:end */

  @include breakpoint.media('≥s') {
    /* critical:start */
    top: base.$nav-meta__item-height;
    /* critical:end */

    #{selector.$header--scrolling} & {
      top: if(base.$hide-meta-nav-on-scroll-s, 0, null);
    }
  }

  @include breakpoint.media('≥nav-main') {
    /* critical:start */
    display: none;
    /* critical:end */
  }

  &__label {
    /* critical:start */
    @include bourbon.hide-visually;
    /* critical:end */
  }

  &__icon {
    /* critical:start */
    position: relative;
    cursor: pointer;
    height: 36px;
    width: 30px;
    transform: scale(0.7);
    /* critical:end */

    @include breakpoint.media('≥s') {
      /* critical:start */
      transform: none;
      /* critical:end */
    }

    &::before,
    &::after {
      /* critical:start */
      content: '';
      /* critical:end */
    }

    &__middle,
    &::before,
    &::after {
      /* critical:start */
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: currentColor;
      /* critical:end */
    }

    &__middle {
      /* critical:start */
      top: 50%;
      margin-top: -1.5px;
      /* critical:end */
    }

    &::before {
      /* critical:start */
      top: 6px;
      /* critical:end */
      transition: top ($duration/2) $ease ($duration/2),
        transform $ease ($duration/2);
    }

    &::after {
      /* critical:start */
      bottom: 6px;
      /* critical:end */
      transition: bottom ($duration/2) $ease ($duration/2),
        transform $ease ($duration/2);
    }
  }

  &[aria-expanded='true'] {
    .nav-toggle__icon {
      &__middle {
        display: none;
      }

      &::before {
        top: 17px;
        transition: top $ease ($duration/2),
          transform ($duration/2) $ease ($duration/2);
        transform: rotate(-45deg);
      }

      &::after {
        bottom: 16px;
        transition: bottom $ease ($duration/2),
          transform ($duration/2) $ease ($duration/2);
        transform: rotate(45deg);
      }
    }
  }
}
