@use 'settings/base';

$news-latest__date-font-size:                     base.$font-size-small !default;
$news-latest__date-font-weight:                   regular !default;
$news-latest__date-color:                         base.$color-black-50 !default;

$news-latest__headline-font-size:                 1.6em !default;
$news-latest__headline-font-weight:               bold !default;
$news-latest__headline-line-height:               1.2 !default;
$news-latest__headline-color:                     base.$color-black !default;
$news-latest__headline-color-hover:               base.$color-black !default;
$news-latest__headline-padding:                   0 !default;
