$name-: 'c-storytelling' !default;

$host: (
  '.c-storytelling': (
    background-color: null,
    color: var(--ks-text-color-default),
    vertical-padding: var(--ks-spacing-xl),
    horizontal-padding: var(--ks-spacing-m),
  ),
  '.c-headline': (
    margin-bottom: var(--c-headline--margin),
  ),
) !default;
