/* stylelint-disable no-descending-specificity */
@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use './container';
@use './storytelling-vars';

$vars: meta.module-variables(storytelling-vars);
@include custom-properties.styles($vars);
@include container.wrapper;

.c-storytelling {
  display: flex;
  flex-direction: column;
  background-color: var(--c-storytelling--background-color);
  color: var(--c-storytelling--color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: var(--c-storytelling--vertical-padding)
    var(--c-storytelling--horizontal-padding);

  @include container.size('≥', 640px) {
    flex-direction: row;
  }

  &--full {
    padding: 0;

    img {
      width: 100%;
    }
  }

  &__image {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .c-storytelling--full & {
      margin-bottom: 0;
    }

    @include container.size('≥', 640px) {
      padding-right: var(--c-storytelling--horizontal-padding);
      margin-bottom: 0;

      .c-storytelling--full & {
        padding-right: 0;
      }
    }

    @include container.size('≥', 960px) {
      // margin-bottom: 0;

      .c-storytelling--full & {
        padding-right: 0;
      }
    }

    &--top {
      align-items: flex-start;
    }

    &--top-edge {
      align-items: flex-start;

      img {
        margin-top: calc(-1 * var(--c-storytelling--vertical-padding));

        @include container.size('<', 640px) {
          .c-storytelling--order-mobile-image-last & {
            margin-top: 0;
          }
        }
      }
    }

    &--bottom {
      align-items: flex-end;
    }

    &--bottom-edge {
      align-items: flex-end;

      img {
        .c-storytelling--order-mobile-image-last & {
          margin-bottom: calc(-1 * var(--c-storytelling--vertical-padding));
        }

        @include container.size('≥', 640px) {
          margin-bottom: calc(-1 * var(--c-storytelling--vertical-padding));
        }
      }
    }

    &--left {
      justify-content: flex-start;
    }

    &--left-edge {
      justify-content: flex-start;

      img {
        margin-left: calc(-1 * var(--c-storytelling--horizontal-padding));
      }
    }

    &--right {
      justify-content: flex-end;
    }

    &--right-edge {
      justify-content: flex-end;

      img {
        margin-right: calc(-1 * var(--c-storytelling--horizontal-padding));
      }
    }

    .c-storytelling--order-mobile-image-last & {
      @include container.size('<', 640px) {
        order: 2;
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }

    .c-storytelling--order-desktop-image-last & {
      @include container.size('≥', 640px) {
        order: 2;
        padding-right: 0;
        padding-left: var(--c-storytelling--horizontal-padding);
      }
    }

    .c-storytelling--full &,
    .c-storytelling--full.c-storytelling--order-desktop-image-last & {
      padding: 0;

      @include container.size('≥', 640px) {
        padding: 0;
      }

      @include container.size('≥', 960px) {
        padding: 0;
      }
    }

    .c-storytelling--sixteen-to-nine & {
      &::before {
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
      }
    }

    .c-storytelling--four-to-three & {
      &::before {
        padding-top: 75%; /* 4:3 Aspect Ratio */
      }
    }

    .c-storytelling--three-to-two & {
      &::before {
        padding-top: 66%; /* 3:2 Aspect Ratio */
      }
    }

    .c-storytelling--square & {
      &::before {
        padding-top: 100%; /* 1:1 Aspect Ratio */
      }
    }

    .c-storytelling--sixteen-to-nine &,
    .c-storytelling--four-to-three &,
    .c-storytelling--three-to-two &,
    .c-storytelling--square & {
      position: relative;

      &::before {
        content: '';
        float: left;
      }

      img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__box {
    display: flex;
    flex: 1 1 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    &:only-child {
      --c-storytelling--horizontal-padding: 0;
    }

    @include container.size('≥', 640px) {
      padding-left: var(--c-storytelling--horizontal-padding);
    }

    &--top {
      align-items: flex-start;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-start;

      @include container.size('≥', 640px) {
        justify-content: flex-end;
      }
    }

    .c-storytelling--full & {
      padding: var(--c-storytelling--vertical-padding)
        var(--c-storytelling--horizontal-padding);
    }

    .c-storytelling--order-desktop-image-last & {
      padding-left: 0;

      @include container.size('≥', 640px) {
        padding-right: var(--c-storytelling--horizontal-padding);
      }
    }

    .c-storytelling--full.c-storytelling--order-desktop-image-last & {
      padding-left: var(--c-storytelling--horizontal-padding);
      padding-right: var(--c-storytelling--horizontal-padding);
    }

    &__content {
      max-width: 36.85em;
      width: auto;

      &--center {
        text-align: center;
      }

      &[style] {
        .c-headline > * {
          &,
          a,
          a:not([class]) {
            color: inherit;
          }
        }

        .c-rich-text {
          color: inherit;
        }
      }
    }

    .c-headline {
      max-width: none;
    }
  }

  &__text {
    margin-bottom: 1em;
  }
}
