$name-: 'l-section';

$host: (
  ':root, [ks-inverted]': (
    content-width-narrow: 46.5rem,
    content-width-default: 62rem,
    content-width-wide: 75rem,
    content-padding: var(--ks-spacing-m),
    background: var(--ks-background-color-default),
    space: var(--ks-spacing-xxl),
    space-small: calc(var(--l-section--space) / 2),
  ),
  '.l-section--accent': (
    background: var(--ks-background-color-accent),
  ),
) !default;

$container: (
  '.l-section__container': (
    gutter: var(--ks-spacing-m),
  ),
  '.l-section__container--gutter-large': (
    gutter: var(--ks-spacing-xl),
  ),
  '.l-section__container--gutter-small': (
    gutter: var(--ks-spacing-xs),
  ),
  '.l-section__container--gutter-none': (
    gutter: 0,
  ),
) !default;

$col: (
  '.l-section__container': (
    min-width: 18rem,
    max-width: 1fr,
    repeat: 'auto-fit',
  ),
  '.l-section__container--tile': (
    repeat: 'auto-fill',
  ),
  '.l-section__container--list': (
    repeat: 1,
  ),
) !default;
