@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use '@kickstartds/core/source/core/breakpoint';
@use '../../1-tools/scss/anchor';
@use './section-vars';

$vars: meta.module-variables(section-vars);
@include custom-properties.styles($vars, true);

.l-section {
  @include anchor.anchor-target;

  /* critical:start */
  padding: var(--l-section--space) 0;
  background: var(--l-section--background);
  box-sizing: border-box;
  /* critical:end */

  &--space-before-small {
    padding-top: var(--l-section--space-small);
  }

  &--space-before-none {
    padding-top: 0;
  }

  &--space-after-small {
    padding-bottom: var(--l-section--space-small);
  }

  &--space-after-none {
    padding-bottom: 0;
  }

  &__container {
    /* critical:start */
    padding: 0 var(--g-content-padding);
    margin: auto;
    width: 100%;
    max-width: var(--g-content-width-default);
    display: grid;
    // stylelint-disable scss/no-global-function-names
    grid-template-columns: repeat(
      var(--l-section_col--repeat),
      minmax(
        min(var(--l-section_col--min-width), 100%),
        var(--l-section_col--max-width)
      )
    );
    // stylelint-enable scss/no-global-function-names
    grid-gap: var(--l-section_container--gutter);
    /* critical:end */

    &--narrow {
      /* critical:start */
      max-width: var(--g-content-width-narrow);
      /* critical:end */
    }

    &--wide {
      /* critical:start */
      max-width: var(--g-content-width-wide);
      /* critical:end */
    }

    &--max {
      @include breakpoint.media('≥m') {
        /* critical:start */
        max-width: 100%;
        /* critical:end */
      }
    }

    &--full {
      /* critical:start */
      padding: 0;
      /* critical:end */

      @include breakpoint.media('≥m') {
        /* critical:start */
        max-width: 100%;
        /* critical:end */
      }
    }
  }
}
