@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use '../../1-tools/scss/anchor';
@use './section-vars';

$vars: meta.module-variables(section-vars);
@include custom-properties.styles($vars);

.l-section {
  @include anchor.anchor-target;

  padding: var(--l-section--space) 0;
  background: var(--l-section--background);
  box-sizing: border-box;

  &--space-before-small {
    padding-top: var(--l-section--space-small);
  }

  &--space-before-none {
    padding-top: 0;
  }

  &--space-after-small {
    padding-bottom: var(--l-section--space-small);
  }

  &--space-after-none {
    padding-bottom: 0;
  }

  &__container {
    padding: 0 var(--g-content-padding);
    margin: auto;
    width: 100%;
    max-width: var(--g-content-width-default);
    display: grid;
    grid-template-columns: repeat(
      var(--l-section_col--repeat),
      minmax(
        min(var(--l-section_col--min-width), 100%),
        var(--l-section_col--max-width)
      )
    );
    grid-gap: var(--l-section_container--gutter);

    &--narrow {
      max-width: var(--g-content-width-narrow);
    }

    &--wide {
      max-width: var(--g-content-width-wide);
    }

    &--max {
      max-width: 100%;
    }

    &--full {
      padding: 0;
      max-width: 100%;
    }
  }
}
