$name-: 'l-section';
$host: (
  '.l-section': (
    content-padding: var(--ks-spacing-m),
    background-color_default: var(--ks-background-color-default),
    background-color_accent: var(--ks-background-color-accent),
    background-color_bold: var(--ks-color-fg-alpha-4),
    space_default: var(--ks-spacing-xxl),
    space_small: calc(var(--l-section--space_default) / 2),
    gutter_none: 0,
    gutter_small: var(--ks-spacing-xs),
    gutter_default: var(--ks-spacing-m),
    gutter_large: var(--ks-spacing-xl),
  ),
) !default;

$content: (
  '.l-section': (
    min-width: var(--l-section_tile-width_default),
    max-width: 1fr,
    repeat_default: 'auto-fit',
    repeat_tile: 'auto-fill',
    repeat_list: 1,
    tile-width_smallest: 14rem,
    tile-width_default: 18rem,
    tile-width_medium: var(--l-section--content-width-narrow),
    tile-width_large: var(--l-section--content-width-default),
    tile-width_largest: var(--l-section--content-width-wide),
    width_narrow: 46.5rem,
    width_default: 62rem,
    width_wide: 75rem,
    width_max: 120rem,
    width_full: 120rem,
  ),
) !default;

$buttons: (
  '.l-section': (
    space-before: var(--l-section--gutter),
  ),
) !default;

$slider-arrow: (
  '.l-section': (
    size: 2.5rem,
    padding: var(--ks-spacing-xs),
    color: var(--ks-color-primary),
    opacity: 0.6,
    opacity_disabled: 0.3,
    opacity_hover: 0.9,
    background: var(--ks-background-color-interface-interactive),
  ),
) !default;
