@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use '../helpers/anchor';
@use './section-vars';
@use './container';

$vars: meta.module-variables(section-vars);
@include custom-properties.styles($vars);
@include container.wrapper('section');

.l-section {
  @include anchor.anchor-target;

  padding: var(--l-section--space-default) 0;
  background: var(--l-section--background);
  box-sizing: border-box;

  &--space-before-small {
    padding-top: var(--l-section--space-small);
  }

  &--space-before-none {
    padding-top: 0;
  }

  &--space-after-small {
    padding-bottom: var(--l-section--space-small);
  }

  &--space-after-none {
    padding-bottom: 0;
  }

  &__content {
    margin: auto;
    padding: 0 var(--l-section--content-padding);
    max-width: var(--l-section--content-width-default);

    &--max {
      max-width: var(--l-section--content-width-max);
    }

    &--full {
      max-width: var(--l-section--content-width-full);
      padding: 0;
    }
  }

  &__container {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(
      var(--l-section_col--repeat),
      minmax(
        min(var(--l-section_col--min-width), 100%),
        var(--l-section_col--max-width)
      )
    );
    grid-gap: var(--l-section--gutter);

    &--default {
      max-width: var(--l-section--content-width-default);
    }

    &--left {
      margin-left: 0;
    }

    &--right {
      margin-right: 0;
    }
  }

  &__content,
  &__container {
    width: 100%;

    &--narrow {
      max-width: var(--l-section--content-width-narrow);
    }
    &--wide {
      max-width: var(--l-section--content-width-wide);
    }
  }
}
