@use 'sass:meta';
@use '../helpers/anchor';
@use './section-vars';
@use './container';

@include container.wrapper('section');

.l-section {
  @include anchor.anchor-target;

  --l-section_container--width: var(--l-section__content--width_default);
  --l-section--background-color: var(--l-section--background-color_default);

  @each $width in ('narrow', 'wide', 'max', 'full') {
    &--#{$width} {
      --l-section_container--width: var(--l-section__content--width_#{$width});
    }
  }

  padding: var(--l-section--space_default) 0;
  background: var(--l-section--background-color);

  &--bold {
    --l-section--background-color: var(--l-section--background-color_bold);
  }

  &--accent {
    --l-section--background-color: var(--l-section--background-color_accent);
  }

  &--space-before-small {
    padding-top: var(--l-section--space_small);
  }

  &--space-before-none {
    padding-top: 0;
  }

  &--space-after-small {
    padding-bottom: var(--l-section--space_small);
  }

  &--space-after-none {
    padding-bottom: 0;
  }

  &__container {
    margin: auto;
    max-width: var(--l-section_container--width);
    box-sizing: content-box;
    padding: 0 var(--l-section__content--padding);

    .l-section--full &--content {
      padding: 0;
    }
  }

  &__content {
    --l-section__content--width: var(--l-section_container--width);

    @each $width in ('narrow', 'default', 'wide') {
      &--#{$width} {
        --l-section__content--width: var(--l-section__content--width_#{$width});
      }
    }

    @each $tileWidth in ('smallest', 'medium', 'large', 'largest') {
      &--tiles-#{$tileWidth} {
        --l-section_col--min-width: var(
          --l-section__content--tile-width_#{$tileWidth}
        );
      }
    }

    margin: auto;
    box-sizing: border-box;
    max-width: min(
      var(--l-section_container--width),
      var(--l-section__content--width)
    );

    .l-section__container--content & {
      --l-section_col--width: minmax(
        min(var(--l-section_col--min-width), 100%),
        var(--l-section_col--max-width)
      );
      display: grid;
      grid-template-columns: repeat(
        var(--l-section_col--repeat),
        var(--l-section_col--width)
      );
      grid-gap: var(--l-section--gutter);
    }

    .l-section__container--buttons:not(:first-child) & {
      margin-top: var(--l-section__buttons--space-before);
    }

    &--slider {
      grid-auto-columns: var(--l-section_col--width);
      grid-auto-flow: column;

      &::after {
        content: '';
        width: calc(
          var(--l-section__content--padding) - var(--l-section--gutter)
        );
        min-width: 0.1px;
      }
    }

    &--left {
      margin-left: 0;
    }

    &--right {
      margin-right: 0;
    }
  }

  &__slider {
    overflow: auto;

    /* Hide scrollbar */
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    a,
    button,
    img {
      -webkit-user-drag: none;
    }
  }

  &__slider-nav {
    display: flex;
    justify-content: center;
    pointer-events: none;

    &--overlay {
      left: 0;
      right: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &--below-edge,
    &--overlay {
      justify-content: space-between;
    }
  }

  &__slider-arrow {
    pointer-events: auto;
    padding: var(--l-section__slider-arrow--padding);
    border-radius: var(--l-section__slider-arrow--border-radius);
    color: var(--l-section__slider-arrow--color);
    background: var(--l-section__slider-arrow--background);
    opacity: var(--l-section__slider-arrow--opacity);
    transition: var(--ks-duration-fast);
    visibility: hidden;

    &:hover {
      opacity: var(--l-section__slider-arrow--opacity_hover);
    }

    &:disabled {
      opacity: var(--l-section__slider-arrow--opacity_disabled);
    }

    &--back {
      .l-section__slider-nav--overlay & {
        margin-left: var(--l-section__content--padding);
      }
    }

    &--forward {
      .l-section__slider-nav--overlay & {
        margin-right: var(--l-section__content--padding);
      }
    }

    .icon {
      width: var(--l-section__slider-arrow--size);
      height: var(--l-section__slider-arrow--size);
    }
  }
}
