/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
:root {
  --rm-header-height: 3.35rem;
}
@media (min-width: 40em) {
  :root {
    --rm-header-height: 5.5rem;
  }
}
@media (min-width: 67em) {
  :root {
    --rm-header-height: 7.25rem;
  }
}

@media (min-width: 40em) {
  .header-is-scrolling {
    --rm-header-height: 3.5rem;
  }
}

@media (min-width: 67em) {
  .header-is-scrolling {
    --rm-header-height: 2.63rem;
  }
}

.l-section {
  /* critical:start */
  padding-top: 2rem;
  /* critical:end */
  /* critical:start */
  padding-bottom: 2rem;
  /* critical:end */
  scroll-margin-top: var(--rm-header-height);
  /* critical:start */
  font-size: 1rem;
  background-color: #fff;
  box-sizing: content-box;
  /* critical:end */
}
@media (min-width: 40em) {
  .l-section {
    /* critical:start */
    padding-top: 3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .l-section {
    /* critical:start */
    padding-top: 4rem;
    /* critical:end */
  }
}
@media (min-width: 40em) {
  .l-section {
    /* critical:start */
    padding-bottom: 3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .l-section {
    /* critical:start */
    padding-bottom: 4rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .template__sidebar .l-section {
    /* critical:start */
    font-size: 0.8rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .template__content .l-section {
    /* critical:start */
    width: 100%;
    /* critical:end */
  }
}
.l-section--bg-1 {
  /* critical:start */
  background-color: #eeeeee;
  /* critical:end */
}
.l-section--space-before-small {
  padding-top: 0.5rem;
}
@media (min-width: 40em) {
  .l-section--space-before-small {
    padding-top: 1rem;
  }
}
@media (min-width: 60em) {
  .l-section--space-before-small {
    padding-top: 2rem;
  }
}
.l-section--space-after-small {
  padding-bottom: 0.5rem;
}
@media (min-width: 40em) {
  .l-section--space-after-small {
    padding-bottom: 1rem;
  }
}
@media (min-width: 60em) {
  .l-section--space-after-small {
    padding-bottom: 2rem;
  }
}
.l-section--space-before-none {
  padding-top: 0 !important;
}
.l-section--space-after-none {
  padding-bottom: 0 !important;
}

.l-main-wrap {
  /* critical:start */
  max-width: 62rem;
  margin: auto;
  position: relative;
  box-sizing: border-box;
  /* critical:start */
  padding-right: 0.666rem;
  padding-left: 0.666rem;
  /* critical:end */
  width: 100%;
  /* critical:end */
}
@media (min-width: 40em) {
  .l-main-wrap {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .l-main-wrap {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .l-main-wrap--full-gap {
    /* critical:start */
    max-width: 100%;
    /* critical:end */
  }
}
.l-main-wrap--full {
  padding: 0;
}
@media (min-width: 60em) {
  .l-main-wrap--full {
    /* critical:start */
    max-width: 100%;
    /* critical:end */
  }
}
.l-main-wrap--narrow {
  /* critical:start */
  /* critical:end */
}
@media (min-width: 40em) {
  .l-main-wrap--narrow {
    max-width: 43.4rem;
    margin: auto;
  }
  .template__content .l-main-wrap--narrow {
    max-width: 70%;
  }
}