@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/0-settings/selector';
@use 'settings/global';

#{selector.$template--content-100} {
  .product-teaser {
    &:not(.product-teaser--full-width) {
      @include breakpoint.media('≥m') {
        @include grid.grid-columns(8);
        @include grid.grid-push(2);
      }
    }

    &--large {
      &:not(.product-teaser--full-width) {
        @include breakpoint.media('≥m') {
          @include grid.grid-columns(12);
          @include grid.grid-push(0);
        }
      }
    }
  }

  .product-slider {
    margin-left: global.$padding;
    width: calc(100% + #{global.$padding * 2});

    @include breakpoint.media('≥s') {
      margin-left: global.$padding-s;
      width: calc(100% + #{global.$padding-s * 2});
    }

    @include breakpoint.media('≥m') {
      @include grid.grid-columns(8);
      @include grid.grid-push(2);

      width: auto;

      &--large {
        @include grid.grid-columns(12);
        @include grid.grid-push(0);
      }
    }
  }

  .product-detail {
    &__description,
    &__data,
    &__downloads {
      @include breakpoint.media('≥m') {
        @include grid.grid-columns(8);
        @include grid.grid-push(2);
      }
    }
  }
}
