/// # Global z-index defintion


$slider-arrows-zindex: 100 !default;

$dropdown-zindex: 150 !default;

$introvisual-zindex: 500 !default;

$scroll-to-top-zindex: 1500 !default;

$nav-main-mobile-zindex: 2000 !default;

$header-zindex: 2500 !default;

$sidebar-zindex: 2950 !default;
$sidebar-overlay-zindex: $sidebar-zindex - 1 !default;
$skip_nav_zindex: $sidebar-zindex + 1 !default;

$lightbox-overlay-zindex: 4500 !default;

$search-overlay-zindex: 5000 !default;
$search-suggestion-zindex: 5100 !default;
