// CARDS

@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/0-settings/selector';
@use 'settings/base';

.product-cards {
  @include grid.grid-container();

  &--col-2 {
    @include breakpoint.media('≥s') {
      @include grid.grid-cols-per-row(2);
    }

    @include breakpoint.media('≥m') {
      @include grid.grid-container(1.5rem);
    }
  }

  &--col-3 {
    @include breakpoint.media('≥s') {
      @include grid.grid-container(0.5rem);
      @include grid.grid-cols-per-row(3);

      font-size: 0.85em;
    }

    @include breakpoint.media('≥m') {
      @include grid.grid-container(1rem);

      font-size: 0.9em;
    }
  }

  &--col-4 {
    @include breakpoint.media('≥s') {
      @include grid.grid-container(0.5rem);
      @include grid.grid-cols-per-row(3);

      font-size: 0.85em;
    }

    @include breakpoint.media('≥m') {
      @include grid.grid-cols-per-row(4);

      font-size: 0.8em;
    }
  }

  &--col-5 {
    @include breakpoint.media('≥s') {
      @include grid.grid-container(0.5rem);
      @include grid.grid-cols-per-row(3);

      font-size: 0.85em;
    }

    @include breakpoint.media('≥m') {
      @include grid.grid-container(0.25rem);
      @include grid.grid-cols-per-row(5);

      font-size: 0.75em;
    }
  }

  // CARD Item
  &__item {
    margin-bottom: 1em;

    .product-cards--col-1 & {
      margin-bottom: 0;
    }

    @include breakpoint.media('≥s') {
      margin-bottom: 0;
    }

    &__inner {
      box-sizing: border-box;
      padding: 1em 0;
      height: 100%;
      width: 100%;

      @include breakpoint.media('≥s') {
        padding: 1em;
      }

      .product-cards--outline & {
        border: 1px solid base.$color-black-10;
        padding: 1em;

        #{selector.$section--bg-1} & {
          border-color: base.$color-black-15;
        }
      }

      .product-cards--col-1 & {
        padding: 2em 0;
        border-bottom: 1px solid base.$color-black-10;

        @include breakpoint.media('≥m') {
          padding: 2em;
        }
      }
    }
  }

  &__item--clickable {
    &:hover {
      cursor: pointer;
      background: none;

      @include breakpoint.media('≥m') {
        background-color: base.$color-black-7;
        background-clip: content-box;
      }
    }
  }
}
