img {
  /* critical:start */
  max-width: 100%;
  height: auto;
  /* critical:end */
  margin-bottom: 0;
  vertical-align: top;
}

figure {
  margin: 0;

  img {
    width: 100%;
  }
}

caption,
figcaption {
  padding-top: 0.35em;
  font: var(--font-ui-xs);
  font-style: italic;
}
