@use '../../0-base/1-tools/scss/breakpoint';
@use 'settings/base';

/* critical:start */
a {
  text-decoration: none;
  color: inherit;

  &:not([class]) {
    transition: 0.15s;
    color: base.$link__color;
    text-decoration: base.$link__text-decoration;

    @include breakpoint.media('print') {
      text-decoration: none;
    }

    &:focus,
    &:hover {
      color: base.$link__color-hover;
      text-decoration: base.$link__text-decoration-hover;
      background-color: base.$link__background-color-hover;
    }

    @include breakpoint.media('print') {
      color: inherit;
    }
  }
}
/* critical:end */

.external-link,
.external-link-new-window {
  &[target='_blank']::after {
    display: inline-block;

    padding: 0 0.1em 0 0.2em;

    font-size: 0.9em;

    content: '\25F3';
    vertical-align: top;
    text-decoration: none;
  }
}
