$name-: 'g-topic' !default;

$host: (
  ':root': (
    font: var(--font-display-l),
    font-weight: var(--font-weight-bold),
    text-transform: null,
  ),
  ':root, .g-inverted-reset': (
    color: var(--color-black),
  ),
  '.g-inverted': (
    color: var(--color-white),
  ),
) !default;
