@use '../../../0-base/1-tools/scss/input-reset';

.number-input {
  display: inline-flex;
  margin-top: 0.25em;

  &__button {
    line-height: 1.25rem;
    padding: 0.25rem 0.5rem 0.2rem;
  }

  &__input {
    @include input-reset.input-number-reset;

    margin: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 0.1rem 0.1rem 0;
    width: 2em;
    text-align: center;
    z-index: 1;
  }
}
