$name-: 'c-tag-label';

$host: (
  '.c-tag-label': (
    background-color: var(--ks-background-color-interface),
    background-color-hover: var(--ks-background-color-interface-hover),
    border: null,
    color: var(--ks-text-color-interface),
    color-hover: var(--ks-text-color-interface-hover),
  ),
  '.c-tag-label--s': (
    font: var(--font-ui-xs),
    font-weight: var(--font-weight-regular),
    border-radius: 0.8rem,
    vertical-padding: 0.325rem,
    horizontal-padding: 0.65rem,
  ),
  '.c-tag-label--m': (
    font: var(--font-ui-s),
    font-weight: var(--font-weight-regular),
    border-radius: 1.25rem,
    vertical-padding: 0.4rem,
    horizontal-padding: 1rem,
  ),
  '.c-tag-label--l': (
    font: var(--font-ui-m),
    font-weight: var(--font-weight-regular),
    border-radius: 1.5rem,
    vertical-padding: 0.5rem,
    horizontal-padding: 1.25rem,
  ),
) !default;

$icon: (
  '.c-tag-label--s': (
    size: 0.8rem,
    margin-left: -0.325rem,
    horizontal-padding: 0.325rem,
  ),
  '.c-tag-label--m': (
    size: 1.25rem,
    margin-left: -0.6rem,
    horizontal-padding: 0.5rem,
  ),
  '.c-tag-label--l': (
    size: 1.25rem,
    margin-left: -0.75rem,
    horizontal-padding: 0.5rem,
  ),
) !default;
