@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use './tag-label-vars';

$vars: meta.module-variables(tag-label-vars);
@include custom-properties.styles($vars, true);

.c-tag-label {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  background-color: var(--c-tag-label--background-color);
  border: var(--tag-label--border);
  color: var(--c-tag-label--color);
  font: var(--c-tag-label--font);
  font-weight: var(--c-tag-label--font-weight);
  border-radius: var(--c-tag-label--border-radius);

  @include breakpoint.media('print') {
    background-color: transparent;
    border: 1px solid;
  }

  &__content {
    border-radius: inherit;
    transition: 0.3s;
    padding: var(--c-tag-label--vertical-padding)
      var(--c-tag-label--horizontal-padding);

    @at-root {
      a#{&} {
        &:hover,
        &:focus {
          background-color: var(--c-tag-label--background-color-hover);
          color: var(--c-tag-label--color-hover);
        }
      }
    }
  }

  &__remove-btn {
    line-height: 0;
    border-radius: inherit;
    margin-left: var(--c-tag-label_icon--margin-left);
    padding: var(--c-tag-label--vertical-padding)
      var(--c-tag-label_icon--horizontal-padding);

    &:hover,
    &:focus {
      background-color: var(--c-tag-label--background-color-hover);
      color: var(--c-tag-label--color-hover);
    }

    .icon {
      @include bourbon.size(var(--c-tag-label_icon--size));
    }
  }
}
