@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/custom-properties';
@use './input-field-vars';

$vars: meta.module-variables(input-field-vars);
@include custom-properties.styles($vars);

@mixin wrapper {
  display: inline-flex;
  font: var(--font-ui-s);
}

@mixin input-field($input-selector: 'input') {
  display: flex;
  box-sizing: border-box;
  font: var(--font-ui-s);
  width: 100%;
  border: var(--g-input--border);
  border-radius: var(--g-input--border-radius);
  background: var(--g-input--background);
  color: var(--g-input--color);
  transition: 0.2s;
  overflow: hidden;

  &:focus-within {
    border-color: var(--g-input_focus--border-color);
  }

  #{$input-selector} {
    padding: 0.5rem 0.5rem 0.45rem;
    border: 0;
    outline: 0;
    appearance: none;
    flex: 1;
  }
}
