$name-: 'g-input';

$host: (
  ':root': (
    border: 1px solid var(--color-grey-2),
    border-radius: 0.2rem,
    background: var(--color-white),
    color: var(--color-black),
  ),
) !default;

$focus: (
  ':root': (
    border-color: var(--color-primary),
  ),
) !default;
