@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use '@kickstartds/core/source/core/breakpoint';
@use './teaser-row-vars';

$vars: meta.module-variables(teaser-row-vars);
@include custom-properties.styles($vars);

.c-teaser {
  .c-teaser-row &__body {
    flex-wrap: wrap;
    align-items: center;
    margin: calc(var(--c-teaser-row_body--gutter) * -1);

    @include breakpoint.media('≥s') {
      padding: var(--c-teaser--padding);
    }

    > * {
      margin: var(--c-teaser-row_body--gutter);
      flex-basis: calc((var(--c-teaser-row_body--wrap-threshold) - 100%) * 999);
    }
  }

  .c-teaser-row &__link {
    white-space: nowrap;
  }
}
