/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.rich-text h4,
.rich-text h5,
.rich-text h6 {
  font-size: 1em;
}
.rich-text__align-center {
  text-align: center;
}
.rich-text__align-right {
  text-align: right;
}
.rich-text code {
  font-size: 0.85em;
  background-color: #f3f3f3;
  border-radius: 0.4em;
  padding: 0.2em 0.5em;
  margin: 0 0.2em;
  white-space: nowrap;
}
.rich-text pre > code {
  border-radius: 0;
  display: block;
  padding: 1em 1.5em;
  white-space: pre;
}
.rich-text blockquote {
  border-left: 0.3em solid #dadada;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1em;
  padding: 0.5em 1.5em;
  font-style: italic;
}
.rich-text blockquote p {
  margin-bottom: 0;
}
.rich-text hr {
  margin-bottom: 1em;
}
.rich-text :last-child {
  margin-bottom: 0;
}