@use 'settings/base';

.rich-text {
  h4,
  h5,
  h6 {
    font-size: 1em;
  }

  &__align {
    &-center {
      text-align: center;
    }

    &-right {
      text-align: right;
    }
  }

  code {
    font-size: 0.85em;

    background-color: base.$color-black-5-solid;
    border-radius: 0.4em;

    padding: 0.2em 0.5em;
    margin: 0 0.2em;
    white-space: nowrap;
  }

  pre > code {
    border-radius: 0;
    display: block;
    padding: 1em 1.5em;
    white-space: pre;
  }

  blockquote {
    border-left: 0.3em solid base.$color-black-15-solid;

    margin-left: 0;
    margin-right: 0;
    margin-bottom: 1em;
    padding: 0.5em 1.5em;

    font-style: italic;

    p {
      margin-bottom: 0;
    }
  }

  hr {
    margin-bottom: 1em;
  }

  :last-child {
    margin-bottom: 0;
  }
}
