@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use 'settings/tabs';

.tabs {
  &__tablist {
    @include helpers.clearlist;

    display: inline-flex;
    box-shadow: inset 0 tabs.$tab__border-width * -1 tabs.$tab__color-default;
    min-width: 100%;

    &-wrapper {
      overflow: auto;
      margin-bottom: 1.75rem;

      @include breakpoint.media('≥s') {
        margin-bottom: 2rem;
      }
    }
  }

  &__tab {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-bottom: tabs.$tab__border-width solid transparent;
    transition: 0.2s;
    white-space: nowrap;
    color: tabs.$tab__color-default;
    font-size: tabs.$tab__font-size;
    line-height: tabs.$tab__line-height;

    &[aria-selected='true'] {
      color: tabs.$tab__color-current !important;
      border-color: tabs.$tab__color-current !important;
    }

    &:hover,
    &:focus {
      color: tabs.$tab__color-hover;
      border-color: tabs.$tab__color-hover;
    }

    &:active {
      color: tabs.$tab__color-active;
      border-color: tabs.$tab__color-active;
    }
  }

  [aria-hidden='true'] {
    display: none;
  }

  &__icon {
    pointer-events: none;
    text-align: center;
    padding-bottom: 10px;
  }
}
