@use 'sass:meta';
@use '../../core/breakpoint';

$_xxs: 0.125rem !default;
$_xs: 0.25rem !default;
$_s: 0.5rem !default;
$_m: 1rem !default;
$_l: 1.5rem !default;
$_xl: 2.5rem !default;

@function _responsive($base) {
  @return (xs: $base * 0.75, m: $base, l: $base * 1.25);
}

$xxs: _responsive($_xxs) !default;
$xs: _responsive($_xs) !default;
$s: _responsive($_s) !default;
$m: _responsive($_m) !default;
$l: _responsive($_l) !default;
$xl: _responsive($_xl) !default;

@mixin cp($name, $value, $category: null) {
  @if meta.type-of($value) == 'map' {
    @each $bp, $val in $value {
      @if $bp == 'xs' {
        @include cp($name, $val);
      } @else {
        @include breakpoint.media('≥#{$bp}') {
          @include cp($name, $val, $bp);
        }
      }
    }
  } @else {
    @if $category == 'm' {
      /*!
      * @tokens Spacing
      * @presenter Spacing
      */
    } @else {
      /*!
      * @tokens Ignore
      */
    }
    --spacing-#{$name}: #{$value};
  }
}

@mixin render($name, $value) {
  @include cp($name, $value);
}
