@use 'sass:list';
@use 'bourbon/core/bourbon';

@function value($prop, $fallback, $skip) {
  @return if(list.index($skip, $prop), null, $fallback);
}

@mixin button-reset($skip: ()) {
  appearance: value('font', none, $skip);
  background: value('background', transparent, $skip);
  border: value('border', 0, $skip);
  color: value('color', inherit, $skip);
  font: value('font', inherit, $skip);
  line-height: value('line-height', inherit, $skip);
  padding: value('padding', 0, $skip);
  margin: value('margin', 0, $skip);
  overflow: value('overflow', visible, $skip);
  text-align: value('text-align', inherit, $skip);
  width: value('width', auto, $skip);

  &:not(:disabled) {
    cursor: value('cursor', pointer, $skip);
  }
}
