@use 'settings/base/colors';
@use 'settings/base/typo';

/// # Visual

/// ## Default background (if no image is given)
$background:                                transparent !default;

/// ## Height (if text gets longer, the visual grows. that's why it is `min-heiht`)
$min-height:                                20rem !default;
$min-height-s:                              21rem !default;
$min-height-m:                              31.5rem !default;
$min-height-l:                              35rem !default;

$min-height-small:                          13.35rem !default;
$min-height-small-s:                        13.2rem !default;
$min-height-small-m:                        15.8rem !default;
$min-height-small-l:                        20rem !default;

/// ## Box
$box__max-width:                            40rem !default;
$box__border:                               none !default;
$box__border-m:                             none !default;
$box__border-radius:                        null !default;

/// ### Box with dark background (default)
$box__dark-background:                      rgba(colors.$color-brand, 0.85) !default;
$box__dark-text-color:                      colors.$color-white !default;
$box__dark-topic-color:                     $box__dark-text-color !default;

/// ### Box with light background
$box__light-background:                      rgba(colors.$color-white, 0.9) !default;
$box__light-text-color:                      colors.$color-brand !default;
$box__light-topic-color:                     $box__light-text-color !default;

/// ### Box topic typo
$box__topic-font-size:                           1.5em !default;
$box__topic-font-size-s:                         1.5em !default;
$box__topic-font-size-m:                         2em !default;
$box__topic-line-height:                         1.1 !default;
$box__topic-font-weight:                         bold !default;
$box__topic-margin:                              0 !default;

/// ### Box text typo
$box__text-font-size:                            1em !default;
$box__text-font-size-s:                          0.85em !default;
$box__text-font-size-m:                          1em !default;
$box__text-line-height:                          1.1 !default;
$box__text-font-weight:                          regular !default;
$box__text-margin:                               1.2em 0 0 !default;

/// ## Image indent
$image__indent-left:                        20% !default;
$image__indent-right:                       70% !default;

/// ## Visual Slider
$slider-nav__border-bottom-color:           colors.$color-black-10 !default;
$slide-preview__font-size:                  typo.$font-size-small !default;
$slide-preview__line-height:                typo.$line-height-small !default;
$slide-preview__background--hover:          colors.$color-black-10 !default;
$slide-preview__color--hover:               inherit !default;
$slide-preview__background--active:         colors.$color-black-10 !default;
$slide-preview__color--active:              colors.$color-brand !default;
$slide-preview__autoplay-indicator-color:   colors.$color-black-15 !default;

// ----------

$keyvisual-slider-tab-height:               3.15rem !default;

$content-visual-slider-tab-height:          3.15rem !default;
