@use '../../../0-base/1-tools/scss/grid';
@use '../../../0-base/1-tools/scss/breakpoint';
@use '../../../0-base/0-settings/selector';
@use 'settings/global';

#{selector.$template--sidebar-right},
#{selector.$template--sidebar-left} {
  /* critical:start */
  @include grid.outer-container;
  /* critical:end */

  &.template {
    @include breakpoint.media('≥m') {
      /* critical:start */
      display: flex;
      /* critical:end */
    }
  }

  .template {
    &__content {
      min-height: 1px;

      @include breakpoint.media('≥m') {
        /* critical:start */
        @include grid.grid-columns(8.5);
        /* critical:end */
      }
    }

    &__sidebar {
      @include breakpoint.media('≥m') {
        /* critical:start */
        @include grid.grid-columns(3.25);
        /* critical:end */

        // add offset to start at same line like content
        margin-top: 4rem;
      }
    }
  }
}

#{selector.$template--sidebar-right} #{selector.$template--content-30} {
  @include breakpoint.media('≥m') {
    /* critical:start */
    @include grid.grid-push(0.25);
    /* critical:end */

    .l-main-wrap {
      /* critical:start */
      padding-left: global.$content_30-padding;
      /* critical:end */
    }
  }
}

#{selector.$template--sidebar-left} #{selector.$template--content-30} {
  /* critical:start */
  order: 2;
  /* critical:end */

  @include breakpoint.media('≥m') {
    /* critical:start */
    order: -1;
    margin-left: 0;
    margin-right: percentage(0.25 / grid.$grid__columns);
    /* critical:end */

    .l-main-wrap {
      /* critical:start */
      padding-right: global.$content_30-padding;
      /* critical:end */
    }
  }
}
