@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/0-settings/selector';

.gallery-slider {
  #{selector.$slider-nav-slides} {
    margin: 0.5em auto 0;
    flex-wrap: nowrap;
  }

  #{selector.$slider-bullet} {
    @include breakpoint.media('≥s') {
      display: none;
    }
  }

  .gallery-slide-preview {
    @include breakpoint.media('<s') {
      display: none;
    }
  }
}
