$name-: 'c-post-teaser' !default;

$date: (
  '.c-post-teaser': (
    font: var(--ks-font-ui-xs),
    font-weight: var(--ks-font-weight-bold),
    color: var(--color-black-alpha-5),
  ),
) !default;

$headline: (
  '.c-post-teaser': (
    font: var(--ks-font-display-l),
    font-weight: var(--ks-font-weight-bold),
    color: var(--color-black),
    color-hover: var(--color-black),
  ),
) !default;
