@use 'sass:meta';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use '@kickstartds/base/source/0-base/1-tools/scss/grid';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use './post-teaser-vars';

$vars: meta.module-variables(post-teaser-vars);
@include custom-properties.styles($vars, true);

.c-post-teaser {
  --c-rich-text--font: var(--font-copy-s);

  @include grid.grid-container(1em);
  @include breakpoint.media('print') {
    page-break-inside: avoid;
  }

  &__date {
    font: var(--c-post-teaser_date--font);
    font-weight: var(--c-post-teaser_date--font-weight);
    color: var(--c-post-teaser_date--color);
    padding-right: 1rem;
  }

  &__meta {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  &__image {
    @include grid.grid-break-at(500px, 12, 4.5);
  }

  &__body {
    @include grid.grid-break-at(500px, 12, 7.5);
  }

  &__headline {
    --g-headline--font: var(--c-post-teaser_headline--font);
    --g-headline--font-weight: var(--c-post-teaser_headline--font-weight);
    --g-link--color: var(--c-post-teaser_headline--color);
    --g-link--color-hover: var(--c-post-teaser_headline--color-hover);

    margin-top: 0;

    .c-post-teaser--title-first & {
      margin-bottom: 0;
    }
  }

  &__more {
    margin-top: 1em;
  }

  .tag-label-container {
    min-width: 0%;
    margin: -0.15rem;

    > * {
      padding: 0.15rem;
    }

    @include breakpoint.media('≥s') {
      margin: -0.25rem;

      > * {
        padding: 0.25rem;
      }
    }
  }
}
