@use 'sass:map';
@use '../../core/color';

$factors: (1, 2, 3, 4, 5, 6, 7, 8, 9);

@function alpha($name) {
  $color-map: ();
  @each $factor in $factors {
    $color-map: map.set(
      $color-map,
      #{$factor},
      color.alpha('--color-#{$name}', $factor)
    );
  }
  @return $color-map;
}

@function mix($name1, $name2) {
  $color-map: ();
  @each $factor in $factors {
    $color-map: map.set(
      $color-map,
      #{$factor},
      color.mix('--color-#{$name1}', '--color-#{$name2}', $factor)
    );
  }
  @return $color-map;
}

@function pack($name) {
  @return color.pack('--color-#{$name}');
}
