@use 'sass:color';
@use 'sass:map';

$factors: (1, 2, 3, 4, 5, 6, 7, 8, 9);

@function alpha($color) {
  $color-map: ();
  @each $factor in $factors {
    $color-map: map.set($color-map, #{$factor}, rgba($color, $factor / 10));
  }
  @return $color-map;
}

@function mix($color1, $color2) {
  $color-map: ();
  @each $factor in $factors {
    $color-map: map.set(
      $color-map,
      #{$factor},
      color.mix($color1, $color2, percentage($factor / 10))
    );
  }
  @return $color-map;
}
