@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use 'settings/base';

.real-estate-list-meta {
  /* critical:start */
  @include grid.grid-container;

  font-size: base.$font-size-tiny;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  border-bottom: 1px solid base.$color-black-10;
  white-space: nowrap;

  > * {
    width: auto;
  }
  /* critical:end */
}
