/// ## Vertical and Horizontal Centerer

@mixin vertical-and-horizontal-centerer() {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

/// ## Don't print
@mixin no-print {
  @media print {
    display: none;
  }
}

/// ## Handling Long Words and URLs
/// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks */
  hyphens: auto;
}
