@use '@kickstartds/core/source/core/breakpoint';
@use '../../0-settings/selector';
@use 'settings/base/typo';

/// # Clearlist

@mixin clearlist {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    margin: 0;
    // IE fix:
    list-style-image: url('data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7');
  }
}

/// ## Vertical Centerer

@mixin vertical-centerer() {
  transform: translateY(-50%);

  position: absolute;
  top: 50%;
}

/// ## Horzontal Centerer

@mixin horizontal-centerer() {
  transform: translateX(-50%);

  position: absolute;
  left: 50%;
}

/// ## Vertical and Horizontal Centerer

@mixin vertical-and-horizontal-centerer() {
  transform: translate(-50%, -50%);

  position: absolute;
  top: 50%;
  left: 50%;
}

/// ## Type Reset

@mixin type-reset() {
  margin: 0;
  padding: 0;

  font-size: 100%;

  border: 0;

  vertical-align: baseline;
}

/// ## Don't print
@mixin no-print {
  @media print {
    display: none;
  }
}

/// ## Handling Long Words and URLs
/// https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks */
  hyphens: auto;
}

// Replace `$search` with `$replace` in `$string`
// Used on our SVG icon backgrounds for custom forms.
//
// @param {String} $string - Initial string
// @param {String} $search - Substring to replace
// @param {String} $replace ('') - New value
// @return {String} - Updated string
@function str-replace($string, $search, $replace: '') {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

/// Detect IE Browsers

@mixin browser($browser) {
  // IE 11
  @if $browser == 'ie11' {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      @content;
    }
  }
  // EDGE
  @else if $browser == 'edge' {
    @supports (-ms-ime-align: auto) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin icon-color($color) {
  fill: $color;
}

@mixin in-sidebar {
  @include breakpoint.media('≥m') {
    #{selector.$template--content-30} & {
      @content;
    }
  }
}

@function get-font-weight($weight) {
  $has-key: map-has-key(typo.$font-sans-weights, $weight);

  @if $has-key {
    @return map-get(typo.$font-sans-weights, $weight);
  } @else {
    @return $weight;
  }
}
