@use '@kickstartds/core/source/core/breakpoint';
@use '../../0-base/0-settings/selector';
@use 'bourbon/core/bourbon';
@use 'settings/base';

.content-slider {
  #{selector.$slider-nav-slides} {
    margin: 1em auto 0;

    @include breakpoint.media('≥s') {
      border-top: 1px solid base.$color-black-10;
      border-bottom: 1px solid base.$color-black-10;
    }
  }

  #{selector.$slider-bullet} {
    @include breakpoint.media('≥s') {
      display: none;
    }
  }

  .content-slide--preview {
    @include breakpoint.media('<s') {
      @include bourbon.hide-visually;
    }
  }
}
