@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use './content-box-vars';

$vars: meta.module-variables(content-box-vars);
@include custom-properties.styles($vars);

.c-content-box {
  margin-bottom: 2em;
  box-sizing: border-box;
  contain: layout inline-size style;
  display: flex;
  flex-direction: column;

  &--align-center {
    text-align: center;
  }

  &--align-right {
    text-align: right;
  }

  &__image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 1em;

    img {
      width: auto;
    }

    &--square {
      position: relative;
      padding-bottom: 100%;
    }

    &--sixteen-to-nine {
      position: relative;
      padding-bottom: 56.25%;
    }

    &--four-to-three {
      position: relative;
      padding-bottom: 75%;
    }

    &--square,
    &--sixteen-to-nine,
    &--four-to-three {
      text-align: left;

      img {
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 auto;

    @container (min-width: 0px) {
      --c-content-box_topic--font: var(--font-display-s);
      --c-rich-text--font: var(--font-copy-xs);

      .c-button {
        --c-button--font: var(--font-ui-xs);

        &--large {
          --c-button--font: var(--font-ui-s);
        }
      }
    }

    @container (min-width: 200px) {
      --c-content-box_topic--font: var(--font-display-m);
      --c-rich-text--font: var(--font-copy-s);

      .c-button {
        --c-button--font: var(--font-ui-s);

        &--small {
          --c-button--font: var(--font-ui-xs);
        }

        &--large {
          --c-button--font: var(--font-ui-m);
        }
      }
    }

    @container (min-width: 400px) {
      --c-content-box_topic--font: var(--font-display-l);
      --c-rich-text--font: var(--font-copy-m);

      .c-button {
        --c-button--font: var(--font-ui-m);

        &--small {
          --c-button--font: var(--font-ui-s);
        }

        &--large {
          --c-button--font: var(--font-ui-l);
        }
      }
    }
  }

  &__topic {
    font: var(--c-content-box_topic--font);
    font-weight: var(--c-content-box_topic--font-weight);
    color: var(--c-content-box_topic--color);
    margin: var(--c-content-box_topic--margin);
  }

  &__text {
    flex: 1 auto;
  }

  &__link {
    margin-top: 1em;
  }
}
