@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use './form-check-group-vars';

$vars: meta.module-variables(form-check-group-vars);
@include custom-properties.styles($vars);

.c-form-check-group {
  &__label {
    display: inline-block;
    font: var(--font-ui-s);
    padding: var(--c-form-check-group-label--padding);
    cursor: default;
  }

  &__group {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: calc(var(--c-form-check-group--vertical-gutter) * -1)
      calc(var(--c-form-check-group--horizontal-gutter) * -1);

    > * {
      margin: var(--c-form-check-group--vertical-gutter)
        var(--c-form-check-group--horizontal-gutter);
    }
  }
}
