@use '@kickstartds/core/source/core/breakpoint';
@use '../../0-base/1-tools/scss/helpers';
@use '../../0-base/0-settings/selector';
@use 'settings/base';

.table {
  display: flex;
  overflow-x: auto;
  width: 100%;

  // enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;

  background-image: radial-gradient(
      ellipse at left,
      rgba(base.$color-black-75-solid, 0.3) 0%,
      rgba(base.$color-black-75-solid, 0) 75%
    ),
    radial-gradient(
      ellipse at right,
      rgba(base.$color-black-75-solid, 0.3) 0%,
      rgba(base.$color-black-75-solid, 0) 75%
    );
  background-size: 0.5rem 100%;
  background-position: left, right;
  background-repeat: no-repeat;

  //
  // enable horizontal scrolling without line breaks
  //
  &--scrolling {
    table {
      white-space: nowrap;
    }
  }

  &--responsive {
    thead {
      display: none;

      @include breakpoint.media('≥s') {
        display: table-header-group;
      }
    }

    tr {
      display: block;
      margin-top: 2rem;

      @include breakpoint.media('≥s') {
        display: table-row;
        margin-top: 0;
      }

      &:first-child {
        margin-top: 0;
      }
    }

    th,
    td {
      display: block;
      padding-right: 0.25rem;
      background: none;

      @include breakpoint.media('≥s') {
        display: table-cell;
        padding-right: 2rem;
        background: inherit;
      }
    }

    td {
      &::before {
        font-weight: helpers.get-font-weight(bold);
        display: inline-block;
        padding-right: 0.5em;
        content: attr(data-th);

        @include breakpoint.media('≥s') {
          content: '';
        }
      }
    }
  }

  table {
    vertical-align: top;
    width: 100%;

    border-spacing: 0;

    background-image: linear-gradient(
        to right,
        rgba(base.$color-white, 1) 100%,
        rgba(base.$color-white, 0) 100%
      ),
      linear-gradient(
        to left,
        rgba(base.$color-white, 1) 100%,
        rgba(base.$color-white, 0) 100%
      );
    background-size: 0.5rem 100%;
    background-position: left, right;
    background-repeat: no-repeat;

    .l-section--bg-1 & {
      // the gradient-color has to be same as background-color of l-section--bg-1,
      // but it must not contain a alpha-chanel itself.
      background-image: linear-gradient(
          to right,
          rgba(base.$section-background--bg-1, 1) 100%,
          rgba(base.$section-background--bg-1, 0) 100%
        ),
        linear-gradient(
          to left,
          rgba(base.$section-background--bg-1, 1) 100%,
          rgba(base.$section-background--bg-1, 0) 100%
        );
    }
  }

  caption {
    caption-side: bottom;
    margin: 0;
    padding-top: 1em;
    text-align: left;
    background: inherit;
  }

  th,
  td {
    font-size: base.$font-size-small;
    line-height: base.$line-height-small;
    text-align: left;
    vertical-align: top;

    padding: 0.75rem 2rem 0.75rem 0.25rem;
    border-bottom: 1px solid base.$color-black-10;

    #{selector.$section--bg-1} & {
      border-color: base.$color-black-15;
    }
  }

  th {
    font-weight: helpers.get-font-weight(bold);
  }

  td {
    font-weight: helpers.get-font-weight(regular);
  }
}
