$name-: 'c-table';

$host: (
  '.c-table': (
    font: var(--ks-font-copy-s),
    font-weight: var(--ks-font-weight-regular),
    cell-padding: 0.5rem 1.5rem 0.5rem 0.25rem,
  ),
) !default;

$header: (
  '.c-table': (
    font: var(--ks-font-display-s),
    font-weight: var(--ks-font-weight-bold),
  ),
) !default;

$border: (
  '.c-table': (
    border: var(--ks-border-width-default) solid var(--ks-color-fg-alpha-1),
  ),
) !default;

$zebra: (
  '.c-table': (
    background-odd: var(--ks-background-color-accent),
    background-even: transparent,
  ),
) !default;

$caption: (
  '.c-table': (
    font: var(--ks-font-ui-xs),
    font-weight: null,
    font-style: italic,
  ),
) !default;
