@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use '@kickstartds/core/source/core/breakpoint';
@use './table-vars';

$vars: meta.module-variables(table-vars);
@include custom-properties.styles($vars, true);

.c-table {
  width: 100%;
  border-collapse: collapse;

  font: var(--c-table--font);
  font-weight: var(--c-table--font-weight);

  caption {
    caption-side: bottom;
    padding-top: 1rem;
    text-align: left;
    font: var(--c-table_caption--font);
    font-weight: var(--c-table_caption--font-weight);
    font-style: var(--c-table_caption--font-style);
  }

  th,
  td {
    text-align: left;
    padding: var(--c-table--cell-padding);
  }

  th {
    font: var(--c-table_header--font);
    font-weight: var(--c-table_header--font-weight);
  }

  &--border {
    th,
    td {
      border-bottom: var(--c-table_border--border);
    }
  }

  &--zebra {
    tr {
      &:nth-child(odd) {
        background: var(--c-table_zebra--background-odd);
      }
      &:nth-child(even) {
        background: var(--c-table_zebra--background-even);
      }
    }

    thead + tbody tr {
      &:nth-child(even) {
        background: var(--c-table_zebra--background-odd);
      }
      &:nth-child(odd) {
        background: var(--c-table_zebra--background-even);
      }
    }
  }

  &--responsive {
    @include breakpoint.media('<s') {
      thead {
        display: none;
      }

      tr {
        display: block;
        margin-top: 2rem;

        &:first-child {
          margin-top: 0;
        }
      }

      th,
      td {
        display: block;
        padding-right: 0;
      }

      [data-th] {
        &::before {
          font: var(--c-table_header--font);
          font-weight: var(--c-table_header--font-weight);
          padding-right: 0.5em;
          content: attr(data-th);
        }
      }

      &.c-table--zebra tr {
        background: none !important;

        > :nth-child(odd) {
          background: var(--c-table_zebra--background-odd);
        }
        > :nth-child(even) {
          background: var(--c-table_zebra--background-even);
        }
      }
    }
  }
}
