/* stylelint-disable plugin/selector-bem-pattern, selector-no-qualifying-type */
/* critical:start */
@use './normalize';

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* critical:end */

body {
  &.overlay-open {
    overflow: hidden;
  }
}
