$name-: 'c-headline' !default;

$host: (
  '.c-headline': (
    space-after_minimum: 0,
    space-after_small: var(--ks-spacing-stack-s),
    space-after_large: var(--ks-spacing-stack-l),
    space-after: var(--c-headline--space-after-minimum),
    font-weight: var(--c-rich-text_headline--font-weight),
    color: var(--c-rich-text_headline--color),
  ),
) !default;

$subheadline: (
  '.c-headline': (
    margin: 0.5em 0 0,
    font: var(--ks-font-copy-m),
    font-weight: var(--ks-font-weight-regular),
    color: var(--c-rich-text_headline--color),
  ),
) !default;
