.c-headline {
  // Typo
  --c-headline--color: var(--ks-text-color-display);
  --c-headline--font-weight: var(--ks-font-weight-bold);
  --c-headline--text-transform: none;

  // Subheadline
  --c-headline__subheadline--color: var(--ks-text-color-copy);
  --c-headline__subheadline--font-weight: var(--ks-font-weight-default);

  // Spacing
  --c-headline--space-after_minimum: 0;
  --c-headline--space-after_small: var(--ks-spacing-stack-s);
  --c-headline--space-after_large: var(--ks-spacing-stack-l);
  --c-headline--space-after: var(--c-headline--space-after-minimum);
  --c-headline--gap: 0.25em;

  // H1
  --c-headline_h1--font: var(--ks-font-display-xxl);
  --c-headline_h1__subheadline--font: var(--ks-font-copy-l);

  // H2
  --c-headline_h2--font: var(--ks-font-display-xl);
  --c-headline_h2__subheadline--font: var(--ks-font-copy-m);

  // H3
  --c-headline_h3--font: var(--ks-font-display-l);
  --c-headline_h3__subheadline--font: var(--ks-font-copy-m);

  // H4
  --c-headline_h4--font: var(--ks-font-display-m);
  --c-headline_h4__subheadline--font: var(--ks-font-copy-m);

  // H5
  --c-headline_h5--font: var(--ks-font-display-s);
  --c-headline_h5__subheadline--font: var(--ks-font-copy-s);

  // p
  --c-headline_p--font: var(--ks-font-copy-m);
  --c-headline_p__subheadline--font: var(--ks-font-copy-s);
}
