/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.news-list__item {
  padding: 2rem 0;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
  box-sizing: border-box;
}
.news-list__item:first-child {
  padding-top: 0;
}
@media (min-width: 60em) {
  .news-list__item {
    padding: 1.6rem 0;
  }
}
.news-list__item__date {
  font-size: 0.8em;
  font-weight: 400;
  color: rgba(5, 5, 5, 0.5);
  line-height: 1.5;
  padding-right: 1rem;
}
.news-list__item__meta {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.news-list__item__headline {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.1;
  color: #050505;
}
.news-list__item__headline > a {
  color: #050505;
}
.news-list__item__content-wrap {
  /* critical:start */
  /* critical:start */
  margin: -0.5em 0 -0.5em -1em;
  /* critical:end */
  display: flex;
  flex-wrap: wrap;
  min-width: 100%;
  box-sizing: border-box;
  /* critical:end */
}
.news-list__item__content-wrap > * {
  /* critical:start */
  padding: 0.5em 0 0.5em 1em;
  /* critical:end */
}
.news-list__item__content-wrap > * {
  /* critical:start */
  position: relative;
  width: 100%;
  background-clip: content-box;
  /* critical:end */
}
.news-list__item .media__video, .news-list__item__image {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((450px - 100%) * 999);
  min-width: 41.6666666667%;
}
.news-list__item__teaser {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((450px - 100%) * 999);
  min-width: 58.3333333333%;
}
.news-list__item__more {
  margin: 1em 0 0;
}
.news-list .tag-label-container {
  min-width: 0;
  margin: -0.15rem;
}
.news-list .tag-label-container > * {
  padding: 0.15rem;
}
@media (min-width: 40em) {
  .news-list .tag-label-container {
    margin: -0.25rem;
  }
  .news-list .tag-label-container > * {
    padding: 0.25rem;
  }
}