.location-finder {
  &-form {
    margin-bottom: 4em;

    .form-row--50-50 {
      .form-column:last-child {
        text-align: right;
      }
    }

    &__select-country {
      width: 100%;
    }
  }

  &-results {
    &__header {
      text-align: center;
    }
  }

  &-no-results {
    text-align: center;
  }
}
