@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';

.real-estate-cards-slider {
  .slider__slides {
    align-items: stretch;
  }

  .slider__slide {
    height: auto;
  }

  .real-estate-card {
    height: 100%;
    margin-bottom: 0;
  }

  .slider-nav {
    margin-top: 1em;

    @include breakpoint.media('≥s') {
      margin-top: 2em;
    }
  }
}
