/**
 * ## Archive
 */

@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';

.event-archive {
  &__item {
    @include grid.grid-container();

    padding: 1rem 0;
    border-bottom: 1px solid base.$color-black-10;
    box-sizing: border-box;

    &:last-child {
      border: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }

    @include breakpoint.media('≥s') {
      padding: 1.6rem 0;
    }

    &__categories {
      color: base.$color-black-50;
      margin-bottom: 1em;
    }

    &__date {
      font-size: base.$font-size-small;
      margin-bottom: 1em;
    }

    &__header {
      h2 {
        font-size: base.$h3-font-size-s;
      }
    }

    &__teaser {
      @include grid.grid-break-at(550px, 12, 7);

      @include breakpoint.media('≥s') {
        font-size: base.$font-size-small;
      }
    }

    &__teaser-link {
      @include grid.grid-break-at(550px, 12, 5);

      @include breakpoint.media('≥s') {
        font-size: base.$font-size-small;
        text-align: right;
      }

      a {
        text-decoration: none;

        @include breakpoint.media('≥s') {
          padding: 0.15rem 0.55rem;
        }
      }
    }
  }
}
