$name-: 'c-rich-text';

$host: (
  '.c-rich-text': (
    font: var(--font-copy-m),
    vertical-spacing: calc(var(--spacing-m) / 2),
    horizontal-spacing: 1em,
    font-weight: var(--font-weight-regular),
    color: var(--g-text--color),
  ),
) !default;

$code: (
  '.c-rich-text': (
    background: null,
    border-radius: null,
  ),
) !default;

$blockquote: (
  '.c-rich-text': (
    border-left: null,
    font-style: null,
  ),
) !default;

$hr: (
  '.c-rich-text': (
    border: null,
  ),
) !default;

$ul: (
  '.c-rich-text': (
    style: null,
  ),
) !default;

$ol: (
  '.c-rich-text': (
    style: null,
  ),
) !default;

$a: (
  '.c-rich-text': (
    decoration: null,
  ),
) !default;
