@use '../../0-base/1-tools/scss/grid';
@use '../../0-base/1-tools/scss/helpers';
@use '@kickstartds/core/source/core/breakpoint';
@use 'bourbon/core/bourbon';

.logo-tiles {
  @include bourbon.clearfix;
  @include grid.grid-container();

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

  &__item {
    @include grid.grid-columns(4);

    position: relative;
    margin-bottom: 2rem;

    @include breakpoint.media('≥s') {
      @include grid.grid-columns(2.4);
    }

    &::before {
      content: '';
      display: block;
      padding-top: 56.25%;
    }

    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &:hover,
      &:focus {
        background-color: transparent;
      }
    }

    img {
      @include helpers.vertical-and-horizontal-centerer();

      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 80%;
    }
  }
}
