$name-: 'c-quote';
$_selector-default: ':root, .g-inverted-reset';
$_selector-inverted: '.g-inverted';

$host: (
  '.c-quote': (
    align: (
      xs: normal,
      m: center,
    ),
  ),
) !default;

$image: (
  '.c-quote': (
    max-width: (
      xs: 20%,
      m: 30%,
    ),
  ),
) !default;

$content: (
  '.c-quote': (
    padding-left: (
      xs: 2rem,
      m: 4rem,
    ),
  ),
) !default;

$icon: (
  '.c-quote': (
    font-family: null,
    font-size: (
      xs: 2.5rem,
      m: 4rem,
    ),
    content: null,
    transform: null,
  ),
  #{$_selector-default}: (
      color: var(--color-primary),
    ),
  #{$_selector-inverted}: (
      color: var(--color-white),
    ),
) !default;

$text: (
  '.c-quote': (
    font: null,
    margin-bottom: null,
  ),
) !default;

$source: (
  '.c-quote': (
    font-style: null,
    font-weight: null,
    font: null,
    text-transform: null,
  ),
) !default;

$date: (
  '.c-quote': (
    font-style: null,
    font-weight: null,
    font: null,
    text-transform: null,
  ),
) !default;
