@use 'sass:meta';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use './quote-vars';

$vars: meta.module-variables(quote-vars);
@include custom-properties.styles($vars);

.c-quote {
  display: flex;
  align-items: var(--c-quote--align);

  &__image-wrap {
    flex-shrink: 0;
    max-width: var(--c-quote_image--max-width);
  }

  &__content {
    position: relative;
    padding-left: var(--c-quote_content--padding-left);

    &::before {
      position: absolute;
      left: var(
        --c-quote_icon--left,
        calc(var(--c-quote_content--padding-left) / 2)
      );
      content: var(--c-quote_icon--content, '\201D');
      font-family: var(--c-quote_icon--font-family, var(--font-family-display));
      font-size: var(--c-quote_icon--font-size);
      line-height: 1;
      color: var(--c-quote_icon--color, var(--color-primary));
      transform: var(--c-quote_icon--transform, translateX(-50%));
    }
  }

  &__text {
    font: var(--c-quote_text--font, var(--font-copy-m));
    margin-bottom: var(--c-quote_text--margin-bottom, var(--spacing-xs));
  }

  &__source {
    font: var(--c-quote_source--font-style, normal)
      var(--c-quote_source--font-weight, var(--font-weight-bold))
      var(--c-quote_source--font, var(--font-ui-s));
    text-transform: var(--c-quote_source--text-transform);
  }

  &__date {
    font: var(--c-quote_date--font-style, normal)
      var(--c-quote_date--font-weight, var(--font-weight-bold))
      var(--c-quote_date--font, var(--font-ui-s));
    text-transform: var(--c-quote_date--text-transform);
  }
}
