@use '../../0-base/1-tools/scss/aspect-ratio';
@use '@kickstartds/core/source/core/breakpoint';
@use 'bourbon/core/bourbon';

.text-media {
  @include bourbon.clearfix;

  &--beside {
    .text-media__text {
      @include breakpoint.media('≥s') {
        overflow: hidden;
      }

      @include breakpoint.media('print') {
        overflow: visible;
      }
    }
  }

  &__gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: var(--ks-spacing-m);

    // above/below left (default), center, right
    .text-media--above & {
      padding-bottom: var(--ks-spacing-s);
    }

    .text-media--below & {
      padding-top: var(--ks-spacing-s);
    }

    .text-media--center & {
      justify-content: center;
    }

    .text-media--right & {
      justify-content: flex-end;
    }

    // intext left, right
    .text-media--intext & {
      padding-bottom: var(--ks-spacing-s);

      @include breakpoint.media('≥s') {
        padding-bottom: var(--ks-spacing-xs);
        max-width: 50%;
        min-width: 0;
      }

      @include breakpoint.media('print') {
        width: 30%;
      }
    }

    .text-media--intext.text-media--left & {
      @include breakpoint.media('≥s') {
        float: left;
        padding-right: var(--ks-spacing-m);
      }
    }

    .text-media--intext.text-media--right & {
      @include breakpoint.media('≥s') {
        float: right;
        padding-left: var(--ks-spacing-m);
      }
    }
  }

  &__media {
    display: table;
    table-layout: fixed;
    max-width: 100%;
    box-sizing: content-box;

    &--full {
      &,
      > * {
        width: 100% !important;
      }
    }

    a {
      display: table-cell;
    }
  }

  &__caption {
    display: table-caption;
    caption-side: bottom;
    text-align: left;
  }
}
