@use '../../0-base/1-tools/scss/aspect-ratio';
@use '@kickstartds/core/source/core/breakpoint';
@use 'bourbon/core/bourbon';

.text-media {
  @include bourbon.clearfix;
  $gallery-gutter: 1rem;

  &--beside {
    .text-media__text {
      @include breakpoint.media('≥s') {
        overflow: hidden;
      }

      @include breakpoint.media('print') {
        overflow: visible;
      }
    }
  }

  &__gallery {
    @include bourbon.clearfix;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: ($gallery-gutter * -1) 0 0 ($gallery-gutter * -1);

    // above/below left (default), center, right
    .text-media--above & {
      padding-bottom: 1rem;
    }

    .text-media--below & {
      padding-top: 1rem;
    }

    .text-media--center & {
      justify-content: center;
    }

    .text-media--right & {
      justify-content: flex-end;
    }

    // intext left, right
    .text-media--intext & {
      padding-bottom: 1rem;

      @include breakpoint.media('≥s') {
        padding-bottom: 0.5rem;
        max-width: 50%;
        min-width: 0;
      }

      @include breakpoint.media('print') {
        width: 30%;
      }
    }

    .text-media--intext.text-media--left & {
      @include breakpoint.media('≥s') {
        float: left;
        padding-right: 1.5rem;
      }
    }

    .text-media--intext.text-media--right & {
      @include breakpoint.media('≥s') {
        float: right;
        padding-left: 1.5rem;
      }
    }
  }

  &__media {
    display: table;
    table-layout: fixed;
    padding: $gallery-gutter 0 0 $gallery-gutter;
    max-width: 100%;
    box-sizing: content-box;

    &--full {
      // width: 100vw !important;
      &,
      > * {
        width: 100% !important;
      }
    }

    a {
      display: table-cell;
    }
  }

  &__caption {
    display: table-caption;
    caption-side: bottom;
    text-align: left;
    padding-left: $gallery-gutter;
  }
}
