/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.teaser-box {
  margin-bottom: 1em;
}
.teaser-box__item {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  box-sizing: border-box;
  color: #050505;
  background: #fff;
  border: 1px solid #e6e6e6;
  overflow: hidden;
  font-size: 1em;
  line-height: 1.5;
}
.teaser-box__item.js-linked {
  transition: box-shadow 0.2s;
}
.teaser-box__item.js-linked:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1), 0 10px 20px -15px rgba(0, 0, 0, 0.023), 0 25px 25px -35px rgba(0, 0, 0, 0.057);
}
.teaser-box__item--style-dark {
  color: #fff;
  background: #333333;
  border: none;
}
.teaser-box__item--style-dark.js-linked {
  transition: box-shadow 0.2s;
}
.teaser-box__item--style-dark.js-linked:hover {
  cursor: pointer;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2), 0 10px 20px -15px rgba(0, 0, 0, 0.15), 0 25px 25px -35px rgba(0, 0, 0, 0.25);
}
.teaser-box__item__image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
}
.teaser-box__item__image--square {
  position: relative;
  padding-bottom: 100%;
}
.teaser-box__item__image--sixteen-to-nine {
  position: relative;
  padding-bottom: 56.25%;
}
.teaser-box__item__image--four-to-three {
  position: relative;
  padding-bottom: 75%;
}
.teaser-box__item__image--square img, .teaser-box__item__image--sixteen-to-nine img, .teaser-box__item__image--four-to-three img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.teaser-box__item__box {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 15px;
}
@media (min-width: 40em) {
  .teaser-box__item__box {
    padding: 40px 20px;
  }
}
.teaser-box__item__box--center {
  text-align: center;
}
.teaser-box__item__box[min-width~="0px"] {
  font-size: 70%;
}
.teaser-box__item__box[min-width~="200px"] {
  font-size: 85%;
}
.teaser-box__item__box[min-width~="400px"] {
  font-size: 100%;
}
.teaser-box__topic {
  font-size: 1.2em;
  line-height: 1.1;
  font-weight: 700;
  color: #050505;
  margin: 0 0 0.5em 0;
}
.teaser-box__item--style-dark .teaser-box__topic {
  color: #fff;
}
.teaser-box__text {
  flex: 1 auto;
}
.teaser-box__link {
  margin-top: 1em;
}
.teaser-box .image--spacing {
  padding: 20px;
  padding-bottom: 0;
}
.teaser-box .image--spacing .teaser-box__item__box {
  padding-left: 0;
  padding-right: 0;
}