@use '../../0-base/1-tools/scss/breakpoint';
@use '../../0-base/1-tools/scss/helpers';
@use 'settings/base';
@use 'settings/global';
@use 'sass:meta';

.teaser-box {
  margin-bottom: 1em;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1;
    box-sizing: border-box;
    color: base.$teaser-box__color;
    background: base.$teaser-box__background;
    border: base.$teaser-box__border;
    border-radius: base.$teaser-box__border-radius;
    box-shadow: base.$teaser-box__shadow;
    overflow: hidden;
    font-size: base.$teaser-box__font-size;
    line-height: base.$teaser-box__line-height;

    @include breakpoint.media('≥s') {
      font-size: base.$teaser-box__font-size-s;
      line-height: base.$teaser-box__line-height-s;
    }

    @include breakpoint.media('≥m') {
      font-size: base.$teaser-box__font-size-m;
      line-height: base.$teaser-box__line-height-m;
    }

    &.js-linked {
      transition: box-shadow 0.2s;

      &:hover {
        cursor: pointer;
        box-shadow: base.$teaser-box__shadow-hover;
      }
    }

    &--style-dark {
      color: base.$teaser-box__color--dark;
      background: base.$teaser-box__background--dark;
      border: base.$teaser-box__border--dark;
      box-shadow: base.$teaser-box__shadow--dark;

      &.js-linked {
        transition: box-shadow 0.2s;

        &:hover {
          cursor: pointer;
          box-shadow: base.$teaser-box__shadow--dark-hover;
        }
      }
    }

    &__image {
      flex-grow: 0;
      flex-shrink: 0;
      width: 100%;

      &--square {
        position: relative;
        padding-bottom: 100%;
      }

      &--sixteen-to-nine {
        position: relative;
        padding-bottom: 56.25%;
      }

      &--four-to-three {
        position: relative;
        padding-bottom: 75%;
      }

      &--square,
      &--sixteen-to-nine,
      &--four-to-three {
        img {
          position: absolute;
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      padding: 15px;

      @include breakpoint.media('≥s') {
        padding: 40px 20px;
      }

      &--center {
        text-align: center;
      }

      // TODO: remove condition in version 10
      @if (
        meta.global-variable-exists('teaser-box__adaptive-font-sizes', 'base')
      ) {
        @each $key, $value in base.$teaser-box__adaptive-font-sizes {
          &[min-width~='#{$key}'] {
            font-size: $value;
          }
        }
      }
    }
  }

  &__topic {
    font-size: global.$topic__font-size;
    line-height: global.$topic__line-height;
    font-weight: helpers.get-font-weight(global.$topic__font-weight);
    color: global.$topic__font-color;
    margin: global.$topic__margin;

    .teaser-box__item--style-dark & {
      // TODO: remove condition in version 10
      color: if(
        meta.global-variable-exists('topic__font-color-inverted', 'global'),
        global.$topic__font-color-inverted,
        base.$color-white
      );
    }
  }

  &__text {
    flex: 1 auto;
  }

  &__link {
    margin-top: 1em;
  }

  .image--spacing {
    $image-spacing: 20px;
    padding: $image-spacing;
    padding-bottom: 0;

    @if (base.$teaser-box__border-radius) {
      .teaser-box__item__image {
        border-top-left-radius: calc(
          #{base.$teaser-box__border-radius} - #{$image-spacing}
        );
        border-top-right-radius: calc(
          #{base.$teaser-box__border-radius} - #{$image-spacing}
        );
      }
    }

    .teaser-box__item__box {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
