@use '@kickstartds/core/source/core/breakpoint';
@use 'bourbon/core/bourbon';
@use 'settings/base';

.input-checkbox {
  // Hide real checkbox
  position: absolute;
  opacity: 0;

  + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    padding-left: 2.6em;
    font-size: base.$font-size-small;
    line-height: 1.9;
    padding-top: 1em;
    display: inline-block;

    @include breakpoint.media('≥s') {
      padding-left: 2.3em;
      line-height: 1.6;
      padding-top: 0.7em;
    }
  }

  @mixin checkbox-error() {
    background: base.$checkbox-field__error-background;
    border-color: base.$checkbox-field__error-border-color;
  }

  // Square Box
  &-field {
    @include bourbon.size(1.9em);

    position: absolute;
    left: 0;
    top: 0;
    margin-top: 1em; // same as label padding-top
    display: inline-block;
    vertical-align: text-top;
    background: base.$checkbox-field__background;
    border: base.$checkbox-field__border-width solid
      base.$checkbox-field__border-color;
    border-radius: base.$checkbox-field__border-radius;

    @include breakpoint.media('≥s') {
      @include bourbon.size(1.6em);

      margin-top: 0.7em; // same as label padding-top
    }

    // multiple checkboxes
    .form-item--error & {
      @include checkbox-error();
    }
  }

  &.form-item--error + label &-field {
    @include checkbox-error();
  }

  // Box focus
  &:focus + label &-field {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  }

  // Box checked
  &:checked + label &-field {
    background: base.$color-brand;
  }

  // Disabled state label.
  &:disabled + label {
    cursor: auto;
    opacity: 0.4;
  }

  // Disabled box.
  &:disabled + label &-field {
    box-shadow: none;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label &-field::after {
    transform: translate(-50%, -50%) rotate(45deg);

    position: absolute;
    top: calc(50% - 2px);
    left: 50%;

    /*Add another block-level blank space*/
    content: '';
    display: block;

    /*Make it a small rectangle so the border will create an L-shape*/
    width: 0.417em; //5px
    height: 0.834em; //10px

    @include breakpoint.media('≥s') {
      width: 0.329em; //5px
      height: 0.658em; //10px
    }

    /*Add a white border on the bottom and left, creating that 'L' */
    border: solid base.$color-white;
    border-width: 0 2px 2px 0;
  }
}

.input-multi-checkbox {
  margin-top: 0.5em;
}
