@use '../../0-base/1-tools/scss/helpers';
@use 'settings/base';

.profile {
  margin-bottom: base.$profile__margin-bottom;

  &__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1rem;
  }

  &__image {
    min-width: base.$profile__image-width;
    width: base.$profile__image-width;
    height: base.$profile__image-height;
    margin-right: base.$profile__image-margin-right;
    box-sizing: border-box;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    &--titel,
    &--job-description {
      color: base.$profile__color;
      font-size: base.$profile__font-size;
      font-weight: helpers.get-font-weight(base.$profile__font-weight);
      word-wrap: break-word;
    }

    &--name {
      color: base.$profile__name-color;
      font-size: small;
      font-weight: helpers.get-font-weight(base.$profile__name-font-weight);
      word-wrap: break-word;
    }
  }

  &__info-text {
    font-size: base.$profile__info-text-font-size;
  }
}
