@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use 'bourbon/core/bourbon';
@use 'settings/base';
@use 'settings/news';
@use 'sass:meta';

.news-detail {
  &__date {
    // TODO: remove conditions in version 6
    font-size: if(
      meta.global-variable-exists('news-detail__date-font-size', 'news'),
      news.$news-detail__date-font-size,
      base.$font-size-small
    );
    font-weight: if(
      meta.global-variable-exists('news-detail__date-font-weight', 'news'),
      helpers.get-font-weight(news.$news-detail__date-font-weight),
      helpers.get-font-weight(regular)
    );
    color: if(
      meta.global-variable-exists('news-detail__date-color', 'news'),
      news.$news-detail__date-color,
      base.$color-black-50
    );
    line-height: base.$line-height-small;
    padding-right: 1rem;
  }

  &__meta {
    display: flex;
    align-items: center;
  }

  h1 {
    margin: 0.5em 0;
  }

  .media__video,
  &__image {
    text-align: center;
    margin-bottom: 1em;

    figure {
      display: inline-block;

      .caption {
        text-align: left;
      }
    }

    @include breakpoint.media('≥m') {
      margin-bottom: 2em;
    }
  }

  &__text-teaser {
    // TODO: remove conditions in version 6
    font-size: if(
      meta.global-variable-exists('news-detail__teaser-text-font-size', 'news'),
      news.$news-detail__teaser-text-font-size,
      null
    );
    font-weight: if(
      meta.global-variable-exists(
        'news-detail__teaser-text-font-weight',
        'news'
      ),
      helpers.get-font-weight(news.$news-detail__teaser-text-font-weight),
      null
    );
    line-height: if(
      meta.global-variable-exists(
        'news-detail__teaser-text-line-height',
        'news'
      ),
      news.$news-detail__teaser-text-line-height,
      null
    );
    color: if(
      meta.global-variable-exists('news-detail__teaser-text-color', 'news'),
      news.$news-detail__teaser-text-color,
      null
    );
  }

  /**
   * ### Downloads
   */
  &__download {
    @include bourbon.clearfix;
  }

  &__more {
    text-align: center;
    margin-top: 1em;

    @include breakpoint.media('≥s') {
      margin-top: 3em;
    }
  }

  .gallery {
    margin-bottom: 2em;

    @include breakpoint.media('≥s') {
      margin-top: 2em;
    }
  }

  .tag-label-container {
    min-width: 0%;
    margin: -0.15rem;

    > * {
      padding: 0.15rem;
    }

    @include breakpoint.media('≥s') {
      margin: -0.25rem;

      > * {
        padding: 0.25rem;
      }
    }
  }
}
