@use 'settings/base';
@use 'settings/search';

.search-overlay {
  &__inner {
    display: block;
    min-height: 0;
  }

  &__close {
    position: absolute;
    top: 2em;
    right: 2em;
  }

  &__panel {
    position: relative;
    top: 22vh;

    width: 100%;
    max-width: 42rem;
    margin: auto;
    padding: 1em;

    &__topic {
      color: search.$topic-color;
    }
  }

  .search {
    &__form {
      color: inherit;
      border-bottom-color: rgba(base.$color-brand, 0.5);

      &::after {
        border-bottom-color: rgba(base.$color-white, 0.5);
      }
    }

    &__submit {
      &:hover,
      &:focus {
        color: base.$overlay__button-hover-color;
      }
    }
  }
}
