@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';

.reference-list-item {
  display: block;
  padding: 1.5em 0;
  border-bottom: 1px solid base.$color-black-10;
  transition: background 0.15s ease-in-out;

  @include breakpoint.media('≥s') {
    display: flex;
    padding: 2em 0;
  }

  &:hover {
    background: none;
    cursor: pointer;

    @include breakpoint.media('≥m') {
      background-color: base.$color-black-7;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 1em;
    margin-bottom: 1em;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;

    @include breakpoint.media('≥s') {
      width: 11.85em;
      padding: 1.5em;
      border-right: 1px solid base.$color-black-10;
    }

    @include breakpoint.media('≥m') {
      margin-bottom: 0;
      padding: 2em;
      width: 14.5em;
    }

    &__image {
      text-align: center;

      img {
        max-width: 11.65em;
        height: auto;

        @include breakpoint.media('≥s') {
          max-width: 100%;
        }

        @include breakpoint.media('≥m') {
          max-width: 10.55em;
        }
      }

      + .reference-list__item__logo__name {
        margin-top: 1em;
        @include breakpoint.media('≥s') {
          margin-top: 2em;
        }
      }
    }

    &__name {
      text-align: center;
      color: base.$color-brand;
      font-size: base.$font-size-small;
      font-weight: helpers.get-font-weight(bold);
    }
  }

  &__content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    @include breakpoint.media('≥s') {
      padding: 0 1.5em;
      padding-right: 0;
    }

    @include breakpoint.media('≥m') {
      padding-left: 2em;
    }
  }

  &__header {
    h2 {
      margin-bottom: 0.5em;
    }
  }

  &__content {
    @include grid.grid-container();
  }

  &__image {
    @include grid.grid-break-at(550px, 12, 6);

    margin-bottom: 1em;
    padding-right: 2em;
    text-align: center;

    @include breakpoint.media('≥m') {
      margin-bottom: 0;
      padding-right: 2em;
      text-align: start;
    }

    img {
      max-height: 100%;
      max-width: 100%;
      width: 100%;
    }
  }

  &__teaser {
    @include grid.grid-break-at(550px, 12, 5);

    font-size: 1em;

    @include breakpoint.media('≥s') {
      font-size: base.$font-size-small;
      padding-right: 2em;
    }
  }
}
