@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/aspect-ratio';
@use 'settings/reference';

.reference-list-item-compact {
  position: relative;
  border-radius: reference.$list-compact__border-radius;
  padding: reference.$list-compact__padding;
  box-shadow: reference.$list-compact__box-shadow;
  transition: 0.15s ease-out;
  border: reference.$list-compact__border;
  background: reference.$list-compact__background;

  @include breakpoint.media('≥s') {
    padding: reference.$list-compact__padding-s;
  }

  &.js-linked:hover {
    cursor: pointer;
  }

  &:hover {
    box-shadow: reference.$list-compact__box-shadow-hover;
    transform: translateY(reference.$list-compact__translate-hover);
  }

  & + & {
    margin-top: 0.5em;
  }

  &__wrapper {
    @include grid.grid-container(1em);
    align-items: center;

    @include breakpoint.media('≥s') {
      @include grid.grid-container(2em);
    }
  }

  &__logo {
    @include grid.grid-columns(4);

    @include breakpoint.media('≥s') {
      @include grid.grid-columns(3);
    }

    &-ratio {
      @include aspect-ratio.aspect-ratio();
      padding-top: reference.$list-compact__logo-wrapper-height;

      > * {
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    img {
      max-height: 100%;
      width: auto;
    }
  }

  &__content {
    @include grid.grid-columns(8);

    @include breakpoint.media('≥s') {
      @include grid.grid-columns(9);
      @include grid.grid-container(1em);
      min-width: 0;
    }
  }

  &__headline {
    color: reference.$list-compact__headline-color;
    font-size: reference.$list-compact__headline-font-size;
    line-height: reference.$list-compact__headline-line-height;
    font-weight: helpers.get-font-weight(
      reference.$list-compact__headline-font-weight
    );
    margin-bottom: 0.25em;

    @include breakpoint.media('≥s') {
      @include grid.grid-columns(9);
      margin-bottom: 0;
      font-size: reference.$list-compact__headline-font-size-s;
    }

    .tag-label-container {
      padding: 0.5em 0 0.25em;
      font-size: reference.$list-compact__category-font-size;

      @include breakpoint.media('≥s') {
        padding-bottom: 0;
      }
    }
  }

  &__meta {
    color: reference.$list-compact__meta-color;
    font-size: reference.$list-compact__meta-font-size;
    line-height: reference.$list-compact__meta-line-height;
    font-weight: helpers.get-font-weight(
      reference.$list-compact__meta-font-weight
    );

    @include breakpoint.media('≥s') {
      @include grid.grid-columns(3);
    }
  }
}
