@use '@kickstartds/core/source/core/breakpoint';
@use 'bourbon/core/bourbon';

.c-slider__arrows {
  display: none;
  opacity: 0;
  transition: 0.3s;

  @include breakpoint.media('≥m') {
    display: block;
  }

  .c-slider:hover & {
    opacity: 1;
  }
}

.c-slider__arrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: var(--c-slider_arrow--color);
  background-color: var(--c-slider_arrow--background);
  user-select: none;
  border-radius: 3px;
  z-index: 100;
  transition: inherit;

  &:hover,
  &:focus {
    background-color: var(--c-slider_arrow--background-hover);
  }

  .icon {
    @include bourbon.size(var(--c-slider_arrow--size));
  }

  &--prev {
    left: 0;

    [data-slider-arrows='outer'] & {
      margin-left: calc(
        var(--c-slider_arrow--size) * var(--c-slider_arrow--offset)
      );
    }
  }

  &--next {
    right: 0;

    [data-slider-arrows='outer'] & {
      margin-right: calc(
        var(--c-slider_arrow--size) * var(--c-slider_arrow--offset)
      );
    }
  }
}
