@use 'sass:meta';
@use './post-share-bar-vars';

.c-post-share-bar {
  &__link {
    --g-link--color: var(--c-post-share-bar__icon--color);
    --g-link--color-hover: var(--c-post-share-bar__icon--color_hover);
    display: inline-block;
    padding: var(--c-post-share-bar__icon--padding);

    .icon {
      height: var(--c-post-share-bar__icon--size);
      width: var(--c-post-share-bar__icon--size);
    }
  }
}
