$name-: 'c-button';

$host: (
  '.c-button': (
    color-primary: var(--ks-color-primary),
    color-secondary: var(--ks-color-primary-inverted),
    font-weight: var(--ks-font-weight-regular),
    icon-size: 1.5em,
    border-radius: var(--ks-border-radius-control),
    border-color: var(--c-button--color),
    background-color: transparent,
    transform-active: scale(0.95),
    border-width: var(--ks-border-width-default),
  ),
) !default;

$small: (
  '.c-button': (
    font: var(--ks-font-interface-s),
    padding: 0.4em 1.25em 0.45em,
  ),
) !default;

$medium: (
  '.c-button': (
    font: var(--ks-font-interface-m),
    padding: 0.4em 1.25em 0.45em,
  ),
) !default;

$large: (
  '.c-button': (
    font: var(--ks-font-interface-l),
    padding: 0.4em 1.25em 0.45em,
  ),
) !default;

$solid: (
  '.c-button': (
    color: var(--ks-color-fg-inverted),
    color_hover: var(--ks-color-fg-inverted),
    color_active: var(--ks-color-fg-inverted),
    background-color: var(--ks-background-color-primary-interactive),
    background-color_hover: var(--ks-background-color-primary-interactive-hover),
    background-color_active:
      var(--ks-background-color-primary-interactive-active),
  ),
) !default;

$outline: (
  '.c-button': (
    color: var(--ks-text-color-default),
    color_hover: var(--ks-text-color-default),
    color_active: var(--ks-text-color-default),
    border-color: var(--ks-border-color-interface-interactive),
    border-color_hover: var(--ks-border-color-interface-interactive-hover),
    border-color_active: var(--ks-border-color-interface-interactive-active),
  ),
) !default;

$clear: (
  '.c-button': (
    color: var(--ks-text-color-default),
    color_hover: var(--ks-text-color-default),
    color_active: var(--ks-text-color-default),
    background-color: var(--ks-background-color-clear-interactive),
    background-color_hover: var(--ks-background-color-clear-interactive-hover),
    background-color_active: var(--ks-background-color-clear-interactive-active),
  ),
) !default;
