.c-button {
  --c-button--border-radius: var(--ks-border-radius-control);
  --c-button--border-width: var(--ks-border-width-default);
  --c-button--font-weight: var(--ks-font-weight-regular);
  --c-button--transform_active: scale(0.95);

  // Small
  --c-button_small--font: var(--ks-font-interface-s);
  --c-button_small--padding: 0.4em 1.25em 0.45em;
  --c-button_small--icon-size: 1.5em;

  // Medium
  --c-button_medium--font: var(--ks-font-interface-m);
  --c-button_medium--padding: 0.4em 1.25em 0.45em;
  --c-button_medium--icon-size: 1.5em;

  // Large
  --c-button_large--font: var(--ks-font-interface-l);
  --c-button_large--padding: 0.4em 1.25em 0.45em;
  --c-button_large--icon-size: 1.5em;

  // Solid
  --c-button_solid--color: var(--ks-color-fg-inverted);
  --c-button_solid--color_hover: var(--ks-color-fg-inverted);
  --c-button_solid--color_active: var(--ks-color-fg-inverted);
  --c-button_solid--background-color: var(
    --ks-background-color-primary-interactive
  );
  --c-button_solid--background-color_hover: var(
    --ks-background-color-primary-interactive-hover
  );
  --c-button_solid--background-color_active: var(
    --ks-background-color-primary-interactive-active
  );

  // Outline
  --c-button_outline--color: var(--ks-text-color-default);
  --c-button_outline--color_hover: var(--ks-text-color-default);
  --c-button_outline--color_active: var(--ks-text-color-default);
  --c-button_outline--border-color: var(
    --ks-border-color-interface-interactive
  );
  --c-button_outline--border-color_hover: var(
    --ks-border-color-interface-interactive-hover
  );
  --c-button_outline--border-color_active: var(
    --ks-border-color-interface-interactive-active
  );

  // Clear
  --c-button_clear--color: var(--ks-text-color-default);
  --c-button_clear--color_hover: var(--ks-text-color-default);
  --c-button_clear--color_active: var(--ks-text-color-default);
  --c-button_clear--background-color: var(
    --ks-background-color-clear-interactive
  );
  --c-button_clear--background-color_hover: var(
    --ks-background-color-clear-interactive-hover
  );
  --c-button_clear--background-color_active: var(
    --ks-background-color-clear-interactive-active
  );
}
