@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/custom-properties';
@use '../helpers/button';
@use './button-vars';

$vars: meta.module-variables(button-vars);
@include custom-properties.styles($vars);

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--c-button--padding);
  border: var(--c-button--border-width) solid var(--c-button--border-color);
  border-radius: var(--c-button--border-radius);
  font: var(--c-button--font);
  font-weight: var(--c-button--font-weight);
  text-align: center;
  transition-duration: 0.12s;
  transition-property: background, color, border, transform, padding;
  user-select: none;
  vertical-align: middle;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--c-button--color);
  background-color: var(--c-button--background-color);

  &:hover,
  &:focus {
    color: var(--c-button--color_hover, var(--c-button--color));
    background-color: var(
      --c-button--background-color_hover,
      var(--c-button--background-color)
    );
    border-color: var(
      --c-button--border-color_hover,
      var(--c-button--border-color)
    );
    text-decoration: none;
  }

  &:disabled,
  &--disabled {
    box-shadow: none;
    opacity: 0.5;
  }

  &:active:not(:disabled),
  &:active:not(.c-button--disabled) {
    color: var(
      --c-button--color_active,
      var(--c-button--color_hover, var(--c-button--color))
    );
    background-color: var(
      --c-button--background-color_active,
      var(--c-button--background-color_hover, var(--c-button--background-color))
    );
    border-color: var(
      --c-button--border-color_active,
      var(--c-button--border-color_hover, var(--c-button--border-color))
    );
    transform: var(--c-button--transform_active);
  }

  &--small {
    --c-button--padding: var(--c-button_small--padding);
    --c-button--font: var(--c-button_small--font);
  }

  &--medium {
    --c-button--padding: var(--c-button_medium--padding);
    --c-button--font: var(--c-button_medium--font);
  }

  &--large {
    --c-button--padding: var(--c-button_large--padding);
    --c-button--font: var(--c-button_large--font);
  }

  &--fill-animation {
    background: linear-gradient(
        to right,
        var(--c-button--background-color_hover) 50%,
        var(--c-button--background-color) 50%
      )
      no-repeat;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.24s ease-out;

    &:focus,
    &:hover {
      color: var(--c-button--color_hover);
      background-position: left bottom;
      background-color: var(--c-button--background-color);
      border-color: var(--c-button--background-color_hover);
    }
  }

  @media print {
    display: none;
  }

  &--solid {
    --c-button--color: var(--c-button_solid--color);
    --c-button--color_hover: var(--c-button_solid--color_hover);
    --c-button--color_active: var(--c-button_solid--color_active);
    --c-button--border-color: var(--c-button_solid--border-color);
    --c-button--border-color_hover: var(--c-button_solid--border-color_hover);
    --c-button--border-color_active: var(--c-button_solid--border-color_active);
    --c-button--border-color_selected: var(
      --c-button_solid--border-color_selected
    );
    --c-button--background-color: var(--c-button_solid--background-color);
    --c-button--background-color_hover: var(
      --c-button_solid--background-color_hover
    );
    --c-button--background-color_active: var(
      --c-button_solid--background-color_active
    );
    --c-button--background-color_selected: var(
      --c-button_solid--background-color_selected
    );
  }

  &--outline {
    --c-button--color: var(--c-button_outline--color);
    --c-button--color_hover: var(--c-button_outline--color_hover);
    --c-button--color_active: var(--c-button_outline--color_active);
    --c-button--border-color: var(--c-button_outline--border-color);
    --c-button--border-color_hover: var(--c-button_outline--border-color_hover);
    --c-button--border-color_active: var(
      --c-button_outline--border-color_active
    );
    --c-button--border-color_selected: var(
      --c-button_outline--border-color_selected
    );
    --c-button--background-color: var(--c-button_outline--background-color);
    --c-button--background-color_hover: var(
      --c-button_outline--background-color_hover
    );
    --c-button--background-color_active: var(
      --c-button_outline--background-color_active
    );
    --c-button--background-color_selected: var(
      --c-button_outline--background-color_selected
    );
  }

  &--clear {
    --c-button--color: var(--c-button_clear--color);
    --c-button--color_hover: var(--c-button_clear--color_hover);
    --c-button--color_active: var(--c-button_clear--color_active);
    --c-button--border-color: var(--c-button_clear--border-color);
    --c-button--border-color_hover: var(--c-button_clear--border-color_hover);
    --c-button--border-color_active: var(--c-button_clear--border-color_active);
    --c-button--border-color_selected: var(
      --c-button_clear--border-color_selected
    );
    --c-button--background-color: var(--c-button_clear--background-color);
    --c-button--background-color_hover: var(
      --c-button_clear--background-color_hover
    );
    --c-button--background-color_active: var(
      --c-button_clear--background-color_active
    );
    --c-button--background-color_selected: var(
      --c-button_clear--background-color_selected
    );
  }

  &--clear,
  &--clear-inverted {
    padding-left: 0;

    &:focus,
    &:hover {
      padding: var(--c-button--padding);
    }
  }

  .icon {
    @include bourbon.size(var(--c-button--icon-size));

    flex-shrink: 0;
    margin: 0 0.5em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &--icon-animation {
    &:hover {
      .icon {
        animation: hover-effect 0.6s;
      }
    }
  }
}

@keyframes btnSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hover-effect {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  60% {
    transform: translateX(50%);
    opacity: 0;
  }

  75% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
