$name-: 'pswp' !default;

$host: (
  '.pswp': (
    show-hide-transition-duration: 333ms,
    controls-transition-duration: 333ms,
    background-color: var(--color-black),
    placeholder-color: var(--color-grey-9),
    root-z-index: 4500,
    assets-path: 'url(/images/lightbox/default-skin.svg)',
    error-text-color: var(--color-grey-1),
    // "Image not loaded" text color
  ),
) !default;
