@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/0-settings/selector';
@use 'settings/base';
@use 'settings/global';

.reference-slide {
  @include breakpoint.media('≥s') {
    display: flex;
  }

  &__image {
    display: block;
    flex-shrink: 0;
    margin-bottom: 1em;

    @include breakpoint.media('≥s') {
      display: flex;
      align-items: center;
      max-width: 35%;
      margin-bottom: 0;
    }

    img {
      @include breakpoint.media('≥s') {
        width: 100%;
      }
    }

    &--logo {
      background: base.$color-white;
      padding: 2em;
      text-align: center;

      img {
        display: inline-block;
        max-width: 20.85em;
        max-height: 16.7em;
      }

      @include breakpoint.media('≥s') {
        img {
          display: block;
          max-width: 100%;
          max-height: none;
        }
      }
    }
  }

  &__text {
    &:first-child {
      @include breakpoint.media('≥s') {
        padding: 0 8em 0.065em;
      }
    }

    @include breakpoint.media('≥s') {
      overflow: hidden;
      padding: 0 1em 0.065em 2em;

      &:first-child {
        padding: 0 8em 0.065em;
      }
    }
  }

  &__topic {
    font-size: global.$topic__font-size;
    line-height: global.$topic__line-height;
    font-weight: helpers.get-font-weight(global.$topic__font-weight);
    color: global.$topic__font-color;
    margin: global.$topic__margin;
  }

  &__logo-name {
    color: base.$color-brand;
    font-size: base.$font-size-small;
    font-weight: helpers.get-font-weight(bold);
    margin-bottom: 0.5em;
  }

  &__more {
    text-align: center;
    padding-top: 1em;
  }
}

.reference-slide--preview {
  color: base.$color-black-75;
  background-color: white;
  margin: 0 1px;
  font-weight: helpers.get-font-weight(700);
  font-size: base.$font-size-small;
  line-height: base.$line-height-small;
  padding: 0.75em;
  text-align: center;
  transition: 0.3s;

  #{selector.$slider-nav-constrol-slide} & {
    min-width: 5rem;
  }

  #{selector.$slider-nav-slide}:not(#{selector.$slider-nav-slide}--active):hover
    &,
  #{selector.$slider-nav-slide}:not(#{selector.$slider-nav-slide}--active):focus
    & {
    color: base.$color-black;
  }

  #{selector.$slider-nav-slide}--active & {
    color: base.$color-brand;
  }
}
