/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.visual {
  /* critical:start */
  display: flex;
  flex-direction: column;
  position: relative;
  background: transparent;
  z-index: 1;
  /* critical:end */
}
@media (max-width: 39.99em) {
  .visual {
    /* critical:start */
    min-height: 20rem;
    /* critical:end */
  }
}
@media (min-width: 40em) {
  .visual {
    /* critical:start */
    min-height: 21rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual {
    /* critical:start */
    min-height: 31.5rem;
    /* critical:end */
  }
}
@media (min-width: 64em) {
  .visual {
    /* critical:start */
    min-height: 35rem;
    /* critical:end */
  }
}
@media (max-width: 39.99em) {
  .visual--small {
    /* critical:start */
    min-height: 13.35rem !important;
    /* critical:end */
  }
}
@media (min-width: 40em) {
  .visual--small {
    /* critical:start */
    min-height: 13.2rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual--small {
    /* critical:start */
    min-height: 15.8rem;
    /* critical:end */
  }
}
@media (min-width: 64em) {
  .visual--small {
    /* critical:start */
    min-height: 20rem;
    /* critical:end */
  }
}
.visual--full {
  /* critical:start */
  min-height: 0 !important;
  height: calc(100vh - 3.35rem);
}
@media (min-width: 40em) {
  .visual--full {
    /* critical:start */
    height: calc(100vh - 5.5rem);
    /* critical:end */
  }
}
@media (min-width: 67em) {
  .visual--full {
    /* critical:start */
    height: calc(100vh - 7.25rem);
    /* critical:end */
  }
  .transparent-header .visual--full {
    height: 100vh;
  }
  .header-is-scrolling .visual--full ~ .visual--full {
    height: calc(100vh - 2.63rem);
  }
}
.visual--no-crop {
  /* critical:start */
  min-height: 0 !important;
  /* critical:end */
}
@media (min-width: 67em) {
  .transparent-header .page-intro .visual:first-child {
    /* critical:start */
    min-height: 38.75rem;
    margin-top: -7.25rem;
    /* critical:end */
  }
  .transparent-header .page-intro .visual:first-child.visual--small {
    /* critical:start */
    min-height: 23.05rem;
    margin-top: -7.25rem;
    /* critical:end */
  }
  .transparent-header .page-intro .visual:first-child .visual__content {
    /* critical:start */
    padding-top: 9.25rem;
    /* critical:end */
  }
}
.visual__image {
  /* critical:start */
  display: block;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__image {
    /* critical:start */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* critical:end */
  }
  .visual--no-crop .visual__image {
    position: static;
  }
}
.visual__image--inbox {
  /* critical:start */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* critical:end */
}
@media (max-width: 59.99em) {
  .visual__image--indent-left img {
    /* critical:start */
    object-position: 20% 50%;
    /* critical:end */
  }
}
@media (max-width: 59.99em) {
  .visual__image--indent-right img {
    /* critical:start */
    object-position: 70% 50%;
    /* critical:end */
  }
}
.visual__image,
.visual__image * {
  /* critical:start */
  min-height: inherit;
  /* critical:end */
}
.visual__image img {
  /* critical:start */
  object-fit: cover;
  width: 100%;
  height: 100%;
  /* critical:end */
}
@media print {
  .visual__image {
    display: none;
  }
}
.visual__video {
  /* critical:start */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* critical:end */
}
.visual__content {
  /* critical:start */
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  margin: auto;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__content {
    /* critical:start */
    /* critical:start */
    padding-right: 0.666rem;
    padding-left: 0.666rem;
    /* critical:end */
    padding-top: 2rem;
    padding-bottom: 2rem;
    min-height: inherit;
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 40em) {
  .visual__content {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 60em) {
  .visual__content {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
.visual__content--center {
  /* critical:start */
  justify-content: center;
  text-align: center;
  /* critical:end */
}
.visual__content--left {
  /* critical:start */
  justify-content: flex-start;
  /* critical:end */
}
.visual__content--right {
  /* critical:start */
  justify-content: flex-end;
  /* critical:end */
}
.visual__content--top {
  /* critical:start */
  align-items: flex-start;
  /* critical:end */
}
.visual__content--bottom {
  /* critical:start */
  align-items: flex-end;
  /* critical:end */
}
.visual__content--indent {
  /* critical:start */
  max-width: 62rem;
  /* critical:end */
}
.visual__content--inbox, .visual__content:only-child {
  /* critical:start */
  /* critical:start */
  padding-right: 0.666rem;
  padding-left: 0.666rem;
  /* critical:end */
  /* critical:start */
  padding-top: 2rem;
  /* critical:end */
  /* critical:start */
  padding-bottom: 2rem;
  /* critical:end */
  height: 20rem;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__content--inbox, .visual__content:only-child {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual__content--inbox, .visual__content:only-child {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
@media (min-width: 40em) {
  .visual__content--inbox, .visual__content:only-child {
    /* critical:start */
    padding-top: 3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual__content--inbox, .visual__content:only-child {
    /* critical:start */
    padding-top: 4rem;
    /* critical:end */
  }
}
@media (min-width: 40em) {
  .visual__content--inbox, .visual__content:only-child {
    /* critical:start */
    padding-bottom: 3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual__content--inbox, .visual__content:only-child {
    /* critical:start */
    padding-bottom: 4rem;
    /* critical:end */
  }
}
.visual--small .visual__content--inbox, .visual--small .visual__content:only-child {
  height: 13.35rem;
}
@media (min-width: 40em) {
  .visual--small .visual__content--inbox, .visual--small .visual__content:only-child {
    height: 13.2rem;
  }
}
@media (min-width: 60em) {
  .visual--small .visual__content--inbox, .visual--small .visual__content:only-child {
    height: 15.8rem;
  }
}
@media (min-width: 40em) {
  .visual--no-crop .visual__content {
    /* critical:start */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* critical:start */
    padding-right: 0.666rem;
    padding-left: 0.666rem;
    /* critical:end */
    /* critical:start */
    padding-top: 2rem;
    /* critical:end */
    /* critical:start */
    padding-bottom: 2rem;
    /* critical:end */
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 40em) {
  .visual--no-crop .visual__content {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 60em) {
  .visual--no-crop .visual__content {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 40em) {
  .visual--no-crop .visual__content {
    /* critical:start */
    padding-top: 3rem;
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 60em) {
  .visual--no-crop .visual__content {
    /* critical:start */
    padding-top: 4rem;
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 40em) {
  .visual--no-crop .visual__content {
    /* critical:start */
    padding-bottom: 3rem;
    /* critical:end */
  }
}
@media (min-width: 40em) and (min-width: 60em) {
  .visual--no-crop .visual__content {
    /* critical:start */
    padding-bottom: 4rem;
    /* critical:end */
  }
}
.visual__box {
  /* critical:start */
  padding-right: 0.666rem;
  padding-left: 0.666rem;
  /* critical:end */
  /* critical:start */
  width: 100%;
  max-width: 62rem;
  max-height: 100%;
  position: relative;
  overflow: auto;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: none;
  background: rgba(51, 51, 51, 0.85);
  color: #fff;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__box {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual__box {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
.visual__box .visual__topic {
  /* critical:start */
  color: #fff;
  /* critical:end */
}
.visual__box a:not(.button) {
  /* critical:start */
  color: inherit;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__box {
    /* critical:start */
    max-width: 50%;
    border: none;
    width: auto;
    /* critical:end */
  }
}
@media (min-width: 96rem) {
  .visual__box {
    /* critical:start */
    padding-top: 3rem;
    padding-bottom: 3rem;
    max-width: 40rem;
    /* critical:end */
  }
}
.visual__content--inbox .visual__box, .visual__content:only-child .visual__box {
  /* critical:start */
  /* critical:end */
}
.visual__box--light, .visual__content--inbox .visual__box--light, .visual__content:only-child .visual__box--light {
  /* critical:start */
  background: rgba(255, 255, 255, 0.9);
  color: #333333;
  /* critical:end */
}
.visual__box--light .visual__topic, .visual__content--inbox .visual__box--light .visual__topic, .visual__content:only-child .visual__box--light .visual__topic {
  /* critical:start */
  color: #333333;
  /* critical:end */
}
.visual__content--inbox .visual__box--transparent, .visual__content:only-child .visual__box--transparent {
  /* critical:start */
  background: none;
  padding: 0;
  border-radius: 0;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__box--transparent {
    /* critical:start */
    background: none;
    padding: 0 !important;
    border-radius: 0;
    /* critical:end */
  }
}
@media print {
  .visual__box {
    background-color: transparent;
    border: 2px solid rgba(5, 5, 5, 0.25);
    margin: 1cm 0;
    width: auto;
  }
  .visual__box,
.visual__box a {
    color: #050505;
  }
}
.visual__topic {
  /* critical:start */
  font-size: 1.5em;
  line-height: 1.1;
  font-weight: 700;
  margin: 0;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__topic {
    /* critical:start */
    font-size: 1.5em;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual__topic {
    /* critical:start */
    font-size: 2em;
    /* critical:end */
  }
}
.visual__text {
  /* critical:start */
  font-size: 1em;
  font-weight: regular;
  line-height: 1.1;
  margin: 1.2em 0 0;
  /* critical:end */
}
@media (min-width: 40em) {
  .visual__text {
    /* critical:start */
    font-size: 0.85em;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .visual__text {
    /* critical:start */
    font-size: 1em;
    /* critical:end */
  }
}
.visual__text p {
  /* critical:start */
  font-size: inherit;
  line-height: inherit;
  /* critical:end */
}
.visual__text p:last-child {
  /* critical:start */
  margin-bottom: 0;
  /* critical:end */
}
.visual__link {
  /* critical:start */
  margin-top: 1.5em;
  /* critical:end */
}
.visual__continue {
  /* critical:start */
  position: relative;
  text-align: center;
  margin-top: auto;
  /* critical:end */
}
.visual__continue-btn {
  /* critical:start */
  color: white;
  transition: transform 0.3s;
  transform: translate(0, -10px);
  /* critical:end */
}
.visual__continue-btn:hover, .visual__continue-btn:focus {
  transform: translate(0);
}
.visual__continue-btn .icon {
  /* critical:start */
  height: 3.5rem;
  width: 3.5rem;
  /* critical:end */
}
.visual__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEUAAAD///8AAABzxoNxAAAAA3RSTlMAAJlzpe8+AAAAG0lEQVQY02NcwAAFjIxITAaszFG1A6w2FM4GAMpWDSVzkJMQAAAAAElFTkSuQmCC");
  background-size: 1rem;
}