$name-: 'c-form-field';
$_selector-default: '.c-form-field, .g-inverted-reset .c-form-field';
$_selector-inverted: '.g-inverted .c-form-field';

$host: (
  '.c-form-field': (
    border: 1px solid,
    border-radius: 3px,
    color: var(--g-text--color),
  ),
  #{$_selector-default}: (
      border-color: var(--color-grey-2),
      background: var(--color-white-alpha-9),
      background-disabled: var(--color-black-alpha-1),
    ),
  #{$_selector-inverted}: (
      border-color: var(--color-grey-2),
      background: var(--color-black-alpha-9),
      background-disabled: var(--color-black-white-1),
    ),
) !default;

$hover: (
  #{$_selector-default}: (
      border-color: var(--color-grey-3),
    ),
  #{$_selector-inverted}: (
      border-color: var(--color-grey-1),
    )
) !default;

$focus: (
  #{$_selector-default}: (
      shadow: 0 0 4px -1px,
      border-color: var(--color-primary),
    ),
  #{$_selector-inverted}: (
      shadow: 0 0 5px 1px,
      border-color: var(--color-white),
    )
) !default;

$icon: (
  '.c-form-field': (
    size: calc(var(--line-height-m) * 0.75),
    color: var(--g-text_dimmed--color),
  ),
) !default;
