$name-: 'c-form-field';

$host: (
  ':root': (
    border: var(--ks-border-width-default) solid,
    border-color: var(--color-grey-2),
    border-radius: var(--ks-border-radius-control),
    background: var(--ks-background-color-interface-interactive),
    background-disabled:
      var(--ks-background-color-interface-interactive-disabled),
    color: var(--ks-text-color-interface-interactive),
  ),
) !default;

$hover: (
  ':root': (
    border-color: var(--color-grey-3),
  ),
) !default;

$focus: (
  ':root': (
    border-color: var(--ks-color-primary),
    shadow: 0 0 4px -1px,
  ),
) !default;

$icon: (
  ':root': (
    size: calc(var(--ks-line-height-ui-m) * 0.75em),
    color: var(--color-black-alpha-7),
  ),
) !default;
