.c-teaser {
  --c-teaser--background: var(--ks-background-color-card-interactive);
  --c-teaser--border: var(--ks-border-width-default) solid
    var(--ks-border-color-interface);
  --c-teaser--border-color_hover: var(--ks-border-color-card-interactive-hover);
  --c-teaser--border-radius: var(--ks-border-radius-card);
  --c-teaser--shadow: null;
  --c-teaser--shadow-hover: var(--ks-box-shadow-card-hover);
  --c-teaser--padding: 1em;

  // Body
  --c-teaser__body--gap: 1em;

  // Headline
  --c-teaser__headline--font-weight: var(--ks-font-weight-bold);
  --c-teaser__headline--color: var(--ks-text-color-default);
  --c-teaser__headline--margin-top: 0;
  --c-teaser_s__headline--font: var(--ks-font-display-s);
  --c-teaser_m__headline--font: var(--ks-font-display-m);
  --c-teaser_l__headline--font: var(--ks-font-display-l);

  // Copy
  --c-teaser__copy--font-weight: var(--ks-font-weight-regular);
  --c-teaser__copy--color: var(--ks-text-color-default);
  --c-teaser__copy--margin-top: 0.5em;
  --c-teaser_s__copy--font: var(--ks-font-copy-s);
  --c-teaser_m__copy--font: var(--ks-font-copy-m);
  --c-teaser_l__copy--font: var(--ks-font-copy-l);

  // Button
  --c-teaser__button--margin-top: 0.5em;
  --c-teaser_s__button--font: var(--ks-font-interface-s);
  --c-teaser_m__button--font: var(--ks-font-interface-m);
  --c-teaser_l__button--font: var(--ks-font-interface-l);
}
