$name-: 'c-teaser' !default;

$host: (
  '.c-teaser': (
    background: var(--ks-background-color-card-interactive),
    border: var(--ks-border-width-default) solid
      var(--ks-border-color-interface),
    border-radius: var(--ks-border-radius-card),
    shadow: null,
    shadow-hover: var(--ks-box-shadow-card-hover),
    padding: 1em,
  ),
  '[ks-inverted=true] .c-teaser, [ks-inverted=true].c-teaser': (
    border: null,
    shadow: null,
    shadow-hover: (
      0 0 30px rgba(0, 0, 0, 0.2),
      0 10px 20px -15px rgba(0, 0, 0, 0.15),
      0 25px 25px -35px rgba(0, 0, 0, 0.25),
    ),
  ),
) !default;

$background: (
  '.c-teaser': (
    background: var(--ks-background-color-card-interactive),
    border-width: var(--ks-border-width-default),
    border-color: var(--ks-border-color-card-interactive),
    border-color_hover: var(--ks-border-color-card-interactive-hover),
    border-radius: var(--ks-border-radius-card),
    shadow_hover: var(--ks-box-shadow-card-hover),
  ),
) !default;

$body: (
  '.c-teaser': (
    gap: 1em,
  ),
) !default;

$topic: (
  '.c-teaser': (
    font: var(--ks-font-display-m),
    font-weight: var(--ks-font-weight-bold),
    color: var(--ks-text-color-default),
  ),
) !default;

$copy: (
  '.c-teaser': (
    font: var(--ks-font-copy-m),
    font-weight: var(--ks-font-weight-regular),
    color: var(--ks-text-color-default),
    spacing: 0.5em,
  ),
) !default;
