@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use './teaser-vars';

$vars: meta.module-variables(teaser-vars);
@include custom-properties.styles($vars);

.c-teaser {
  box-sizing: border-box;
  color: var(--c-teaser--color);
  background: var(--c-teaser--background);
  border: var(--c-teaser--border);
  border-radius: var(--c-teaser--border-radius);
  box-shadow: var(--c-teaser--shadow);
  overflow: hidden;
  font: var(--c-teaser--font);

  .c-rich-text {
    color: var(--c-teaser--color);
  }

  &.js-linked {
    transition: box-shadow 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: var(--c-teaser--shadow-hover);
    }
  }

  &__body {
    display: flex;
    padding: var(--c-teaser--padding);
  }

  &__text {
    flex: 1 auto;

    > * + * {
      margin-top: var(--c-teaser_text--spacing);
    }
  }

  &__topic {
    font: var(--g-topic--font);
    font-weight: var(--g-topic--font-weight);
    color: var(--g-topic--color);
    margin: 0;

    .c-teaser--style-dark & {
      color: white;
    }
  }
}
