@use 'sass:meta';
@use './teaser-vars';
@use './container';

@include container.wrapper('teaser');

.c-teaser {
  --c-teaser__copy--font: var(--c-teaser_s__copy--font);
  --c-teaser__headline--font: var(--c-teaser_s__headline--font);
  --c-teaser__button--font: var(--c-teaser_s__button--font);

  @include container.size('≥', 360px) {
    --c-teaser__copy--font: var(--c-teaser_m__copy--font);
    --c-teaser__headline--font: var(--c-teaser_m__headline--font);
    --c-teaser__button--font: var(--c-teaser_m__button--font);
  }

  @include container.size('≥', 640px) {
    --c-teaser__copy--font: var(--c-teaser_l__copy--font);
    --c-teaser__headline--font: var(--c-teaser_l__headline--font);
    --c-teaser__button--font: var(--c-teaser_l__button--font);
  }

  box-sizing: border-box;
  background: var(--c-teaser--background);
  border: var(--c-teaser--border);
  border-radius: var(--c-teaser--border-radius);
  box-shadow: var(--c-teaser--shadow);
  overflow: hidden;
  width: 100%;

  &.js-linked {
    transition: box-shadow 0.2s;

    &:hover {
      cursor: pointer;
      box-shadow: var(--c-teaser--shadow-hover);
    }
  }

  &__body {
    display: flex;
    padding: var(--c-teaser--padding);
    gap: var(--c-teaser__body--gap);
  }

  &__text {
    flex: 1 auto;
  }

  &__copy.c-rich-text {
    --c-rich-text--font: var(--c-teaser__copy--font);
    --c-rich-text--color: var(--c-teaser__copy--color);
    --c-rich-text--font-weight: var(--c-teaser_copy--font-weight);
    margin-top: var(--c-teaser__copy--margin-top);
  }

  &__headline {
    --c-headline--font: var(--c-teaser__headline--font);
    --c-headline--font-weight: var(--c-teaser__headline--font-weight);
    --c-headline--color: var(--c-teaser__headline--color);

    .c-headline__headline {
      margin-top: var(--c-teaser__headline--margin-top);
    }
  }

  &__link {
    .c-button {
      // TBD: macht es sinn hier alle button token auf teaser__button token zu mappen oder nur die erforderlichen?
      --c-button--font: var(--c-teaser__button--font);
      margin-top: var(--c-teaser__button--margin-top);
    }
  }
}
