@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use './post-head-vars';

$vars: meta.module-variables(post-head-vars);
@include custom-properties.styles($vars, true);

.c-post-head {
  &__meta {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  &__date {
    font: var(--c-post-head_date--font);
    font-weight: var(--c-post-head_date--font-weight);
    color: var(--c-post-head_date--color);
    padding-right: 1rem;
  }

  &__image {
    &--left {
      text-align: left;
    }
    &--center {
      text-align: center;
    }
    &--right {
      text-align: right;
    }
  }
}
