@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use './post-teaser-vars';

$vars: meta.module-variables(post-teaser-vars);
@include custom-properties.styles($vars);

.c-post-teaser {
  --c-rich-text--font: var(--ks-font-copy-s);

  display: flex;
  flex-direction: column;
  gap: var(--c-post-teaser--gap);

  .c-teaser {
    --c-teaser--padding: 0;
    --c-teaser--border: 0;
    --c-teaser--shadow-hover: none;
    --c-teaser--color: var(--c-post-teaser--color);
    --c-teaser--background: transparent;

    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-start;
    gap: var(--c-post-teaser--gap);

    &:hover {
      .c-rich-text > :not(.c-post-meta) {
        text-decoration: underline;
      }
    }
  }

  @media print {
    page-break-inside: avoid;
  }

  &__meta {
    display: flex;
    align-items: baseline;
    margin-bottom: 0.5rem;
  }

  &__image,
  .c-teaser__body {
    flex: 1 1 calc((500px - 100%) * 999);
    max-width: 100%;
  }

  &__image {
    min-width: calc(37.5% - var(--c-post-teaser--gap));
    position: relative;

    &::after {
      padding-bottom: 56.25%;
      content: '';
      display: block;
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  .c-teaser__body {
    min-width: calc(62.5% - var(--c-post-teaser--gap));
  }

  .c-post-meta {
    margin: var(--c-post-teaser--gap) 0;
  }
}
