@use 'sass:meta';
@use './post-teaser-vars';

.c-post-teaser {
  --c-rich-text--font: var(--ks-font-copy-s);

  display: flex;
  flex-direction: column;
  gap: var(--c-post-teaser--gap);

  .c-teaser {
    --c-teaser--padding: 0;
    --c-teaser--border: 0;
    --c-teaser--shadow-hover: none;
    --c-teaser--background: transparent;
    --c-teaser__headline--color: var(--c-post-teaser__headline--color);
    --c-teaser__headline--font: var(--c-post-teaser__headline--font);
    --c-teaser__copy--color: var(--c-post-teaser__copy--color);
    --c-teaser__copy--font: var(--c-post-teaser__copy--font);

    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-start;
    gap: var(--c-post-teaser--gap);

    &:hover {
      .c-rich-text > :not(.c-post-meta) {
        text-decoration: underline;
      }
    }
  }

  @media print {
    page-break-inside: avoid;
  }

  &__image,
  .c-teaser__body {
    flex: 1 1 250px;
    max-width: 100%;
  }

  &__image {
    min-width: calc(40% - var(--c-post-teaser--gap));
    position: relative;

    img {
      object-fit: cover;
      aspect-ratio: var(--c-post-teaser__image--aspect-ratio);
    }
  }

  .c-teaser__body {
    min-width: calc(60% - var(--c-post-teaser--gap));
  }

  .c-post-meta {
    --c-post-meta__item--font: var(--c-post-teaser__meta__item--font);
    --c-post-meta__item--color: var(--c-post-teaser__meta__item--color);
    --c-post-meta__author--font: var(--c-post-teaser__meta__item--font);
    --c-post-meta__author--color: var(--c-post-teaser__meta__item--color);

    margin: var(--c-post-teaser--gap) 0;
  }
}
