@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';

.real-estate-filter {
  @include breakpoint.media('print') {
    display: none;
  }

  &__date-range,
  &__price-range,
  &__level-range {
    @include grid.grid-container;
  }

  &__date-range > * {
    @include grid.grid-break-at(16rem);
  }

  &__price-range,
  &__level-range {
    @include grid.grid-cols-per-row(2);
  }

  &__number-wrapper {
    @include grid.grid-container;
    justify-content: space-between;
    align-items: center;

    > * {
      @include grid.grid-break-at(11rem);
      width: auto;
      margin: 0;
      min-width: auto; // ie fix
    }

    .number-input {
      justify-content: flex-end; // ie fix
    }
  }
}
