@use 'sass:meta';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use '@kickstartds/base/source/0-base/0-settings/selector';
@use 'bourbon/core/bourbon';

@use './visual-slider-vars';
@use './slide-preview/visual-slide-preview';

$vars: meta.module-variables(visual-slider-vars);
@include custom-properties.styles($vars, true);

.c-visual-slider {
  // hide preview on small screens
  .c-visual-slide--preview {
    @include breakpoint.media('<s') {
      /* critical:start */
      @include bourbon.hide-visually;
      /* critical:end */
    }
  }

  // hide bullets on large screens
  #{selector.$slider-bullet} {
    @include breakpoint.media('≥s') {
      /* critical:start */
      display: none;
      /* critical:end */
    }
  }

  #{selector.$slider-nav-root} {
    margin-top: 0.5em;

    @include breakpoint.media('≥s') {
      margin-top: 0;
      border-bottom: 1px solid var(--c-visual-slider_nav--border-bottom-color);
    }
  }
}
