/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.news-latest__item {
  font-size: 1em;
  line-height: 1.5;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
  box-sizing: border-box;
}
@media (min-width: 60em) {
  .news-latest__item {
    font-size: 0.8em;
    line-height: 1.5;
    border-bottom: 0;
    margin-bottom: 0;
  }
}
@media print {
  .news-latest__item {
    page-break-inside: avoid;
  }
}
.news-latest__item__date {
  font-size: 0.8em;
  font-weight: 400;
  color: rgba(5, 5, 5, 0.5);
  padding-right: 1rem;
}
.news-latest__item__meta {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.news-latest__item__image {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((500px - 100%) * 999);
  min-width: 33.3333333333%;
  margin-bottom: 1em;
}
.news-latest__item__body {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: calc((500px - 100%) * 999);
  min-width: 66.6666666667%;
}
.news-latest__item__headline {
  font-size: 1.6em;
  font-weight: 700;
  line-height: 1.2;
  color: #050505;
  padding: 0;
}
.news-latest__item__headline > a {
  color: #050505;
}
.news-latest__item__more {
  display: inline-block;
}
@media print {
  .news-latest__item__more a {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks */
    hyphens: auto;
  }
  .news-latest__item__more a::after {
    content: attr(href);
  }
}
.news-latest .tag-label-container {
  min-width: 0%;
  margin: -0.15rem;
}
.news-latest .tag-label-container > * {
  padding: 0.15rem;
}
@media (min-width: 40em) {
  .news-latest .tag-label-container {
    margin: -0.25rem;
  }
  .news-latest .tag-label-container > * {
    padding: 0.25rem;
  }
}
@media (min-width: 60em) {
  .news-latest .tag-label-container {
    margin: -0.15rem;
  }
  .news-latest .tag-label-container > * {
    padding: 0.15rem;
  }
}