/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.nav-toggle {
  /* critical:start */
  padding-right: 0.666rem;
  padding-left: 0.666rem;
  /* critical:end */
  /* critical:start */
  height: 3.35rem;
  position: fixed;
  top: 0;
  right: 0.666rem;
  box-sizing: content-box;
  transition: top 0.15s;
  /* critical:end */
}
@media print {
  .nav-toggle {
    display: none;
  }
}
@media (min-width: 40em) {
  .nav-toggle {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 60em) {
  .nav-toggle {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
@media (min-width: 40em) {
  .nav-toggle {
    /* critical:start */
    top: 2rem;
    /* critical:end */
  }
  .header-is-scrolling .nav-toggle {
    top: 0;
  }
}
@media (min-width: 67em) {
  .nav-toggle {
    /* critical:start */
    display: none;
    /* critical:end */
  }
}
.nav-toggle__label {
  /* critical:start */
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* critical:end */
}
.nav-toggle__icon {
  /* critical:start */
  position: relative;
  cursor: pointer;
  height: 36px;
  width: 30px;
  transform: scale(0.7);
  /* critical:end */
}
@media (min-width: 40em) {
  .nav-toggle__icon {
    /* critical:start */
    transform: none;
    /* critical:end */
  }
}
.nav-toggle__icon::before, .nav-toggle__icon::after {
  /* critical:start */
  content: "";
  /* critical:end */
}
.nav-toggle__icon__middle, .nav-toggle__icon::before, .nav-toggle__icon::after {
  /* critical:start */
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: currentColor;
  /* critical:end */
}
.nav-toggle__icon__middle {
  /* critical:start */
  top: 50%;
  margin-top: -1.5px;
  /* critical:end */
}
.nav-toggle__icon::before {
  /* critical:start */
  top: 6px;
  /* critical:end */
  transition: top 150ms ease 150ms, transform ease 150ms;
}
.nav-toggle__icon::after {
  /* critical:start */
  bottom: 6px;
  /* critical:end */
  transition: bottom 150ms ease 150ms, transform ease 150ms;
}
.nav-toggle[aria-expanded=true] .nav-toggle__icon__middle {
  display: none;
}
.nav-toggle[aria-expanded=true] .nav-toggle__icon::before {
  top: 17px;
  transition: top ease 150ms, transform 150ms ease 150ms;
  transform: rotate(-45deg);
}
.nav-toggle[aria-expanded=true] .nav-toggle__icon::after {
  bottom: 16px;
  transition: bottom ease 150ms, transform 150ms ease 150ms;
  transform: rotate(45deg);
}