@use 'sass:meta';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use '@kickstartds/base/source/0-base/1-tools/scss/grid';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use './news-latest-vars';

$vars: meta.module-variables(news-latest-vars);
@include custom-properties.styles($vars, true);

.c-news-latest {
  @include breakpoint.media('print') {
    page-break-inside: avoid;
  }

  &__date {
    font: var(--c-news-latest_date--font);
    font-weight: var(--c-news-latest_date--font-weight);
    color: var(--c-news-latest_date--color);
    padding-right: 1rem;
  }

  &__meta {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  &__image {
    @include grid.grid-break-at(500px, 12, 4);

    margin-bottom: 1em;
  }

  &__body {
    @include grid.grid-break-at(500px, 12, 8);
  }

  &__headline {
    --g-headline--font: var(--c-news-latest_headline--font);
    --g-headline--font-weight: var(--c-news-latest_headline--font-weight);
    --g-headline--color: var(--c-news-latest_headline--color-hover);

    > a {
      color: var(--c-news-latest_headline--color);
    }
  }

  &__teaser {
    --c-rich-text--font: var(--font-copy-s);
  }

  &__more {
    display: inline-block;
    margin-top: 1em;

    @include breakpoint.media('print') {
      a {
        @include helpers.dont-break-out;

        &::after {
          content: attr(href);
        }
      }
    }
  }

  .tag-label-container {
    min-width: 0%;
    margin: -0.15rem;

    > * {
      padding: 0.15rem;
    }

    @include breakpoint.media('≥s') {
      margin: -0.25rem;

      > * {
        padding: 0.25rem;
      }
    }

    @include breakpoint.media('≥m') {
      margin: -0.15rem;

      > * {
        padding: 0.15rem;
      }
    }
  }
}
