$name-: 'c-news-latest' !default;

$date: (
  '.c-news-latest': (
    font: var(--font-ui-xs),
    font-weight: var(--font-weight-bold),
    color: var(--color-black-alpha-5),
  ),
) !default;

$headline: (
  '.c-news-latest': (
    font: var(--font-display-l),
    font-weight: var(--font-weight-bold),
    color: var(--color-black),
    color-hover: var(--color-black),
  ),
) !default;
