@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use 'settings/base';

.search {
  &-form-wrap {
    margin-bottom: 2em;
    margin-top: 2em;

    @include breakpoint.media('≥s') {
      margin-bottom: 3em;
    }

    @include breakpoint.media('≥m') {
      margin-bottom: 4em;
    }

    &__suggestion {
      margin-top: 1em;
      margin-bottom: 0;

      a {
        color: base.$color-brand;
        text-decoration: none;
        font-weight: helpers.get-font-weight(bold);
      }
    }
  }

  &__hint {
    opacity: 0.6;
    font-size: base.$font-size-small;
    line-height: base.$line-height-small;

    &--results {
      opacity: 1;
      color: base.$color-black-50;
      text-align: left;

      @include breakpoint.media('≥s') {
        text-align: center;
      }

      @include breakpoint.media('≥m') {
        text-align: start;
      }
    }
  }
}
