@use '../../0-base/1-tools/scss/breakpoint';
@use '../../0-base/0-settings/selector';
@use 'settings/base';
@use 'settings/global';

#{selector.$header--sidebar} {
  @include breakpoint.media('≥nav-main') {
    /* critical:start */
    position: relative;
    /* critical:end */
  }

  .logo-main-wrap {
    @include breakpoint.media('≥nav-main') {
      /* critical:start */
      visibility: hidden;
      /* critical:end */
    }
  }
}

/* critical:start */
.main-header-sidebar-spacer {
  height: base.header__height(default);

  @include breakpoint.media('≥s') {
    height: base.header__height(s);
  }

  @include breakpoint.media('≥nav-main') {
    height: 0;
  }
}
/* critical:end */
