@use "sass:math";
@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/breakpoint';
@use '../../0-base/0-settings/selector';
@use '../../0-base/1-tools/scss/grid';
@use '../../0-base/1-tools/scss/helpers';
@use '../../0-base/1-tools/scss/sizes';
@use 'settings/base';
@use 'settings/global';

$header-variant: 1;

.main-header {
  /* critical:start */
  position: fixed;
  z-index: global.$header-zindex;
  width: 100%;
  background-color: base.$header__background;
  color: base.$header__mobile-icon-color;
  top: 0;
  box-shadow: base.$header__box_shadow--mobile;
  /* critical:end */

  transition: height 0.15s, top 0.15s, background-color 0.15s;

  .header-is-scrolling & {
    box-shadow: base.$header__box_shadow--mobile-on-scroll;
  }

  // @include breakpoint.media('≥nav-main') {
  //   box-shadow: base.$header__box_shadow--desktop;

  //   .header-is-scrolling & {
  //     box-shadow: base.$header__box_shadow--desktop-on-scroll;
  //   }
  // }

  // @include breakpoint.media('≥nav-main') {
  //   #{selector.$header--transparent} & {
  //     /* critical:start */
  //     background-color: transparent;
  //     border-bottom: base.$header__border-bottom-transparent;
  //     /* critical:end */
  //   }
  // }

  &__logo-nav {
    /* critical:start */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* critical:end */

    // @include breakpoint.media('≥nav-main') {
    //   /* critical:start */
    //   @include sizes.global-padding();

    //   max-width: base.$header__max-width;
    //   margin: auto;
    //   flex-wrap: nowrap;
    //   /* critical:end */
    // }

    @include breakpoint.media('print') {
      display: block;
    }
  }

  #{selector.$header--scrolling} & {
    // TODO: remove condition in version 10
    $hide-meta-nav-on-scroll-s: if(
      meta.global-variable-exists('hide-meta-nav-on-scroll-s', 'base'),
      base.$hide-meta-nav-on-scroll-s,
      $header-variant == 2
    );
    // @if ($hide-meta-nav-on-scroll-s) {
    //   @include breakpoint.media('≥s', '<nav-main') {
    //     top: base.$nav-meta__height * -1;
    //   }
    // }

    // TODO: remove condition in version 10
    $hide-meta-nav-on-scroll-nav-main: if(
      meta.global-variable-exists('hide-meta-nav-on-scroll-nav-main', 'base'),
      base.$hide-meta-nav-on-scroll-nav-main,
      $header-variant == 2
    );
    // @if ($hide-meta-nav-on-scroll-nav-main) {
    //   @include breakpoint.media('≥nav-main') {
    //     top: base.$nav-meta__height--nav-main * -1;
    //   }
    // }
  }

  @include breakpoint.media('print') {
    position: static;
    background: #ddd;
    box-shadow: none;
    color-adjust: exact;
  }

  /**
  * ## Mobile Buttons in Header
  */
  &__mobile-button {
    /* critical:start */
    @include bourbon.size(base.$nav-main__height);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    transition: 0.15s;
    /* critical:end */

    .icon {
      /* critical:start */
      @include bourbon.size(math.div(base.$nav-main__height, 2));
      /* critical:end */
    }

    @include breakpoint.media('≥s') {
      /* critical:start */
      @include bourbon.size(base.$nav-main__height--s);
      top: base.$nav-meta__item-height;
      /* critical:end */

      #{selector.$header--scrolling} & {
        // TODO: remove condition in version 10
        $hide-meta-nav-on-scroll-s: if(
          meta.global-variable-exists('hide-meta-nav-on-scroll-s', 'base'),
          base.$hide-meta-nav-on-scroll-s,
          $header-variant == 2
        );
        top: if($hide-meta-nav-on-scroll-s, 0, null);
      }

      .icon {
        /* critical:start */
        @include bourbon.size(math.div(base.$nav-main__height--s, 2));
        /* critical:end */
      }
    }

    &--contact {
      /* critical:start */
      left: 50px;
      /* critical:end */

      @include breakpoint.media('≥s') {
        /* critical:start */
        left: 80px;
        /* critical:end */
      }
    }
  }
}

.main-header-spacer {
  @include helpers.no-print;

  /* critical:start */
  height: base.header__height(default);
  /* critical:end */

  @include breakpoint.media('≥s') {
    /* critical:start */
    height: base.header__height(s);
    /* critical:end */
  }

  // @include breakpoint.media('≥nav-main') {
  //   /* critical:start */
  //   height: base.header__height(nav-main);
  //   /* critical:end */
  // }
}

/// Logo

.logo-main-wrap {
  /* critical:start */
  text-align: center;
  width: 100%;
  /* critical:end */

  #{selector.$header--sidebar} &,
  #{selector.$header--variant-2} & {
    /* critical:start */
    order: 2;
    /* critical:end */
  }

  // @include breakpoint.media('≥nav-main') {
  //   /* critical:start */
  //   margin-right: auto;
  //   margin-left: -1rem;
  //   width: auto;
  //   /* critical:end */

  //   #{selector.$header--sidebar} &,
  //   #{selector.$header--variant-2} & {
  //     /* critical:start */
  //     order: 0;
  //     /* critical:end */
  //   }
  // }

  @include breakpoint.media('print') {
    margin: 0;
  }

  .page-wrap__sidebar__content & {
    margin: 0 auto;
    width: 100%;
  }
}

.logo-main {
  transition: height 0.2s ease-in-out;
  /* critical:start */
  display: inline-flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  height: base.$nav-main__height;
  /* critical:end */

  @include breakpoint.media('≥s') {
    /* critical:start */
    height: base.$nav-main__height--s;
    /* critical:end */
  }

  // @include breakpoint.media('≥nav-main') {
  //   /* critical:start */
  //   height: base.$header__logo-height--nav-main;
  //   /* critical:end */

  //   @if $header-variant == 1 {
  //     #{selector.$header--scrolling} & {
  //       /* critical:start */
  //       height: base.$nav-main__height--nav-main-scrolling;
  //       /* critical:end */
  //     }
  //   }
  // }

  @include breakpoint.media('print') {
    display: inline-block;
    padding: 0;
  }

  img {
    /* critical:start */
    width: auto;
    height: 100%;
    max-height: base.$logo__height-mobile;
    transition: max-height 0.2s;
    /* critical:end */

    // @include breakpoint.media('≥nav-main') {
    //   /* critical:start */
    //   max-height: base.$logo__height-desktop;
    //   /* critical:end */

    //   @if $header-variant == 1 {
    //     #{selector.$header--scrolling} & {
    //       max-height: base.$logo__height-desktop-on-scroll;
    //     }
    //   }
    // }
  }
}
