/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.nav-footer {
  width: 100%;
  margin: 2.5em 0;
  padding: 1.65em 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  text-align: center;
  font-weight: 400;
  text-transform: none;
}
@media (min-width: 40em) {
  .nav-footer {
    width: auto;
    margin: 0;
    padding: 0;
    border-top: 0;
    border-bottom: 0;
    text-align: start;
  }
}
.nav-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  list-style: none;
  margin-bottom: 0;
}
@media (min-width: 60em) {
  .nav-footer__list {
    flex-wrap: nowrap;
    justify-content: normal;
    align-items: normal;
    margin: 0;
  }
}
.nav-footer__list__item {
  width: 33%;
  margin: 1.65em 0 0;
  border-left: 1px solid #fff;
  font-size: 1em;
  line-height: 1;
}
.nav-footer__list__item:nth-child(3n+1) {
  border-left: 0;
}
@media (min-width: 40em) {
  .nav-footer__list__item {
    margin: 0;
    width: auto;
    font-size: 1em;
    line-height: 1;
  }
  .nav-footer__list__item:nth-child(3n+4) {
    border-left: 1px solid #fff;
  }
}
.nav-footer__list__item > a {
  transition: 0.15s ease-in-out;
  display: inline-block;
  padding: 0.4em;
  color: #fff;
  text-decoration: none;
}
.nav-footer__list__item > a:hover {
  color: #fff;
  background: rgba(5, 5, 5, 0.25);
}
@media (min-width: 40em) {
  .nav-footer__list__item > a {
    padding: 0.2em 0.65em;
  }
}
@media print {
  .nav-footer__list__item > a {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks */
    hyphens: auto;
    color: inherit;
    padding-left: 1em;
    text-indent: -1em;
  }
  .nav-footer__list__item > a::after {
    content: ": " attr(href);
  }
}

.nav-social {
  font-size: 1em;
}
@media (min-width: 40em) {
  .nav-social {
    font-size: 1em;
  }
}

.main-footer {
  padding: 3.35rem 0;
  font-size: 0.8em;
  line-height: 1.5;
  color: #fff;
  background: #444444;
}
@media print {
  .main-footer {
    padding: 1em 0 0;
    border-top: 1px solid rgba(5, 5, 5, 0.5);
    color: inherit;
    background: inherit;
    page-break-inside: avoid;
  }
}
.main-footer__top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 40em) {
  .main-footer__top {
    flex-direction: row;
  }
}
@media (min-width: 40em) {
  .main-footer__bottom {
    margin-top: 2.65rem;
    padding-top: 1.6rem;
    border-top: 1px solid #fff;
  }
}
@media print {
  .main-footer__bottom {
    margin: 0;
    padding-top: 1em;
    border: 0;
  }
}
.main-footer__address {
  text-align: center;
  font-style: normal;
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  line-height: 1.5;
  text-transform: none;
  margin: 0;
}
@media (min-width: 40em) {
  .main-footer__address {
    font-size: 1em;
    line-height: 1.5;
  }
}
.main-footer__address__company {
  font-size: 1em;
  font-weight: 700;
  color: #fff !important;
  line-height: 1.5;
  display: inline-block;
  margin-bottom: 1.5em;
}
@media (min-width: 40em) {
  .main-footer__address__company {
    margin-bottom: 0;
  }
}
.main-footer__address a {
  color: #fff;
  text-decoration: none;
}
.main-footer__address p {
  margin: 0;
  margin-top: 1.5em;
}
.main-footer__address p a {
  display: inline-block;
  margin-bottom: 1.5em;
}
.main-footer__address p a:hover {
  color: #fff;
  background: rgba(5, 5, 5, 0.25);
}
@media (min-width: 40em) {
  .main-footer__address {
    margin-right: auto;
    text-align: start;
    font-size: 1em;
    line-height: 1.5;
  }
  .main-footer__address p {
    margin-top: 0;
  }
  .main-footer__address p + span {
    display: inline-block;
    margin-top: 1em;
  }
  .main-footer__address p a {
    display: inline-block;
    margin-bottom: 0;
  }
}
@media print {
  .main-footer__address {
    white-space: nowrap;
    padding-right: 1em;
  }
}