@use '@kickstartds/core/source/core/breakpoint';
@use '../../0-base/1-tools/scss/helpers';
@use '../../0-base/1-tools/scss/anchor';
@use 'settings/base';

/* critical:start */
.form-row {
  margin-bottom: 0.85rem;
  /* critical:end */

  &.form-controls {
    display: flex;
    align-items: flex-start;

    .button {
      flex-shrink: 0;
      margin-right: 0.5em;

      &:last-child {
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &--checkbox {
    flex-flow: column;
  }

  &--select {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &--50-50 {
    display: flex;
    align-items: flex-end;

    .form-column {
      width: 50%;
    }
  }

  &--70-30 {
    display: flex;

    .form-column:first-child {
      flex-basis: 70%;
      margin-right: 1em;
    }

    .form-column:last-child {
      flex: 1 auto;
    }
  }

  &--notification {
    @include anchor.anchor-target(1rem);
    margin: 0;

    &:empty {
      &::before {
        content: none;
      }
    }
  }
}

/**
 * ## Legend
 */

.form-legend {
  margin-right: 1em;

  font-size: base.$font-size-tiny;
  font-style: italic;
  line-height: base.$line-height-tiny;

  &,
  a {
    color: base.$color-black-50;
  }

  a {
    text-decoration: underline;
  }
}

/**
 * ## Error Hint
 */
.form-item--error {
  width: 100%;
  display: block;
  padding: 0.5em;
  margin-top: 0.5em;
  color: base.$color-white;
  background-color: base.$color-error;
  font-size: 0.8rem;
  line-height: 1.1;
  font-weight: helpers.get-font-weight(bold);
  border-radius: 3px;

  @include breakpoint.media('≥s') {
    font-size: 0.7rem;
  }
}

label + .form-item--error {
  font-size: 0.72em;
}
