$name-: 'c-headline' !default;
$container-name-: 'headline' !default;

$host: (
  '.c-headline': (
    margin-bottom: (
      0: 1rem,
      960: 2rem,
    ),
    font-weight: var(--g-headline--font-weight),
    color: var(--g-headline--color),
  ),
) !default;

$subheadline: (
  '.c-headline__subheadline': (
    margin: 0.5em 0 0,
    font: var(--font-copy-m),
    font-weight: var(--font-weight-regular),
    color: var(--g-headline--color),
  ),
) !default;
