$name-: 'c-headline' !default;

$host: (
  '.c-headline': (
    margin-bottom: (
      xs: 1rem,
      m: 2rem,
    ),
    font-weight: var(--g-headline--font-weight),
    color: var(--g-headline--color),
  ),
) !default;

$subheadline: (
  '.c-headline__subheadline': (
    margin: 0.5em 0 0,
    font: var(--ks-font-copy-m),
    font-weight: var(--ks-font-weight-regular),
    color: var(--g-headline--color),
  ),
) !default;
