@use 'sass:meta';
@use '@kickstartds/core/source/container/container-name';
@use '@kickstartds/core/source/core/custom-properties';
@use './headline-vars';

$vars: meta.module-variables(headline-vars);
@include custom-properties.styles($vars);
@include container-name.name('headline');

.c-headline {
  margin: 0 auto var(--c-headline--margin-bottom);
  text-align: center;

  &--align-left {
    margin-left: 0;
    text-align: left;
  }

  &--align-right {
    margin-right: 0;
    text-align: left;
  }

  .l-section &:not(:first-child) {
    margin-top: calc(var(--c-headline--margin-bottom) * 1.5);
  }

  @container headline size(min-width: 640px) {
    max-width: 70%;
  }

  &--page-header {
    margin-bottom: 0 !important;
  }

  &--space-after-small {
    padding-bottom: calc(var(--spacing-xxl) / 2);
  }

  &--space-after-large {
    padding-bottom: var(--spacing-xxl);
  }

  &__headline {
    margin: 0;
    font: var(--g-headline--font);
    font-weight: var(--c-headline--font-weight);
    color: var(--c-headline--color);
  }

  &__h1 {
    --g-headline--font: var(--font-display-xxl);
  }

  &__h2 {
    --g-headline--font: var(--font-display-xl);
  }

  &__h3 {
    --g-headline--font: var(--font-display-l);
  }

  &__h4,
  &__h5,
  &__p {
    --g-headline--font: var(--font-display-m);
  }

  &__subheadline {
    margin: var(--c-headline_subheadline--margin);
    font: var(--c-headline_subheadline--font);
    font-weight: var(--c-headline_subheadline--font-weight);
    color: var(--c-headline_subheadline--color);
  }
}
