@use 'sass:meta';
@use '../../0-base/1-tools/scss/sizes';
@use '../../0-base/1-tools/scss/helpers';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use 'settings/base';
@use './headline-vars';

$vars: meta.module-variables(headline-vars);
@include custom-properties.styles($vars, true);

.c-headline {
  /* critical:start */
  max-width: 70%;
  margin: 0 auto var(--c-headline--margin-bottom);
  text-align: center;

  &--align-left {
    margin-left: 0;
    text-align: left;
  }

  &--align-right {
    margin-right: 0;
    text-align: left;
  }
  /* critical:end */

  &--page-header {
    /* critical:start */
    margin-bottom: 0 !important;
    /* critical:end */
  }

  &--space-after-small {
    padding-bottom: var(--spacing-s);
  }

  &--space-after-large {
    padding-bottom: var(--spacing-l);
  }

  > * {
    /* critical:start */
    margin-bottom: 0;
    /* critical:end */
  }

  &__subheadline {
    margin: var(--c-headline_subheadline--margin);
    font: var(--c-headline_subheadline--font);
    font-weight: var(--c-headline_subheadline--font-weight);
    color: var(--c-headline_subheadline--color);
  }
}
