@use 'settings/base';
@use 'settings/global';

$item__gutter:                              2em !default;
$item__gutter-s:                            3em !default;
$item__max-width:                           20rem !default;
