@use 'settings/base';
@use 'settings/global';

$text-align:                          center !default;

$icon__size:                          2em !default;
$icon__color:                         base.$text-color !default;
$icon__margin:                        0.75em !default;

$number__font-size:                   2.75em !default;
$number__line-height:                 1.1 !default;
$number__font-weight:                 bold !default;
$number__font-color:                  base.$text-color !default;
$number__margin:                      0 0 0.5em 0 !default;

$topic__font-size:                    global.$topic__font-size !default;
$topic__line-height:                  global.$topic__line-height !default;
$topic__font-weight:                  global.$topic__font-weight !default;
$topic__font-color:                   global.$topic__font-color !default;
$topic__margin:                       global.$topic__margin !default;

$text__font-size:                     1rem !default;
