@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/sizes';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/0-settings/selector';

// Within Content 100% and item size "S"
#{selector.$template--content-100} {
  .deals__item--s {
    .deals__item__wrap {
      @include breakpoint.media('≥m') {
        @include grid.grid-columns(8);
        @include grid.grid-push(2);
      }
    }
  }
}

// Within Sidebar 30%
#{selector.$template--content-30} {
  .deals__item__wrap {
    @include breakpoint.media('≥m') {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      .l-main-wrap {
        padding: 0 1em;
      }
    }
  }

  .deals__content {
    @include breakpoint.media('≥m') {
      flex-direction: column;
    }
  }

  .deals__content__image {
    @include breakpoint.media('≥m') {
      width: 75% !important;
      max-width: none !important;
      margin-bottom: 2em;
    }
  }

  .deals__content__box {
    @include breakpoint.media('≥m') {
      width: 100% !important;
      max-width: none !important;
      text-align: left !important;
      padding: 0 !important;
    }
  }
}

// Within Content 70%
#{selector.$template--content-70} {
  .deals__item__wrap {
    @include breakpoint.media('≥m') {
      @include sizes.global-padding;
      @include sizes.global-padding-offset;

      width: 100%;
    }
  }
}
