@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';

.glossary-nav {
  &__list {
    /* critical:start */
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    max-width: none;
    overflow: auto;
    /* critical:end */

    @include breakpoint.media('≥s') {
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      max-width: 100%;
    }
  }

  &__item {
    font-size: base.$font-size-small;
    min-width: 3.35em;
    height: 3.35em;
    line-height: 3.35em;
    text-align: center;
    color: base.$color-black-25;
    width: auto;
    box-sizing: content-box;
    margin: 0.135em;

    @include breakpoint.media('≥s') {
      min-width: 2.65em;
      height: 2.65em;
      line-height: 2.65em;
    }
  }

  &__link {
    text-decoration: none;
    display: block;
    background-color: base.$color-black-7;
    color: base.$text-color;
    transition: 0.15s;
    border-radius: 3px;
    height: inherit;

    &:hover {
      background-color: base.$color-black-15;
    }

    &--current {
      background-color: base.$color-brand;
      color: base.$color-white;
      font-weight: helpers.get-font-weight(bold);
    }
  }
}
