@use 'bourbon/core/bourbon';
@use 'settings/base';

.glossary-toc {
  &__toggle {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;

    .icon {
      @include bourbon.size(1.5em);

      margin-left: 0.5em;
      transition: 0.3s;

      .dropdown--is-open & {
        transform: rotateX(180deg);
      }
    }
  }

  &__list {
    counter-reset: item;
    padding-left: 1em;
  }

  &__item {
    display: block;

    &::before {
      content: counters(item, '.');
      counter-increment: item;
    }
  }

  &__link {
    text-decoration: underline;
    transition: 0.15s;

    &:focus,
    &:hover {
      color: base.$color-brand;
    }
  }
}
