@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'bourbon/core/bourbon';
@use 'settings/base';

.glossary-subnav {
  $glossary-arrow-size: 0.7em;

  margin: 0; // reset filter-area

  &__list {
    @include grid.grid-container($glossary-arrow-size / 2);

    padding: 0;
    list-style: none;
  }

  &__item {
    margin: 0;
  }

  &__link {
    font-size: 0.9em;
    padding: 1.2em;
    display: block;
    position: relative;
    text-decoration: none;
    line-height: 1.1;
    background-color: base.$color-black-7;
    transition: 0.15s;

    @include breakpoint.media('≥m') {
      margin-right: $glossary-arrow-size;
    }

    &:hover,
    &:focus {
      background-color: base.$color-black-15;
    }

    &--current {
      background-color: base.$color-brand;
      color: base.$color-white;

      &::before {
        @include breakpoint.media('≥m') {
          @include bourbon.triangle(
            'right',
            $glossary-arrow-size,
            $glossary-arrow-size * 1.5,
            base.$color-brand
          );

          content: '';
          transition: inherit;
          position: absolute;
          top: 50%;
          left: 100%;
          margin-top: -$glossary-arrow-size / 1.5;
        }
      }

      &:hover,
      &:focus {
        background-color: base.$color-brand-110;

        &::before {
          border-left-color: base.$color-brand-110;
        }
      }
    }
  }

  .filter-area__toggle {
    transform: none;

    &:active {
      transform: scale(base.$button__active-scale);
    }
  }

  .filter-area__content {
    background: transparent;
    padding: 1em 0 0;

    @include breakpoint.media('≥m') {
      padding: 0;
    }
  }
}
