$name-: 'c-form-check';
$_selector-default: '.c-form-check, .g-inverted-reset .c-form-check';
$_selector-inverted: '.g-inverted ';

$box: (
  '.c-form-check': (
    size: 1rem,
    border: 1px solid,
  ),
  #{$_selector-default}: (
      border-color: var(--color-primary-alpha-8),
    ),
  #{$_selector-inverted}: (
      border-color: var(--color-white-alpha-8),
    ),
  '.c-form-check--checkbox': (
    border-radius: 3px,
  ),
  '.c-form-check--radio': (
    border-radius: 50%,
  ),
) !default;

$box-hover: (
  #{$_selector-default}: (
      border-color: var(--color-primary),
    ),
  #{$_selector-inverted}: (
      border-color: var(--color-white),
    )
) !default;

$box-focus: (
  '.c-form-check': (
    shadow: 0 0 4px 0,
  ),
  #{$_selector-default}: (
      border-color: var(--color-primary),
    ),
  #{$_selector-inverted}: (
      border-color: var(--color-white),
    ),
) !default;

$box-checked: (
  #{$_selector-default}: (
      background: var(--color-primary),
      border-color: var(--color-primary),
    ),
  #{$_selector-inverted}: (
      background: var(--color-white),
      border-color: var(--color-white),
    )
) !default;

$checkmark: (
  #{$_selector-default}: (
      color: var(--color-white),
    ),
  #{$_selector-inverted}: (
      color: var(--color-black),
    ),
  '.c-form-check--checkbox': (
    width: 2px,
  ),
  '.c-form-check--radio': (
    size: 0.5rem,
  )
) !default;
