@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';

.mail-download {
  @include grid.grid-container();

  font-size: base.$font-size-small;
  line-height: base.$line-height-small;

  &__preview {
    @include grid.grid-columns(10);
    @include grid.grid-push(1);

    margin-bottom: 2em;
    padding-right: 1.35rem;
    box-sizing: border-box;

    @include breakpoint.media('≥s') {
      @include grid.grid-columns(4);

      margin-left: 0;
      margin-bottom: 1em;
    }

    img,
    svg {
      width: 100%;
      height: auto;
      display: block;
      padding: 0.25rem;
      border: 2px solid base.$color-black-25;
    }
  }

  &__description {
    margin-bottom: 1.5em;
  }

  &__form {
    @include breakpoint.media('≥s') {
      @include grid.grid-columns(8);
    }

    &__controls {
      @include grid.grid-columns(12);

      margin-top: 1em;
    }
  }

  #emailcheck {
    display: none;
  }
}
