@use '@kickstartds/core/source/core/color';

$name-: 'c-button';

$host: (
  '.c-button': (
    color-primary-r: var(--color-primary-r),
    color-primary-g: var(--color-primary-g),
    color-primary-b: var(--color-primary-b),
    color-secondary-r: var(--color-white-r),
    color-secondary-g: var(--color-white-g),
    color-secondary-b: var(--color-white-b),
    font: var(--font-ui-m),
    font-weight: var(--font-weight-regular),
    icon-size: 1.5em,
    padding: 0.4rem 1.3rem 0.35rem,
    border-radius: 3px,
    background-color: transparent,
    transform-active: scale(0.95),
  ),
  '.c-button--clear': (
    color: color.pack('--c-button--color-primary'),
    color-hover: color.mix('--c-button--color-primary', '--color-black', 1),
    color-active: color.mix('--c-button--color-primary', '--color-black', 2),
    background-color-hover: color.alpha('--c-button--color-primary', 1),
    background-color-active: color.alpha('--c-button--color-primary', 2),
  ),
  '.c-button--clear-inverted': (
    color: color.pack('--c-button--color-secondary'),
    background-color-hover: color.alpha('--c-button--color-secondary', 2),
    background-color-active: color.alpha('--c-button--color-secondary', 3),
  ),
  '.c-button--solid': (
    color: color.pack('--c-button--color-secondary'),
    background-color: color.pack('--c-button--color-primary'),
    background-color-hover:
      color.mix('--c-button--color-primary', '--color-white', 2),
    background-color-active:
      color.mix('--c-button--color-primary', '--color-white', 3),
  ),
  '.c-button--solid-inverted': (
    color: color.mix('--c-button--color-primary', '--color-black', 1),
    color-hover: color.mix('--c-button--color-primary', '--color-black', 2),
    background-color: color.pack('--c-button--color-secondary'),
    background-color-hover:
      color.mix('--c-button--color-primary', '--color-white', 9),
    background-color-active:
      color.mix('--c-button--color-primary', '--color-white', 8),
  ),
  '.c-button--outline': (
    border-width: 1px,
    color: color.pack('--c-button--color-primary'),
    border-color: color.pack('--c-button--color-primary'),
    color-hover: color.mix('--c-button--color-primary', '--color-black', 1),
    color-active: color.mix('--c-button--color-primary', '--color-black', 2),
    background-color-hover: color.alpha('--c-button--color-primary', 1),
    background-color-active: color.alpha('--c-button--color-primary', 2),
  ),
  '.c-button--outline-inverted': (
    border-width: 1px,
    color: color.pack('--c-button--color-secondary'),
    border-color: var(--c-button--color),
    background-color-hover: color.alpha('--c-button--color-secondary', 2),
    background-color-active: color.alpha('--c-button--color-secondary', 3),
  ),
  '.c-button--small': (
    padding: 0.4rem 1rem 0.45rem,
    font: var(--font-ui-s),
  ),
  '.c-button--large': (
    padding: 0.45rem 1.7rem 0.5rem,
    font: var(--font-ui-l),
  ),
) !default;

$fill-animation: (
  '.c-button': (
    background-color-hover: var(--c-button--color),
  ),
  '.c-button--clear': (
    color-hover: color.pack('--c-button--color-secondary'),
  ),
  '.c-button--clear-inverted': (
    color-hover: color.pack('--c-button--color-primary'),
  ),
  '.c-button--solid': (
    color-hover: color.pack('--c-button--color-primary'),
  ),
  '.c-button--solid-inverted': (
    color-hover: color.pack('--c-button--color-secondary'),
  ),
  '.c-button--outline': (
    color-hover: color.pack('--c-button--color-secondary'),
  ),
  '.c-button--outline-inverted': (
    color-hover: color.pack('--c-button--color-primary'),
  ),
) !default;
