@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use '../../../0-base/1-tools/scss/button';
@use './button-vars';

$vars: meta.module-variables(button-vars);
@include custom-properties.styles($vars, true);

.c-button {
  /* critical:start */
  display: inline-flex;
  justify-content: center;
  padding: var(--c-button--padding);
  border: var(--c-button--border-width) solid var(--c-button--border-color);
  border-radius: var(--c-button--border-radius);
  font: var(--c-button--font);
  text-align: center;
  transition-duration: 0.12s;
  transition-property: background, color, border, transform, padding;
  user-select: none;
  vertical-align: middle;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--c-button--color);
  background-color: var(--c-button--background-color);
  /* critical:end */

  &:hover,
  &:focus {
    color: var(--c-button--color-hover, var(--c-button--color));
    background-color: var(
      --c-button--background-color-hover,
      var(--c-button--background-color)
    );
    border-color: var(
      --c-button--border-color-hover,
      var(--c-button--border-color)
    );
    text-decoration: none;
  }

  &:active:not(:disabled) {
    color: var(
      --c-button--color-active,
      var(--c-button--color-hover, var(--c-button--color))
    );
    background-color: var(
      --c-button--background-color-active,
      var(--c-button--background-color-hover, var(--c-button--background-color))
    );
    border-color: var(
      --c-button--border-color-active,
      var(--c-button--border-color-hover, var(--c-button--border-color))
    );
    transform: var(--c-button--transform-active);
  }

  &:disabled {
    box-shadow: none;
    opacity: 0.5;
  }

  &--fill-animation {
    background: linear-gradient(
        to right,
        var(--c-button_fill-animation--background-color-hover) 50%,
        var(--c-button--background-color) 50%
      )
      no-repeat;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: 0.24s ease-out;

    &:focus,
    &:hover {
      color: var(--c-button_fill-animation--color-hover);
      background-position: left bottom;
      background-color: var(--c-button--background-color);
      border-color: var(--c-button_fill-animation--background-color-hover);
    }
  }

  @include breakpoint.media('print') {
    display: none;
  }

  &--clear,
  &--clear-inverted {
    /* critical:start */
    padding-left: 0;
    /* critical:end */

    &:focus,
    &:hover {
      padding: var(--c-button--padding);
    }
  }

  &--small {
    /* critical:start */
    --c-button--padding: 0.4rem 1rem 0.45rem;

    .icon {
      @include bourbon.size(var(--line-height-s));
    }
    /* critical:end */
  }

  &--large {
    /* critical:start */
    --c-button--padding: 0.45rem 1.7rem 0.5rem;

    .icon {
      @include bourbon.size(var(--line-height-l));
    }
    /* critical:end */
  }

  &--icon-animation {
    &:hover {
      .icon {
        animation: hover-effect 0.6s;
      }
    }
  }

  .icon {
    /* critical:start */
    @include bourbon.size(var(--line-height-m));

    margin: 0 0.5rem;
    /* critical:end */

    &:first-child {
      /* critical:start */
      margin-left: 0;
      /* critical:end */
    }

    &:last-child {
      /* critical:start */
      margin-right: 0;
      /* critical:end */
    }
  }
}

@keyframes btnSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hover-effect {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  60% {
    transform: translateX(50%);
    opacity: 0;
  }

  75% {
    transform: translateX(-50%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
