$name-: 'c-divider';

$host: (
  '.c-divider': (
    background: var(--color-black-alpha-1),
    height: 1px,
  ),
  '.c-divider--accent': (
    background: var(--color-primary-alpha-1),
  ),
  '.c-divider--dark': (
    background: var(--color-white-alpha-1),
  ),
) !default;
