$name-: 'c-divider';

$host: (
  '.c-divider': (
    background: var(--ks-color-fg-alpha-1),
    height: 1px,
  ),
  '.c-divider--accent': (
    background: var(--ks-color-primary-alpha-1),
  ),
) !default;
