@use './container';

.c-collapsible-box {
  --c-collapsible-box--border-color: var(--ks-border-color-interface);
  --c-collapsible-box__header--font: var(--ks-font-copy-m);
  --c-collapsible-box__header--padding: 1em 0;

  @include container.size('≥', 640px) {
    --c-collapsible-box__header--padding: 1em;
  }

  --c-collapsible-box__icon--size: 1.65em;

  @include container.size('≥', 640px) {
    --c-collapsible-box__icon--size: 1.85em;
  }

  --c-collapsible-box__icon--transform-open: rotate(-180deg);
  --c-collapsible-box__content--padding: 1em 0;

  @include container.size('≥', 640px) {
    --c-collapsible-box__content--padding: 0 4em 1em 1em;
  }
}
