@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/base/source/helpers/details-reset';
@use '@kickstartds/core/source/core/custom-properties';
@use './container';
@use './collapsible-box-vars';

$vars: meta.module-variables(collapsible-box-vars);
@include custom-properties.styles($vars, container.$name);
@include container.wrapper {
  & + & {
    .c-collapsible-box {
      border-top: 0;
    }
  }
}

.c-collapsible-box {
  @include details-reset.details-reset;

  border-top: 1px solid var(--c-collapsible-box--border-color);
  border-bottom: 1px solid var(--c-collapsible-box--border-color);

  &__header {
    color: var(--c-collapsible-box_header--color);

    &-wrapper {
      position: relative;
      padding: var(--c-collapsible-box_header--padding);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font: var(--c-collapsible-box_header--font);
    }

    &__text {
      flex: 1;

      @include container.size('≥', 640px) {
        padding-right: 1em;
      }
    }

    &__icon {
      .icon {
        @include bourbon.size(var(--c-collapsible-box_icon--size));
      }

      .c-collapsible-box--open &,
      .c-collapsible-box[open]:not([data-uid]) & {
        transform: var(--c-collapsible-box_icon--transform-open);
      }

      svg {
        pointer-events: none;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--ks-transition-collapse);

    .c-collapsible-box--open &,
    .c-collapsible-box:not([data-uid]) & {
      grid-template-rows: 1fr;
    }

    &__item {
      overflow: hidden;
    }

    &__inner {
      padding: var(--c-collapsible-box_content--padding);
    }
  }
}
