@use 'settings/base/colors';

/// Reference List Compact
$list-compact__border: null !default;
$list-compact__border-radius: 0.5em !default;
$list-compact__background: colors.$color-white !default;
$list-compact__box-shadow: 0 0.25em 1em -0.5em colors.$color-black-50 !default;
$list-compact__box-shadow-hover: 0 0.375em 1.5em -0.5em colors.$color-black-50 !default;
$list-compact__translate-hover: -2px !default;
$list-compact__padding: 1em !default;
$list-compact__padding-s: 1em 1.5em !default;

$list-compact__logo-wrapper-height: 60% !default;

$list-compact__headline-color: colors.$text-color !default;
$list-compact__headline-font-size: 1rem !default;
$list-compact__headline-font-size-s: 0.75rem !default;
$list-compact__headline-font-weight: bold !default;
$list-compact__headline-line-height: 1.25 !default;

$list-compact__category-font-size: 1em !default;

$list-compact__meta-color: colors.$text-color !default;
$list-compact__meta-font-size: 0.75rem !default;
$list-compact__meta-font-weight: regular !default;
$list-compact__meta-line-height: 1.25 !default;
