/**
 * # Nav Social
 */

@use '../../../0-base/1-tools/scss/grid';
@use '../../../0-base/1-tools/scss/helpers';
@use 'settings/base';

.nav-social {
  &__list {
    @include helpers.clearlist;
    @include grid.grid-container;

    justify-content: center;

    &__item {
      width: auto;

      .icon {
        fill: currentColor;
      }

      > a {
        transition: 0.15s;
        display: inline-block;
        padding: 0.85em;
        color: base.$nav-social__icon-color;
        background: base.$nav-social__icon-background;
        text-decoration: none;

        &:hover {
          color: base.$nav-social__icon-color-hover;
          background: base.$nav-social__icon-background-hover;
        }
      }
    }
  }
}
