@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/helpers';

@mixin visual-image {
  display: block;
  @include bourbon.position(inherit, inherit);

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &--indent {
    &-left {
      img {
        object-position: var(--c-visual_image--indent-left) 50%;
      }
    }

    &-right {
      img {
        object-position: var(--c-visual_image--indent-right) 50%;
      }
    }
  }

  &,
  * {
    .c-visual--full & {
      height: 100%;
    }
  }

  @include helpers.no-print;
}
