@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/custom-properties';
@use './container';

@use './visual__image';
@use './visual__content';
@use './visual__box';
@use './visual-vars';

$vars: meta.module-variables(visual-vars);
@include custom-properties.styles($vars, container.$name);
@include container.wrapper;

.c-visual {
  display: flex;
  flex-direction: column;
  position: relative;
  background: var(--c-visual--background);
  z-index: 1;
  min-height: var(--c-visual--min-height);

  &--full {
    min-height: 0 !important;
    height: calc(100vh - var(--g-header-height));
  }

  &--no-crop {
    min-height: 0 !important;
  }

  &__media {
    position: relative;

    &,
    * {
      min-height: inherit;
    }

    .c-visual--full & {
      flex-grow: 1;
    }

    @include container.size('≥', 640px) {
      @include bourbon.position(absolute, 0);

      .c-visual--no-crop & {
        position: static;
      }
    }

    &--inbox {
      @include bourbon.position(absolute, 0);
    }
  }

  &__image {
    @include visual__image.visual-image;
  }

  &__video {
    @include bourbon.position(inherit, inherit);
    height: 100%;
    object-fit: cover;
  }

  &__content {
    @include visual__content.visual-content;
  }

  &__box {
    @include visual__box.visual-box;

    // disable container inside box,
    // so the box can get its width from its content
    .l-container {
      container-type: unset;
    }
  }

  .c-headline {
    --c-headline--color: var(--c-visual_headline--color, inherit);
    margin: 0;
    max-width: none;

    &__subheadline {
      --c-headline_subheadline--color: inherit;
    }
  }

  &__text {
    font: var(--c-visual_text--font);
    font-weight: var(--c-visual_text--font-weight);
    margin: var(--c-visual_text--margin);

    p {
      font-size: inherit;
      line-height: inherit;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    margin-top: 1.5em;
  }

  &__continue {
    position: relative;
    text-align: center;
    margin-top: auto;
  }

  &__continue-btn {
    color: white;
    transition: transform 0.3s;
    transform: translate(0, -10px);

    &:hover,
    &:focus {
      transform: translate(0);
    }

    .icon {
      @include bourbon.size(3.5rem);
    }
  }

  &__overlay {
    @include bourbon.position(absolute, 0);
    background: var(--c-visual_overlay--background);
    background-size: var(--c-visual_overlay--background-size);
  }
}
