@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '../input-field';
@use './form-field-vars';

.c-form-field {
  $input-padding: var(--c-form-field__input--padding);

  @include input-field.wrapper;
  flex-direction: column;

  &__label {
    padding: var(--c-form-field__label--padding);
    font: var(--c-form-field__label--font);
    color: var(--c-form-field__label--color);

    &--hidden {
      @include bourbon.hide-visually;
    }
  }

  &__input {
    padding: $input-padding;
    border: var(--c-form-field--border);
    border-color: var(--c-form-field--border-color);
    border-radius: var(--c-form-field--border-radius);
    outline: 0;
    appearance: none;
    width: 100%;
    background-color: var(--c-form-field--background);
    color: var(--c-form-field--color);
    font: var(--c-form-field--font);
    transition: var(--ks-duration-medium);
    resize: vertical;

    &::placeholder {
      color: var(--c-form-field__input__placeholder--color);
    }

    &:disabled {
      background-color: var(--c-form-field--background-disabled);
      opacity: 0.6;
    }

    &:hover {
      border-color: var(--c-form-field--border-color_hover);
    }

    &:focus {
      border-color: var(--c-form-field--border-color_focus);
    }

    &:focus-visible {
      box-shadow: var(--c-form-field--shadow_focus)
        var(--c-form-field--border-color_focus);
    }

    &.focus-visible {
      box-shadow: var(--c-form-field--shadow_focus)
        var(--c-form-field--border-color_focus);
    }

    &--is-invalid {
      --c-form-field--color: var(--ks-color-negative);
      --c-form-field--border-color: var(--ks-color-negative);
      --c-form-field--border-color_hover: var(--ks-color-negative);
      --c-form-field--border-color_focus: var(--ks-color-negative);
    }
  }

  &__field {
    position: relative;
    display: flex;
    flex-direction: column;

    .icon {
      @include bourbon.size(var(--c-form-field__icon--size));
      position: absolute;
      right: 0;
      bottom: calc(
        var(--ks-line-height-interface-m) * 1em -
          var(--c-form-field__icon--size)
      );
      margin: $input-padding;
      color: var(--c-form-field__icon--color);

      + .c-form-field__input {
        padding-right: calc(var(--c-form-field__icon--size) + 1rem);
      }
    }
  }

  &__invalid-message {
    margin: var(--c-form-field__invalid-message--margin);
    padding: var(--c-form-field__invalid-message--padding);
    color: var(--ks-text-color-default-inverted);
    background: var(--ks-color-negative);
    border-radius: var(--c-form-field--border-radius);
  }

  &__hint {
    margin: var(--c-form-field__hint--margin);
    color: var(--c-form-field__hint--color);
  }
}
