$name-: 'g-link' !default;

$host: (
  ':root': (
    font-weight: var(--ks-font-weight-regular),
    text-decoration: underline,
    text-decoration-hover: inherit,
    color: var(--ks-text-color-default-interactive),
    color-hover: var(--ks-text-color-default-interactive-hover),
    background: transparent,
    // background-hover: var(--ks-color-fg-alpha-1),
    border-radius: 0,
  ),
  'h1, h2, h3, h4, h5, h6': (
    font-weight: var(--c-rich-text_headline--font-weight),
  ),
) !default;
