@use 'sass:meta';
@use '@kickstartds/core/source/core/breakpoint';
@use '@kickstartds/core/source/core/custom-properties';
@use './link-vars';

$vars: meta.module-variables(link-vars);
@include custom-properties.styles($vars, true);

/* critical:start */
a {
  transition: 0.15s;
  font-weight: var(--g-link--font-weight);
  border-radius: var(--g-link--border-radius);

  color: var(--g-link--color);
  text-decoration: var(--g-link--text-decoration);
  background: var(--g-link--background);

  &:focus,
  &:hover {
    color: var(--g-link--color-hover);
    text-decoration: var(--g-link--text-decoration-hover);
    background: var(--g-link--background-hover);
  }
}
/* critical:end */
