$name-: 'g-link' !default;

$host: (
  ':root': (
    font-weight: var(--font-weight-regular),
    text-decoration: underline,
    text-decoration-hover: inherit,
    color: var(--color-black),
    color-hover: var(--color-black),
    background: transparent,
    background-hover: var(--color-black-aplha-1),
    border-radius: 0,
  ),
) !default;
