@use 'sass:meta';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'bourbon/core/bourbon';
@use 'settings/base';
@use 'settings/pagination';

@mixin pagination {
  margin: 1em 0;

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    font-size: base.$font-size-small;
    min-width: 3.35em;
    height: 3.35em;
    box-sizing: border-box;
    margin: 0.165em;

    @include breakpoint.media('≥s') {
      min-width: 2.65em;
      height: 2.65em;
      margin: 0.135em;
    }

    a,
    .number,
    .spacer {
      display: flex;
      align-items: center;
      justify-content: center;
      // TODO: revmove conditions in version 4
      color: if(
        meta.global-variable-exists('item-color', 'pagination'),
        pagination.$item-color,
        base.$color-black
      );
      background: if(
        meta.global-variable-exists('item-background-color', 'pagination'),
        pagination.$item-background-color,
        base.$color-black-10
      );
      border-radius: 3px;
      height: 100%;
      width: 100%;
      text-decoration: none;

      svg {
        @include bourbon.size(1.6em);
        // TODO: revmove condition in version 4
        fill: if(
          meta.global-variable-exists('arrow-color', 'pagination'),
          pagination.$arrow-color,
          base.$color-black-50
        );
      }

      @include breakpoint.media('≥m') {
        background: transparent;
      }
    }

    a:hover {
      // TODO: revmove condition in version 4
      background: if(
        meta.global-variable-exists('item-background-color', 'pagination'),
        pagination.$item-background-color,
        base.$color-black-10
      );
      text-decoration: none;
      color: inherit;
    }

    &--current {
      a,
      .number {
        // TODO: revmove conditions in version 4
        background: if(
          meta.global-variable-exists(
            'item-background-color-current',
            'pagination'
          ),
          pagination.$item-background-color-current,
          base.$color-brand
        );
        color: if(
          meta.global-variable-exists('item-color-current', 'pagination'),
          pagination.$item-color-current,
          base.$color-white
        );

        @include breakpoint.media('≥m') {
          // TODO: revmove condition in version 4
          background: if(
            meta.global-variable-exists(
              'item-background-color-current',
              'pagination'
            ),
            pagination.$item-background-color-current,
            base.$color-brand
          ) !important;
        }
      }
    }
  }
}

%pagination {
  @include pagination;
}
