@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';
@use 'settings/global';

.real-estate-actions {
  @include breakpoint.media('≥m') {
    background: base.$color-black-10-solid;
  }

  &__overlay {
    bottom: 3.7rem;
    height: auto;
    color: inherit;

    @include breakpoint.media('≥m') {
      display: block !important;
      position: relative;
      z-index: inherit;
      background: inherit;
    }
  }

  .overlay__inner {
    min-height: 100%;
    justify-content: center;
    padding-top: global.$padding;

    @include breakpoint.media('<m') {
      padding-bottom: global.$padding;
    }

    @include breakpoint.media('≥m') {
      padding: 1rem;
    }
  }

  .overlay__close {
    @include breakpoint.media('≥m') {
      display: none;
    }
  }

  &__form {
    position: relative;
    background: base.$color-black-10-solid;
    width: 100%;
    padding: 3rem 1.5rem 2rem;
    max-width: 22rem;

    @include breakpoint.media('≥s') {
      padding: 3rem;
    }

    @include breakpoint.media('≥m') {
      max-width: 100%;
      padding: 0;
    }
  }

  &__headline {
    font-weight: helpers.get-font-weight(regular);
  }

  &__sticky {
    @include breakpoint.media('<m') {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: global.$padding;
      z-index: global.$search-overlay-zindex + 1;
      background-color: white;
      border-top: 1px solid base.$color-black-15-solid;
    }

    @include breakpoint.media('≥m') {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    &__inner {
      @include grid.grid-container(global.$padding);

      @include breakpoint.media('<m') {
        @include grid.grid-cols-per-row(3);
      }
    }
  }

  &__btn-wrapper {
    &--share,
    &--trigger {
      @include breakpoint.media('≥m') {
        display: none;
      }
    }

    &--share-m,
    &--print {
      display: none;

      @include breakpoint.media('≥m') {
        display: block;
      }
    }
  }

  &__btn {
    width: 100%;
    justify-content: center;
    font-size: base.$font-size-small;

    @include breakpoint.media('≥m') {
      font-size: base.$font-size-default;
    }

    &::after {
      margin: 0;
    }
  }

  &__favourite {
    margin-left: auto;

    &[aria-pressed='true'] {
      .real-estate-actions__favourite__icon-active {
        display: inline-block;
      }

      .real-estate-actions__favourite__icon-inactive {
        display: none;
      }
    }

    &__icon-active {
      display: none;
    }
  }
}
