/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
/* critical:start */
svg {
  height: 2em;
  width: 2em;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  fill: currentColor;
}

/* critical:end */