.c-form-check-group {
  --c-form-check-group--vertical-gutter: 0.125rem;

  // Label
  --c-form-check-group__label--padding: 0 0 0.25rem;
  --c-form-check-group__label--font: var(--ks-font-interface-s);
}
