@use 'sass:meta';
@use './form-check-group-vars';

.c-form-check-group {
  &__label {
    font: var(--c-form-check-group__label--font);
    color: var(--c-form-check-group__label--color);
    display: inline-block;
    padding: var(--c-form-check-group__label--padding);
    cursor: default;
  }

  &__group {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    gap: var(--c-form-check-group--vertical-gutter);
  }
}
