@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/sizes';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/base';
@use 'settings/global';
@use 'settings/storytelling';

.storytelling {
  @include sizes.global-padding;
  @include sizes.vertical-padding;

  display: flex;
  flex-direction: column;
  background-color: storytelling.$background-color;
  color: storytelling.$color;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include breakpoint.media('≥s') {
    flex-direction: row;
  }

  @include helpers.in-sidebar {
    display: block;
    padding: 1.5rem 1rem;
  }

  &--full {
    padding: 0;

    img {
      width: 100%;
    }
  }

  &__image {
    display: flex;
    flex: 1 1 50%;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .storytelling--full & {
      margin-bottom: 0;
    }

    @include breakpoint.media('≥s') {
      padding-right: global.$padding-s;
      margin-bottom: 0;

      .storytelling--full & {
        padding-right: 0;
      }
    }

    @include breakpoint.media('≥m') {
      padding-right: global.$padding-m;
      margin-bottom: 0;

      .storytelling--full & {
        padding-right: 0;
      }
    }

    &--top {
      align-items: flex-start;
    }

    &--top-edge {
      align-items: flex-start;

      img {
        margin-top: -1 * global.$vertical-padding;

        @include breakpoint.media('<s') {
          .storytelling--order-mobile-image-last & {
            margin-top: 0;
          }
        }

        @include breakpoint.media('≥s') {
          margin-top: -1 * global.$vertical-padding-s;
        }

        @include breakpoint.media('≥m') {
          margin-top: -1 * global.$vertical-padding-m;
        }
      }
    }

    &--bottom {
      align-items: flex-end;
    }

    &--bottom-edge {
      align-items: flex-end;

      img {
        @include breakpoint.media('<s') {
          .storytelling--order-mobile-image-last & {
            margin-bottom: -1 * global.$vertical-padding;
          }
        }

        @include breakpoint.media('≥s') {
          margin-bottom: -1 * global.$vertical-padding-s;
        }

        @include breakpoint.media('≥m') {
          margin-bottom: -1 * global.$vertical-padding-m;
        }
      }
    }

    &--left {
      justify-content: flex-start;
    }

    &--left-edge {
      justify-content: flex-start;

      img {
        margin-left: -1 * global.$padding;

        @include breakpoint.media('≥s') {
          margin-left: -1 * global.$padding-s;
        }

        @include breakpoint.media('≥m') {
          margin-left: -1 * global.$padding-m;
        }
      }
    }

    &--right {
      justify-content: flex-end;
    }

    &--right-edge {
      justify-content: flex-end;

      img {
        margin-right: -1 * global.$padding;

        @include breakpoint.media('≥s') {
          margin-right: -1 * global.$padding-s;
        }

        @include breakpoint.media('≥m') {
          margin-right: -1 * global.$padding-m;
        }
      }
    }

    .storytelling--order-mobile-image-last & {
      @include breakpoint.media('<s') {
        order: 2;
        margin-bottom: 0;
        margin-top: 1rem;
      }
    }

    .storytelling--order-desktop-image-last & {
      @include breakpoint.media('≥s') {
        order: 2;
        padding-right: 0;
        padding-left: global.$padding-s;
      }

      @include breakpoint.media('≥m') {
        padding-left: global.$padding-m;
      }
    }

    .storytelling--full &,
    .storytelling--full.storytelling--order-desktop-image-last & {
      padding: 0;

      @include breakpoint.media('≥s') {
        padding: 0;
      }

      @include breakpoint.media('≥m') {
        padding: 0;
      }
    }

    .storytelling--sixteen-to-nine & {
      &::before {
        padding-top: 56.25%; /* 16:9 Aspect Ratio */
      }
    }

    .storytelling--four-to-three & {
      &::before {
        padding-top: 75%; /* 4:3 Aspect Ratio */
      }
    }

    .storytelling--three-to-two & {
      &::before {
        padding-top: 66%; /* 3:2 Aspect Ratio */
      }
    }

    .storytelling--square & {
      &::before {
        padding-top: 100%; /* 1:1 Aspect Ratio */
      }
    }

    .storytelling--sixteen-to-nine &,
    .storytelling--four-to-three &,
    .storytelling--three-to-two &,
    .storytelling--square & {
      position: relative;

      &::before {
        content: '';
        float: left;
      }

      img {
        position: absolute;
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    img {
      flex: 0 0 auto; // ie fix
    }

    @include helpers.in-sidebar {
      padding: 0 0 1rem !important;
    }
  }

  &__box {
    display: flex;
    flex: 1 1 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;

    @include breakpoint.media('≥s') {
      padding-left: global.$padding-s;
    }

    @include breakpoint.media('≥m') {
      padding-left: global.$padding-m;
    }

    &--top {
      align-items: flex-start;
    }

    &--bottom {
      align-items: flex-end;
    }

    &--left {
      justify-content: flex-start;
    }

    &--right {
      justify-content: flex-start;

      @include breakpoint.media('≥s') {
        justify-content: flex-end;
      }
    }

    .storytelling--full & {
      @include sizes.global-padding;
      @include sizes.vertical-padding;
    }

    .storytelling--order-desktop-image-last & {
      padding-left: 0;

      @include breakpoint.media('≥s') {
        padding-right: global.$padding-s;
      }

      @include breakpoint.media('≥m') {
        padding-right: global.$padding-m;
      }
    }

    .storytelling--full.storytelling--order-desktop-image-last & {
      @include sizes.global-padding;
    }

    @include helpers.in-sidebar {
      padding: 0 !important;
    }

    &__content {
      max-width: 36.85em;
      width: auto;

      &--center {
        &,
        .content-headline > * {
          text-align: center;
        }
      }

      &[style] {
        .content-headline > * {
          &,
          a,
          a:not([class]) {
            color: inherit;
          }
        }
      }
    }

    .content-headline {
      width: 100%;
      max-width: none;
      margin-bottom: storytelling.$headline__margin;
      margin-left: 0;
      margin-right: 0;
      text-align: left;

      @include breakpoint.media('≥m') {
        margin-bottom: storytelling.$headline__margin-m;
      }
    }
  }

  &__text {
    margin-bottom: 1em;
  }
}
