@use 'sass:meta';
@use 'photoswipe/dist/photoswipe.css';
@use './lightbox-vars';

.pswp {
  --pswp-bg: var(--c-lightbox--background);
  --pswp-placeholder-bg: var(--c-lightbox__placeholder--background);
  --pswp-root-z-index: var(--c-lightbox--root-z-index);
  --pswp-icon-color: var(--c-lightbox__icon--color);
  --pswp-icon-color-secondary: var(--c-lightbox__icon--color-secondary);
  --pswp-icon-stroke-color: var(--c-lightbox__icon--stroke-color);
  --pswp-icon-stroke-width: var(--c-lightbox__icon--stroke-width);
  --pswp-error-text-color: var(--c-lightbox--error-text-color);

  .pswp__counter {
    color: var(--pswp-icon-color);
    text-shadow: var(--c-lightbox__counter--text-shadow);
    font: var(--c-lightbox__counter--font);
    font-weight: var(--c-lightbox__counter--font-weight);
  }

  .pswp__icn-shadow {
    filter: drop-shadow(var(--c-lightbox__icon--shadow));
    fill: unset;
  }

  &__caption {
    font: var(--c-lightbox__caption--font);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: var(--c-lightbox__caption--color);
    padding: 15px 0;
    background-color: var(--c-lightbox__caption--background-color);

    &:empty {
      padding: 0;
    }
  }
}
