@use 'settings/base';

$news-detail__date-font-size:                     base.$font-size-small !default;
$news-detail__date-font-weight:                   regular !default;
$news-detail__date-color:                         base.$color-black-50 !default;

$news-detail__teaser-text-font-size:              1.3em !default;
$news-detail__teaser-text-font-weight:            regular !default;
$news-detail__teaser-text-line-height:            1.5em !default;
$news-detail__teaser-text-color:                  base.$color-black !default;
