@use 'settings/base/colors';

/// Reference Detail Extended

$detail__grid-gutter-s: 3rem !default;
$detail__grid-gutter-m: 5rem !default;

$detail__logo-max-width: 13.35em !default;

$detail__logo-name-color: colors.$text-color !default;
$detail__logo-name-font-size: 1rem !default;
$detail__logo-name-font-weight: bold !default;
$detail__logo-name-line-height: 1.5 !default;

$detail__category-font-size: 1em !default;

$detail__logo-meta-color: colors.$text-color !default;
$detail__logo-meta-font-size: 1rem !default;
$detail__logo-meta-font-weight: regular !default;
$detail__logo-meta-line-height: 1.5 !default;

$detail__info-headline-font-size: 1.28em !default;
$detail__info-headline-line-height: 1.1 !default;

$detail__info-item-font-size: 0.8em !default;
$detail__info-item-line-height: 1.5 !default;
$detail__info-item-icon-color: colors.$color-brand !default;
