.c-post-meta {
  --c-post-meta--gap: var(--ks-spacing-m);

  // Item
  --c-post-meta__item--gap: var(--ks-spacing-xs);
  --c-post-meta__item--font: var(--ks-font-interface-s);
  --c-post-meta__item--color: var(--ks-text-color-interface);
  --c-post-meta__item--icon-size: 1.2em;

  // Author
  --c-post-meta__author--gap: var(--c-post-meta__item--gap);
  --c-post-meta__author--font: var(--c-post-meta__item--font);
  --c-post-meta__author--color: var(--c-post-meta__item--color);
  --c-post-meta__author--font-weight: var(--ks-font-weight-bold);

  // Avatar
  --c-post-meta__avatar--size: 1.5em;
  --c-post-meta__avatar--border-radius: var(--ks-border-radius-circle);
}
