@use 'sass:meta';
@use './post-meta-vars';

.c-post-meta {
  display: flex;
  align-items: center;
  gap: var(--c-post-meta--gap);
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;

    gap: var(--c-post-meta__item--gap);
    font: var(--c-post-meta__item--font);
    color: var(--c-post-meta__item--color);

    &--author {
      font: var(--c-post-meta__author--font, var(--c-post-meta__item--font));
      color: var(--c-post-meta__author--color, var(--c-post-meta__item--color));
      font-weight: var(--c-post-meta__author--font-weight);
      gap: var(--c-post-meta__author--gap, var(--c-post-meta__item--gap));
    }
  }

  &__avatar {
    height: var(--c-post-meta__avatar--size);
    width: var(--c-post-meta__avatar--size);
    border-radius: var(--c-post-meta__avatar--border-radius);
    object-fit: cover;
  }

  .icon {
    height: var(--c-post-meta__item--icon-size);
    width: var(--c-post-meta__item--icon-size);
  }
}
