@use './container';

@mixin visual-box {
  width: 100%;
  max-width: var(--c-visual_box--max-width);
  position: relative;
  padding: 1.5rem var(--l-section--content-padding);
  border: var(--c-visual_box--border);
  background: var(--c-visual_box--background);
  color: var(--c-visual_box--color);

  .c-rich-text {
    --c-rich-text--color: var(--c-visual_box--color);
  }

  a:not(.c-button) {
    color: inherit;
  }

  @include container.size('≥', 640px) {
    width: auto;
    border-radius: var(--c-visual_box--border-radius);
  }

  @include container.size('≥', 1200px) {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .c-visual__content--inbox &,
  .c-visual__content:only-child & {
    border-radius: var(--c-visual_box--border-radius);
  }

  &--transparent {
    .c-visual__content--inbox &,
    .c-visual__content:only-child & {
      background: none;
      padding: 0;
      border-radius: 0;
    }

    @include container.size('≥', 640px) {
      background: none;
      padding: 0 !important;
      border-radius: 0;
    }
  }

  @media print {
    background-color: transparent;
    border: 2px solid var(--color-grey-3);
    margin: 1cm 0;
    width: auto;

    &,
    a {
      color: var(--ks-text-color-default);
    }
  }
}
