@use 'bourbon/core/bourbon';
@use './container';

@mixin visual-content {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;

  @include container.size('≥' 640px) {
    padding: var(--l-section--content-padding);
    flex-grow: 1; // = 100% height
  }

  &--center {
    justify-content: center;
    text-align: center;
  }

  &--left {
    justify-content: flex-start;
  }

  &--right {
    justify-content: flex-end;
  }

  &--top {
    align-items: flex-start;
  }

  &--bottom {
    align-items: flex-end;
  }

  &--indent {
    max-width: var(--l-section--content-width-default);
  }

  &--inbox,
  &:only-child {
    padding: var(--l-section--content-padding);
  }

  .c-visual--no-crop & {
    @include container.size('≥' 640px) {
      @include bourbon.position(absolute, 0);
    }
  }
}
