@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/breakpoint';

@mixin visual-content {
  /* critical:start */
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  /* critical:end */

  @include breakpoint.media('≥s') {
    /* critical:start */
    padding: var(--g-content-padding);
    flex-grow: 1; // = 100% height
    /* critical:end */
  }

  &--center {
    /* critical:start */
    justify-content: center;
    text-align: center;
    /* critical:end */
  }

  &--left {
    /* critical:start */
    justify-content: flex-start;
    /* critical:end */
  }

  &--right {
    /* critical:start */
    justify-content: flex-end;
    /* critical:end */
  }

  &--top {
    /* critical:start */
    align-items: flex-start;
    /* critical:end */
  }

  &--bottom {
    /* critical:start */
    align-items: flex-end;
    /* critical:end */
  }

  &--indent {
    /* critical:start */
    max-width: var(--g-content-width-default);
    /* critical:end */
  }

  &--inbox,
  &:only-child {
    /* critical:start */
    padding: var(--g-content-padding);
    /* critical:end */
  }

  .c-visual--no-crop & {
    @include breakpoint.media('≥s') {
      /* critical:start */
      @include bourbon.position(absolute, 0);
      /* critical:end */
    }
  }
}
