@use 'bourbon/core/bourbon';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use '@kickstartds/base/source/0-base/1-tools/scss/sizes';
@use '@kickstartds/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/global';
@use 'settings/base';
@use 'settings/visuals';

@mixin visual-content {
  /* critical:start */
  display: flex;
  align-items: center;
  width: 100%;
  flex-grow: 1; // = 100% height
  margin: auto;
  /* critical:end */

  @include breakpoint.media('≥s') {
    /* critical:start */
    @include sizes.global-padding();

    padding-top: global.$padding-m;
    padding-bottom: global.$padding-m;
    min-height: inherit; // ie fix
    /* critical:end */
  }

  &--center {
    /* critical:start */
    justify-content: center;
    text-align: center;
    /* critical:end */
  }

  &--left {
    /* critical:start */
    justify-content: flex-start;
    /* critical:end */
  }

  &--right {
    /* critical:start */
    justify-content: flex-end;
    /* critical:end */
  }

  &--top {
    /* critical:start */
    align-items: flex-start;
    /* critical:end */
  }

  &--bottom {
    /* critical:start */
    align-items: flex-end;
    /* critical:end */
  }

  &--indent {
    /* critical:start */
    max-width: global.$grid__max-width;
    /* critical:end */
  }

  &--inbox,
  &:only-child {
    /* critical:start */
    @include sizes.global-padding;
    @include sizes.vertical-padding;

    // ie fix
    height: visuals.$min-height;

    .visual--small & {
      height: visuals.$min-height-small;

      @each $bp,
        $height
          in (
            s: visuals.$min-height-small-s,
            m: visuals.$min-height-small-m,
            l: visuals.$min-height-small-l
          )
      {
        @if $height < visuals.$min-height {
          @include breakpoint.media('≥#{$bp}') {
            height: $height;
          }
        }
      }
    }
    /* critical:end */
  }

  .visual--no-crop & {
    @include breakpoint.media('≥s') {
      /* critical:start */
      @include bourbon.position(absolute, 0);
      @include sizes.global-padding;
      @include sizes.vertical-padding;
      /* critical:end */
    }
  }
}
