@use 'bourbon/core/bourbon';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use '@kickstartds/base/source/0-base/1-tools/scss/breakpoint';
@use 'settings/visuals';
@use 'sass:meta';

@mixin visual-image {
  /* critical:start */
  display: block;
  /* critical:end */

  @include breakpoint.media('≥s') {
    /* critical:start */
    @include bourbon.position(absolute, 0);

    .visual--no-crop & {
      position: static;
    }
    /* critical:end */
  }

  &--inbox {
    /* critical:start */
    @include bourbon.position(absolute, 0);
    /* critical:end */
  }

  &--indent {
    &-left {
      img {
        @include breakpoint.media('<m') {
          /* critical:start */
          object-position: if(
              meta.global-variable-exists('image__indent-left', 'visuals'),
              visuals.$image__indent-left,
              20%
            )
            50%;
          /* critical:end */
        }
      }
    }

    &-right {
      img {
        @include breakpoint.media('<m') {
          /* critical:start */
          object-position: if(
              meta.global-variable-exists('image__indent-right', 'visuals'),
              visuals.$image__indent-right,
              70%
            )
            50%;
          /* critical:end */
        }
      }
    }
  }

  &,
  * {
    /* critical:start */
    min-height: inherit;
    /* critical:end */
  }

  img {
    /* critical:start */
    object-fit: cover;
    width: 100%;
    height: 100%;
    /* critical:end */
  }

  @include helpers.no-print;
}
