$name-: 'c-visual' !default;

$host: (
  '.c-visual': (
    background: null,
    min-height: (
      xs: 18rem,
      s: 21rem,
      m: 31.5rem,
      l: 35rem,
    ),
  ),
  '.c-visual--small': (
    min-height: (
      xs: 13.35rem,
      s: 13.2rem,
      m: 15.8rem,
      l: 20rem,
    ),
  ),
) !default;

$image: (
  '.c-visual': (
    indent-left: (
      xs: 20%,
      s: 50%,
    ),
    indent-right: (
      xs: 70%,
      s: 50%,
    ),
  ),
) !default;

$overlay: (
  '.c-visual': (
    background:
      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEUAAAD///8AAABzxoNxAAAAA3RSTlMAAJlzpe8+AAAAG0lEQVQY02NcwAAFjIxITAaszFG1A6w2FM4GAMpWDSVzkJMQAAAAAElFTkSuQmCC'),
    background-size: 1rem,
  ),
) !default;

$box: (
  '.c-visual__box': (
    border: null,
    border-radius: null,
    color: var(--ks-text-color-primary-inverted),
    background: var(--ks-background-color-primary-tbd),
    max-width: (
      xs: var(--g-content-width-default),
      s: 50%,
      xl: 40rem,
    ),
  ),
  '.c-visual__box--light': (
    color: var(--ks-text-color-primary),
    background: var(--ks-background-color-primary-inverted-tbd),
  ),
) !default;

$headline: (
  '.c-visual__box': (
    color: null,
  ),
  '.c-visual__box--light': (
    color: null,
  ),
) !default;

$text: (
  '.c-visual__box': (
    font: var(--font-copy-m),
    font-weight: var(--font-weight-regular),
    margin: 1.2em 0 0,
  ),
) !default;
