$name-: 'c-visual' !default;
$container-name-: 'visual';

$host: (
  '.c-visual': (
    background: null,
    min-height: (
      0: 18rem,
      640: 21rem,
      960: 31.5rem,
      1024: 35rem,
    ),
  ),
  '.c-visual--small': (
    min-height: (
      0: 13.35rem,
      640: 13.2rem,
      960: 15.8rem,
      1024: 20rem,
    ),
  ),
) !default;

$image: (
  '.c-visual': (
    indent-left: (
      0: 20%,
      640: 50%,
    ),
    indent-right: (
      0: 70%,
      640: 50%,
    ),
  ),
) !default;

$overlay: (
  '.c-visual': (
    background:
      url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoAgMAAADxkFD+AAAACVBMVEUAAAD///8AAABzxoNxAAAAA3RSTlMAAJlzpe8+AAAAG0lEQVQY02NcwAAFjIxITAaszFG1A6w2FM4GAMpWDSVzkJMQAAAAAElFTkSuQmCC'),
    background-size: 1rem,
  ),
) !default;

$box: (
  '.c-visual__box': (
    border: null,
    border-radius: null,
    color: var(--color-white),
    background: var(--color-primary-alpha-8),
    max-width: (
      0: var(--g-content-width-default),
      640: 50%,
      1200: 40rem,
    ),
  ),
  '.c-visual__box--light': (
    color: var(--color-primary),
    background: var(--color-white-alpha-9),
  ),
) !default;

$headline: (
  '.c-visual__box': (
    color: null,
  ),
  '.c-visual__box--light': (
    color: null,
  ),
) !default;

$text: (
  '.c-visual__box': (
    font: var(--font-copy-m),
    font-weight: var(--font-weight-regular),
    margin: 1.2em 0 0,
  ),
) !default;
