@use '@kickstartds/base/source/0-base/1-tools/scss/grid';
@use '@kickstartds/base/source/0-base/1-tools/scss/helpers';
@use '@kickstartds/core/source/core/breakpoint';
@use 'sass:meta';

@mixin visual-box {
  width: 100%;
  max-width: var(--c-visual_box--max-width);
  position: relative;
  padding: 1.5rem var(--g-content-padding);
  border: var(--c-visual_box--border);
  background: var(--c-visual_box--background);
  color: var(--c-visual_box--color);

  .c-rich-text {
    --c-rich-text--color: var(--c-visual_box--color);
  }

  a:not(.c-button) {
    color: inherit;
  }

  @include breakpoint.media('≥s') {
    width: auto;
    border-radius: var(--c-visual_box--border-radius);
  }

  @include breakpoint.media('≥xl') {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .c-visual__content--inbox &,
  .c-visual__content:only-child & {
    border-radius: var(--c-visual_box--border-radius);
  }

  &--transparent {
    .c-visual__content--inbox &,
    .c-visual__content:only-child & {
      background: none;
      padding: 0;
      border-radius: 0;
    }

    @include breakpoint.media('≥s') {
      background: none;
      padding: 0 !important;
      border-radius: 0;
    }
  }

  @include breakpoint.media('print') {
    background-color: transparent;
    border: 2px solid var(--color-grey-3);
    margin: 1cm 0;
    width: auto;

    &,
    a {
      color: var(--color-black);
    }
  }
}
