$name-: 'c-content-box' !default;

$host: (
  '.c-content-box': (
    margin-bottom: null,
  ),
) !default;

$topic: (
  '.c-content-box': (
    font-xs: var(--ks-font-display-s),
    font-s: var(--ks-font-display-m),
    font-m: var(--ks-font-display-l),
    font: var(--c-content-box_topic--font-m),
    font-weight: var(--c-rich-text_headline--font-weight),
    color: var(--c-rich-text_headline--color),
    margin: null,
  ),
) !default;

$image: (
  '.c-content-box': (
    margin-bottom: 1em,
  ),
) !default;
$link: (
  '.c-content-box': (
    margin-top: 1em,
  ),
) !default;
