@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/custom-properties';
@use '../../0-base/input-field';
@use './checkbox-vars';

$vars: meta.module-variables(checkbox-vars);
@include custom-properties.styles($vars);

.c-checkbox {
  @include input-field.wrapper($width: null);

  &__input {
    @include bourbon.hide-visually;

    &:disabled ~ * {
      opacity: 0.5;
    }
  }

  &__box {
    @include input-field.radio-check('.c-checkbox') {
      transform: translate(-50%, -50%) rotate(45deg);
      position: absolute;
      top: calc(50% - var(--c-checkbox_checkmark--width));
      left: 50%;
      content: '';
      display: block;
      width: 0.4em;
      height: 0.7em;
      border: solid var(--c-checkbox_checkmark--color);
      border-width: 0 var(--c-checkbox_checkmark--width)
        var(--c-checkbox_checkmark--width) 0;
    }
  }

  &__label {
    margin-left: 0.5rem;
  }
}
