@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use 'settings/base';

.real-estate-request {
  &__summary {
    @include grid.grid-container;
    margin-bottom: 2rem;

    > * {
      width: 50%;
    }
  }

  &__title {
    font-weight: helpers.get-font-weight(regular);
    font-size: base.$font-size-large;
    line-height: base.$line-height-large;
    margin-bottom: 1em;
  }

  &__date-range-title {
    font-size: base.$font-size-default;
  }

  &__date-range {
    th {
      font-weight: helpers.get-font-weight(regular);
    }
  }

  &__name-row {
    @include grid.grid-container;

    > * {
      width: 50%;
    }
  }
}
