@charset "UTF-8";
/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.quote {
  display: flex;
  align-items: normal;
}
@media (min-width: 60em) {
  .quote {
    align-items: center;
  }
}
.quote__image-wrap {
  flex-shrink: 0;
  max-width: 20%;
}
@media (min-width: 60em) {
  .quote__image-wrap {
    max-width: 30%;
  }
}
.quote__content {
  position: relative;
  padding-left: 2rem;
}
@media (min-width: 60em) {
  .quote__content {
    padding-left: 4rem;
  }
}
.quote__content::before {
  position: absolute;
  left: 1rem;
  content: "”";
  font-size: 2.5em;
  line-height: 1;
  color: #333333;
  transform: translateX(-50%);
}
@media (min-width: 60em) {
  .quote__content::before {
    left: 2rem;
    font-size: 4em;
  }
}
.quote__text {
  font-size: 1em;
  margin-bottom: 0.25em;
}
@media (min-width: 60em) {
  .quote__text {
    font-size: 1em;
    margin-bottom: 0.25em;
  }
}
.quote__source {
  font-size: 0.8em;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
}
@media (min-width: 60em) {
  .quote__source {
    font-size: 0.8em;
  }
}
.quote__date {
  font-size: 0.8em;
  font-weight: 700;
  font-style: normal;
  text-transform: none;
}
@media (min-width: 60em) {
  .quote__date {
    font-size: 0.8em;
  }
}