$name-: 'c-slider';

$arrow: (
  '.c-slider': (
    size: 2.5rem,
    offset: -1.5,
    color: var(--ks-color-primary),
    background: var(--ks-background-color-interface-interactive),
    background-hover: var(--ks-background-color-interface-interactive-hover),
  ),
  '.l-section__container--max .c-slider, .l-section__container--full .c-slider':
  (
    offset: 0,
  ),
) !default;

$bullet: (
  '.c-slider': (
    size: 0.8rem,
    margin: 0.25rem 0.5rem,
    outline-color: var(--color-black-alpha-2),
    outline-color-active: var(--ks-color-primary),
    background: var(--ks-background-color-interface-interactive),
    background-active: var(--ks-background-color-interface-interactive-current),
    background-hover: var(--ks-background-color-interface-interactive-hover),
  ),
) !default;
