@use 'sass:meta';
@use '@kickstartds/core/source/core/custom-properties';
@use '@kickstartds/core/source/container/container-name';
@use './slider-vars';

@use './glide.core';
@use './slider-arrows/slider-arrows';
@use './slider-bullet/slider-bullet';

$vars: meta.module-variables(slider-vars);
@include custom-properties.styles($vars);
@include container-name.name('slider');

.c-slider-main {
  .c-slider {
    &__track {
      width: 100%;
      transition: 0.3s;
    }

    &__slides {
      align-items: flex-start;
    }
  }
}

.c-slider-nav {
  @media print {
    display: none;
  }

  overflow: hidden;

  &__slides {
    justify-content: center;
    flex-wrap: wrap;
  }

  &__slide {
    white-space: normal;
  }
}

.c-slider--disabled {
  .c-slider__slide--clone,
  .c-slider__arrows,
  .c-slider-nav {
    display: none !important;
  }

  .c-slider__slides {
    transform: none !important;
    width: auto !important;
    justify-content: center;
  }
}
