@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/1-tools/scss/anchor';
@use 'settings/base';

.glossary {
  @include grid.grid-container(2.5rem);

  &-nav {
    margin-bottom: 0.75em;
  }

  &-toc {
    margin-bottom: 1.5em;
  }

  &__subnav {
    @include breakpoint.media('≥m') {
      @include grid.grid-columns(4);
    }
  }

  &__content {
    @include breakpoint.media('≥m') {
      @include grid.grid-columns(8);
    }

    [id] {
      @include anchor.anchor-target(1rem);
    }
  }

  &__image {
    display: table;
    margin-bottom: 1.5em;

    @include breakpoint.media('≥s') {
      &--left {
        max-width: 50%;
        float: left;
        margin-right: 2em;
        margin-bottom: 1em;
      }

      &--right {
        max-width: 50%;
        float: right;
        margin-left: 2em;
        margin-bottom: 1em;
      }
    }

    figcaption {
      display: table-caption;
      caption-side: bottom;
    }
  }

  &__crossreference {
    margin-top: 1.5em;
    border-top: 1px solid base.$color-black-10;
    padding-top: 1.5em;
  }
}
