/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.tag-label {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: rgba(5, 5, 5, 0.05);
  color: rgba(5, 5, 5, 0.75);
}
.tag-label--s {
  font-size: 0.65rem;
  line-height: 0.8rem;
  font-weight: 400;
  border-radius: 0.8rem;
}
.tag-label--m {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 400;
  border-radius: 1.25rem;
}
.tag-label--l {
  font-size: 1.1rem;
  line-height: 1.25rem;
  font-weight: 400;
  border-radius: 1.25rem;
}
@media print {
  .tag-label {
    background-color: transparent;
    border: 1px solid;
  }
}
.tag-label__content {
  border-radius: inherit;
  transition: 0.3s;
}
.tag-label--s .tag-label__content {
  padding: 0.325rem 0.65rem;
}
.tag-label--m .tag-label__content {
  padding: 0.4rem 1rem;
}
.tag-label--l .tag-label__content {
  padding: 0.5rem 1.25rem;
}
a.tag-label__content:hover, a.tag-label__content:focus {
  background-color: rgba(5, 5, 5, 0.1);
  color: #050505;
}

.tag-label__remove-btn {
  line-height: 0;
  border-radius: inherit;
}
.tag-label--s .tag-label__remove-btn {
  margin-left: -0.325rem;
  padding: 0.325rem 0.325rem;
}
.tag-label--m .tag-label__remove-btn {
  margin-left: -0.6rem;
  padding: 0.4rem 0.5rem;
}
.tag-label--l .tag-label__remove-btn {
  margin-left: -0.75rem;
  padding: 0.5rem 0.5rem;
}
.tag-label__remove-btn:hover, .tag-label__remove-btn:focus {
  background-color: rgba(5, 5, 5, 0.1);
  color: #050505;
}
.tag-label--s .tag-label__remove-btn .icon {
  height: 0.8rem;
  width: 0.8rem;
}
.tag-label--m .tag-label__remove-btn .icon {
  height: 1.25rem;
  width: 1.25rem;
}
.tag-label--l .tag-label__remove-btn .icon {
  height: 1.25rem;
  width: 1.25rem;
}