$light: 300 !default;
$regular: 400 !default;
$semi-bold: 600 !default;
$bold: 700 !default;

@mixin render($name, $value) {
  /*!
  * @tokens Font Weights
  * @presenter FontWeight
  */
  --font-weight-#{$name}: #{$value};
}
