@use 'sass:meta';
@use '../../core/breakpoint';

$xs: (
  xs: 1rem,
) !default;

$s: (
  xs: 1.5rem,
) !default;

$m: (
  xs: 1.75rem,
  s: 2rem,
) !default;

$l: (
  xs: 2rem,
  s: 2.5rem,
) !default;

$xl: (
  xs: 2.25rem,
  m: 3rem,
) !default;

$xxl: (
  xs: 2.5rem,
  s: 3rem,
  m: 4rem,
) !default;

@mixin cp($name, $value, $category: null) {
  @if meta.type-of($value) == 'map' {
    @each $bp, $val in $value {
      @if $bp == 'xs' {
        @include cp($name, $val);
      } @else {
        @include breakpoint.media('≥#{$bp}') {
          @include cp($name, $val, $bp);
        }
      }
    }
  } @else {
    /*!
    * @tokens Line Heights #{$category or xs}
    * @presenter LineHeight
    */
    --line-height-#{$name}: #{$value};
  }
}

@mixin render($name, $value) {
  @include cp($name, $value);
}
