/* stylelint-disable order/properties-alphabetical-order */
/* stylelint-enable */
.main-header {
  /* critical:start */
  position: fixed;
  z-index: 2500;
  width: 100%;
  background-color: #fff;
  color: #333333;
  top: 0;
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0);
  /* critical:end */
  transition: height 0.15s, top 0.15s, background-color 0.15s;
  /**
  * ## Mobile Buttons in Header
  */
}
.header-is-scrolling .main-header {
  box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.15);
}
@media (min-width: 67em) {
  .main-header {
    box-shadow: none;
  }
  .header-is-scrolling .main-header {
    box-shadow: 0 3px 10px -2px rgba(0, 0, 0, 0.15);
  }
}
@media (min-width: 67em) {
  .transparent-header:not(.header-is-scrolling) .main-header {
    /* critical:start */
    background-color: transparent;
    border-bottom: none;
    /* critical:end */
  }
}
.main-header__logo-nav {
  /* critical:start */
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  /* critical:end */
}
@media (min-width: 67em) {
  .main-header__logo-nav {
    /* critical:start */
    /* critical:start */
    padding-right: 0.666rem;
    padding-left: 0.666rem;
    /* critical:end */
    max-width: 62rem;
    margin: auto;
    flex-wrap: nowrap;
    /* critical:end */
  }
}
@media (min-width: 67em) and (min-width: 40em) {
  .main-header__logo-nav {
    /* critical:start */
    padding-right: 1.3rem;
    padding-left: 1.3rem;
    /* critical:end */
  }
}
@media (min-width: 67em) and (min-width: 60em) {
  .main-header__logo-nav {
    /* critical:start */
    padding-right: 2rem;
    padding-left: 2rem;
    /* critical:end */
  }
}
@media print {
  .main-header__logo-nav {
    display: block;
  }
}
@media (min-width: 40em) and (max-width: 66.99em) {
  .header-is-scrolling .main-header {
    top: -2rem;
  }
}
@media (min-width: 67em) {
  .header-is-scrolling .main-header {
    top: -2rem;
  }
}
@media print {
  .main-header {
    position: static;
    background: #ddd;
    box-shadow: none;
    color-adjust: exact;
  }
}
.main-header__mobile-button {
  /* critical:start */
  height: 3.35rem;
  width: 3.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  transition: 0.15s;
  /* critical:end */
}
.main-header__mobile-button .icon {
  /* critical:start */
  height: 1.675rem;
  width: 1.675rem;
  /* critical:end */
}
@media (min-width: 40em) {
  .main-header__mobile-button {
    /* critical:start */
    height: 3.5rem;
    width: 3.5rem;
    top: 2rem;
    /* critical:end */
  }
  .header-is-scrolling .main-header__mobile-button {
    top: 0;
  }
  .main-header__mobile-button .icon {
    /* critical:start */
    height: 1.75rem;
    width: 1.75rem;
    /* critical:end */
  }
}
.main-header__mobile-button--contact {
  /* critical:start */
  left: 50px;
  /* critical:end */
}
@media (min-width: 40em) {
  .main-header__mobile-button--contact {
    /* critical:start */
    left: 80px;
    /* critical:end */
  }
}

.main-header-spacer {
  /* critical:start */
  height: 3.35rem;
  /* critical:end */
}
@media print {
  .main-header-spacer {
    display: none;
  }
}
@media (min-width: 40em) {
  .main-header-spacer {
    /* critical:start */
    height: 5.5rem;
    /* critical:end */
  }
}
@media (min-width: 67em) {
  .main-header-spacer {
    /* critical:start */
    height: 7.25rem;
    /* critical:end */
  }
}

.logo-main-wrap {
  /* critical:start */
  text-align: center;
  width: 100%;
  /* critical:end */
}
.main-header-sidebar .logo-main-wrap, .main-header--variant-2 .logo-main-wrap {
  /* critical:start */
  order: 2;
  /* critical:end */
}
@media (min-width: 67em) {
  .logo-main-wrap {
    /* critical:start */
    margin-right: auto;
    margin-left: -1rem;
    width: auto;
    /* critical:end */
  }
  .main-header-sidebar .logo-main-wrap, .main-header--variant-2 .logo-main-wrap {
    /* critical:start */
    order: 0;
    /* critical:end */
  }
}
@media print {
  .logo-main-wrap {
    margin: 0;
  }
}

.logo-main {
  transition: height 0.2s ease-in-out;
  /* critical:start */
  display: inline-flex;
  padding: 0 1rem;
  align-items: center;
  justify-content: center;
  height: 3.35rem;
  /* critical:end */
}
@media (min-width: 40em) {
  .logo-main {
    /* critical:start */
    height: 3.5rem;
    /* critical:end */
  }
}
@media (min-width: 67em) {
  .logo-main {
    /* critical:start */
    height: 5.25rem;
    /* critical:end */
  }
  .header-is-scrolling .logo-main {
    /* critical:start */
    height: 2.63rem;
    /* critical:end */
  }
}
@media print {
  .logo-main {
    display: inline-block;
    padding: 0;
  }
}
.logo-main img {
  /* critical:start */
  width: auto;
  height: 100%;
  max-height: 1.6rem;
  transition: max-height 0.2s;
  /* critical:end */
}
@media (min-width: 67em) {
  .logo-main img {
    /* critical:start */
    max-height: 2.15rem;
    /* critical:end */
  }
  .header-is-scrolling .logo-main img {
    max-height: 1.5rem;
  }
}