a.c-button {
  --c-button--font-weight: var(--ifm-font-weight-semibold);
  display: block;
  text-align: left;
  box-sizing: content-box;
  width: fit-content;

  span {
    text-align: left;
  }

  .icon {
    margin-left: var(--ks-spacing-xxs);
    display: inline;
  }

  &.c-button--clear {
    padding-left: 0;
    padding-right: 0;
    --c-button--background-color-hover: transparent;
    --c-button--color-hover: var(--ks-color-primary-to-fg-2);

    [data-theme='dark'] & {
      --c-button--color-hover: var(--ks-color-primary-to-fg-8);
    }
  }

  &.c-button--solid {
    --c-button--color: var(--ifm-button-color);
    --c-button--background-color: var(--ifm-button-background-color);
    --c-button--background-color-hover: var(--ifm-color-primary-light);
  }
}
