.color-preview {
  width: 1.75rem;
  height: 1.75rem;
  border: 1px solid var(--ks-color-fg);
  border-radius: var(--ks-border-radius-control);

  [data-theme='dark'] & {
    border-color: var(--ks-color-fg-inverted);
  }
}

.color {
  &-link {
    background-color: var(--ks-color-link);
  }

  &-link-inverted {
    background-color: var(--ks-color-link-inverted);
  }

  &-transparent {
    background-color: var(--ks-color-transparent);
  }

  &-info {
    background-color: #05566a;
    // background-color: var(--ks-color-info);
  }

  &-info-inverted {
    background-color: #ecff00;
    // background-color: var(--ks-color-info-inverted);
  }

  &-primary {
    &-inverted {
      background-color: var(--ks-color-primary-inverted);
    }

    background-color: var(--ks-color-primary);
    &-to-bg {
      &-1 {
        background-color: var(--ks-color-primary-to-bg-1);
      }
      &-2 {
        background-color: var(--ks-color-primary-to-bg-2);
      }
      &-3 {
        background-color: var(--ks-color-primary-to-bg-3);
      }
      &-4 {
        background-color: var(--ks-color-primary-to-bg-4);
      }
      &-5 {
        background-color: var(--ks-color-primary-to-bg-5);
      }
      &-6 {
        background-color: var(--ks-color-primary-to-bg-6);
      }
      &-7 {
        background-color: var(--ks-color-primary-to-bg-7);
      }
      &-8 {
        background-color: var(--ks-color-primary-to-bg-8);
      }
      &-9 {
        background-color: var(--ks-color-primary-to-bg-9);
      }
    }

    &-alpha {
      &-1 {
        background-color: var(--ks-color-primary-alpha-9);
      }
      &-2 {
        background-color: var(--ks-color-primary-alpha-8);
      }
      &-3 {
        background-color: var(--ks-color-primary-alpha-7);
      }
      &-4 {
        background-color: var(--ks-color-primary-alpha-6);
      }
      &-5 {
        background-color: var(--ks-color-primary-alpha-5);
      }
      &-6 {
        background-color: var(--ks-color-primary-alpha-4);
      }
      &-7 {
        background-color: var(--ks-color-primary-alpha-3);
      }
      &-8 {
        background-color: var(--ks-color-primary-alpha-2);
      }
      &-9 {
        background-color: var(--ks-color-primary-alpha-1);
      }
    }
  }

  &-fg {
    background-color: var(--ks-color-fg);
  }

  &-bg {
    background-color: var(--ks-color-fg-inverted);
  }
}

.background {
  &-primary {
    background-color: var(--ks-background-color-primary);

    &-active {
      background-color: var(--ks-background-color-primary-interactive-hover);
    }

    &-hover {
      background-color: var(--ks-background-color-primary-interactive-active);
    }
  }

  &-accent {
    background-color: var(--ks-background-color-accent);
  }

  &-interface {
    background-color: var(--ks-background-color-interface);
  }

  &-default {
    background-color: var(--ks-background-color-default);
  }

  &-default-inverted {
    background-color: var(--ks-color-fg);
  }

  &-translucent {
    background-color: var(--ks-background-color-primary-translucent);
  }

  &-clear {
    background-color: var(--ks-background-color-clear);
  }
}

.color {
  &-control {
    background-color: var(--ks-box-shadow-color-control);

    &-hover {
      background-color: var(--ks-box-shadow-color-control-hover);
    }
  }

  &-card {
    background-color: var(--ks-box-shadow-color-card);

    &-hover {
      background-color: var(--ks-box-shadow-color-card-hover);
    }
  }

  &-surface {
    background-color: var(--ks-box-shadow-color-surface);

    &-hover {
      background-color: var(--ks-box-shadow-color-surface-hover);
    }
  }
}
