header.c-headline {
  --c-headline--color: var(--ifm-heading-color);
  --c-headline--margin-bottom: 0;

  &--align-center {
    margin: auto;
  }

  .c-headline__h5 {
    --c-rich-text_headline--font: var(--ks-font-display-s);
  }

  .c-headline__h6 {
    --c-rich-text_headline--font: var(--ks-font-display-xs);
  }

  .c-headline__subheadline {
    --c-headline_subheadline--font-weight: var(--ifm-font-weight-semibold);
    [data-theme='dark'] &,
    [ks-inverted='true'] & {
      --c-headline_subheadline--color: var(--ks-color-primary-inverted-to-bg-7);
    }
  }
}

p.c-headline__subheadline {
  --c-headline_subheadline--color: var(--ks-color-primary);
}
