.docs-pagetree {
  padding-left: 0;

  a {
    font-weight: var(--ks-font-weight-semi-bold);
    line-height: 1.65;
  }

  * {
    list-style-type: none;
  }

  ul {
    padding-left: var(--ifm-list-left-padding);
  }
}
