.border-preview {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 6px;
  border-color: var(--ks-border-color-primary);
  border-style: solid;
}

.border-default {
  border-width: var(--ks-border-width-default);
}

.border-emphasized {
  border-width: var(--ks-border-width-emphasized);
}

.border-radius-preview {
  border: var(--ks-border-width-default) solid var(--ks-border-color-primary);
  margin-bottom: 1rem;
}

.border-radius-control {
  border-radius: var(--ks-border-radius-control);
  height: 50px;
  width: 300px;
}

.border-radius-card {
  border-radius: var(--ks-border-radius-card);
  height: 400px;
  width: 300px;
}

.border-radius-surface {
  border-radius: var(--ks-border-radius-surface);
  height: 200px;
  width: 100%;
}

.border-radius-circle {
  border-radius: var(--ks-border-radius-circle);
  height: 100px;
  width: 100px;
}

.border-radius-pill {
  border-radius: var(--ks-border-radius-pill);
  height: 35px;
  width: 100px;
}
