a.c-button.c-button--solid {
  --c-button--color: var(--ifm-button-color);
  --c-button--background-color: var(--ifm-button-background-color);
  --c-button--background-color-hover: var(--ifm-color-primary-light);
}
