.ch-frame-zoom {
  --ch-frame-zoom: 0.5 !important;
}

.ch-code-scroll-parent {
  font-size: 12px;
}

.ch-code-scroll-content > div {
  transform: translateX(0px) translateY(19px) scale(1) !important;
}

.ch-spotlight-sticker {
  width: var(--ch-scrollycoding-sticker-width, 420px);
}

.ch-scrollycoding-step-content,
.ch-spotlight-tab {
  padding: var(--ks-spacing-inset-s) var(--ks-spacing-inset-s);
  --ifm-heading-margin-bottom: var(--ks-spacing-stack-xs);
  transition: var(--ks-transition-hover);
  transition-property: box-shadow, border-color;
}

.ch-spotlight-tabs {
  gap: var(--ks-spacing-stack-xs);
}

.ch-spotlight-tab {
  border-color: var(--ks-color-fg-alpha-2);
}

.ch-scrollycoding-step-content[data-selected],
.ch-spotlight-tab:hover,
.ch-spotlight-tab[data-selected] {
  border-color: transparent;
  box-shadow: var(--ks-box-shadow-card-hover);
}

[data-theme='dark'] .ch-scrollycoding-step-content[data-selected],
[data-theme='dark'] .ch-spotlight-tab:hover,
[data-theme='dark'] .ch-spotlight-tab[data-selected] {
  box-shadow: var(--ks-box-shadow-card-hover);
  background-color: var(--ks-color-fg-inverted-alpha-1-base);
}

.ch-scrollycoding,
.ch-spotlight {
  gap: var(--ks-spacing-s);
}

.ch-editor-frame {
  background: #031419 !important;
}

[data-theme='dark'] .ch-frame-title-bar,
[data-theme='dark'] .ch-code-wrapper {
  background: transparent !important;
}

.ch-editor-tab-active {
  background: rgba(255, 255, 255, 0.25) !important;
}

.ch-editor-tab-inactive {
  background-color: transparent !important;
}

.ch-editor-tab {
  border-bottom-color: transparent !important;
}
