:root {
  --ch-code-background: rgb(46, 52, 64);
}

[data-theme='dark'],
[data-theme='dark'] [ks-theme],
[data-theme='dark'] [ks-inverted] {
  --ch-code-background: #031419;
}

.ch-frame-zoom {
  --ch-frame-zoom: 0.5 !important;
}

.ch-code-scroll-parent {
  font-size: 12px;
}

.ch-code-scroll-content > div {
  transform: translateX(0px) translateY(19px) scale(1) !important;
}

.ch-spotlight-sticker {
  width: var(--ch-scrollycoding-sticker-width, 420px);
}

.ch-scrollycoding-step-content,
.ch-spotlight-tab {
  padding: var(--ks-spacing-inset-s) var(--ks-spacing-inset-s);
  --ifm-heading-margin-bottom: var(--ks-spacing-stack-xs);
  transition: var(--ks-transition-hover);
  transition-property: box-shadow, border-color;
}

.ch-spotlight-tabs {
  gap: var(--ks-spacing-stack-xs);
}

.ch-spotlight-tab {
  border-color: var(--ks-color-fg-alpha-2);
}

.ch-scrollycoding-step-content[data-selected],
.ch-spotlight-tab:hover,
.ch-spotlight-tab[data-selected] {
  border-color: transparent;
  box-shadow: var(--ks-box-shadow-card-hover);
}

[data-theme='dark'] .ch-scrollycoding-step-content[data-selected],
[data-theme='dark'] .ch-spotlight-tab:hover,
[data-theme='dark'] .ch-spotlight-tab[data-selected] {
  box-shadow: var(--ks-box-shadow-card-hover);
  background-color: var(--ks-color-fg-inverted-alpha-1-base);
}

.ch-scrollycoding,
.ch-spotlight {
  gap: var(--ks-spacing-s);
}

.ch-editor-frame,
.ch-frame-title-bar,
.ch-code {
  background: var(--ch-code-background) !important;
}

.ch-code-wrapper {
  background: transparent !important;
}

.ch-editor-tab-active {
  background: rgba(255, 255, 255, 0.15) !important;
}

.ch-editor-tab-inactive {
  background-color: transparent !important;
}

.ch-editor-tab {
  border-bottom-color: transparent !important;
}

.component-preview .ch-frame-content {
  height: 500px;
  flex-basis: auto;
}

.ch-frame-zoom .c-storytelling {
  flex-direction: row;
}

.collapsible-code .ch-codegroup,
.collapsible-code .ch-codeblock {
  margin: 0;
  border-top-left-radius: 0;
}

.c-collapsible-box.collapsible-code {
  margin: 0;
  --c-collapsible-box_header--font: var(--ks-font-ui-xs);
  --c-collapsible-box_content--padding: 0;
  --toggle-spacing-v: var(--ks-spacing-xxs);
  --c-collapsible-box_icon--size: 2rem;

  margin-top: calc(
    calc(
        var(--c-collapsible-box_icon--size) + var(--toggle-spacing-v) +
          var(--toggle-spacing-v)
      ) * -1
  );
}

.c-collapsible-box.collapsible-code details {
  border: 0;
}

.collapsible-code .c-collapsible-box__header {
  width: fit-content;
  background-color: var(--ch-code-background);
  border-radius: 4px;
}

.collapsible-code .c-collapsible-box__header-wrapper {
  padding: var(--toggle-spacing-v) var(--ks-spacing-xs);
  color: var(--ks-text-color-interface-inverted-base);
}

.collapsible-code details[open] .c-collapsible-box__header {
  border-radius: 4px 4px 0 0;
}
