.color-preview {
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 6px;
}

.color-link {
  background-color: var(--ks-color-link);
}

.color-transparent {
  background-color: var(--ks-color-transparent);
  border: 1px solid var(--ks-border-color-interface-interactive);
}

.color-primary {
  background-color: var(--ks-color-primary);
}
.color-primary-to-bg-1 {
  background-color: var(--ks-color-primary-to-bg-1);
}
.color-primary-to-bg-2 {
  background-color: var(--ks-color-primary-to-bg-2);
}
.color-primary-to-bg-3 {
  background-color: var(--ks-color-primary-to-bg-3);
}
.color-primary-to-bg-4 {
  background-color: var(--ks-color-primary-to-bg-4);
}
.color-primary-to-bg-5 {
  background-color: var(--ks-color-primary-to-bg-5);
}
.color-primary-to-bg-6 {
  background-color: var(--ks-color-primary-to-bg-6);
}
.color-primary-to-bg-7 {
  background-color: var(--ks-color-primary-to-bg-7);
}
.color-primary-to-bg-8 {
  background-color: var(--ks-color-primary-to-bg-8);
}
.color-primary-to-bg-9 {
  background-color: var(--ks-color-primary-to-bg-9);
}
.color-primary-alpha-1 {
  background-color: var(--ks-color-primary-alpha-1);
}
.color-primary-alpha-2 {
  background-color: var(--ks-color-primary-alpha-2);
}
.color-primary-alpha-3 {
  background-color: var(--ks-color-primary-alpha-3);
}
.color-primary-alpha-4 {
  background-color: var(--ks-color-primary-alpha-4);
}
.color-primary-alpha-5 {
  background-color: var(--ks-color-primary-alpha-5);
}
.color-primary-alpha-6 {
  background-color: var(--ks-color-primary-alpha-6);
}
.color-primary-alpha-7 {
  background-color: var(--ks-color-primary-alpha-7);
}
.color-primary-alpha-8 {
  background-color: var(--ks-color-primary-alpha-8);
}
.color-primary-alpha-9 {
  background-color: var(--ks-color-primary-alpha-9);
}

.color-fg {
  background-color: var(--ks-color-fg);
}

.background-primary {
  background-color: var(--ks-background-color-primary);
}

.background-primary-active {
  background-color: var(--ks-background-color-primary-interactive-hover);
}

.background-primary-hover {
  background-color: var(--ks-background-color-primary-interactive-active);
}

.background-accent {
  background-color: var(--ks-background-color-accent);
}

.background-link {
  background-color: var(--ks-color-link);
}

.background-interface {
  background-color: var(--ks-background-color-interface);
}

.background-default {
  background-color: var(--ks-color-default);
  border: 1px solid var(--ks-border-color-interface-interactive);
}

.background-translucent {
  background-color: var(--ks-background-color-primary-translucent);
  border: 1px solid var(--ks-border-color-interface-interactive);
}

.background-clear {
  background-color: var(--ks-background-color-clear);
  border: 1px solid var(--ks-border-color-interface-interactive);
}

.color-control {
  background-color: var(--ks-box-shadow-color-control);
}
.color-control-hover {
  background-color: var(--ks-box-shadow-color-control-hover);
}
.color-card {
  background-color: var(--ks-box-shadow-color-card);
}
.color-card-hover {
  background-color: var(--ks-box-shadow-color-card-hover);
}
.color-surface {
  background-color: var(--ks-box-shadow-color-surface);
}
.color-surface-hover {
  background-color: var(--ks-box-shadow-color-surface-hover);
}
