.font-preview {
}

.display {
  font-family: var(--ks-font-family-display);
}
.copy {
  font-family: var(--ks-font-family-copy);
}
.mono {
  font-family: var(--ks-font-family-mono);
}
.interface {
  font-family: var(--ks-font-family-ui);
}

.font-display {
  font: var(--ks-font-display-m);
}
.font-copy {
  font: var(--ks-font-copy-m);
}
.font-mono {
  font: var(--ks-font-mono-m);
}
.font-interface {
  font: var(--ks-font-ui-m);
}

.light {
  font-family: var(--ks-font-weight-light);
}
.medium {
  font-weight: var(--ks-font-weight-medium);
}
.semi-bold {
  font-weight: var(--ks-font-weight-semi-bold);
}
.bold {
  font-weight: var(--ks-font-weight-bold);
}

.copy-xxs {
  font-size: var(--ks-font-size-copy-xxs);
}
.copy-xs {
  font-size: var(--ks-font-size-copy-xs);
}
.copy-s {
  font-size: var(--ks-font-size-copy-s);
}
.copy-m {
  font-size: var(--ks-font-size-copy-m);
}
.copy-l {
  font-size: var(--ks-font-size-copy-l);
}
.copy-xl {
  font-size: var(--ks-font-size-copy-xl);
}
.copy-xxl {
  font-size: var(--ks-font-size-copy-xxl);
}

.line-height-copy-xxs {
  line-height: var(--ks-line-height-copy-xxs);
}
.line-height-copy-xs {
  line-height: var(--ks-line-height-copy-xs);
}
.line-height-copy-s {
  line-height: var(--ks-line-height-copy-s);
}
.line-height-copy-m {
  line-height: var(--ks-line-height-copy-m);
}
.line-height-copy-l {
  line-height: var(--ks-line-height-copy-l);
}
.line-height-copy-xl {
  line-height: var(--ks-line-height-copy-xl);
}
.line-height-copy-xxl {
  line-height: var(--ks-line-height-copy-xxl);
}
