.opacity-preview {
  height: 5rem;
  width: 5rem;
  background-color: #797979;
  position: relative;
}

.opacity-preview:before,
.opacity-preview:after {
  position: absolute;
  content: '';
  height: 65%;
  width: 65%;
  top: 20%;
  border-radius: var(--ks-border-radius-circle);
}

.opacity-preview:before {
  background-color: white;
  right: 10%;
}
.opacity-preview:after {
  background-color: black;
  left: 10%;
}

.opacity-control:after {
  opacity: var(--ks-box-shadow-opacity-control);
}

.opacity-control-hover:after {
  opacity: var(--ks-box-shadow-opacity-control-hover);
}

.opacity-card:after {
  opacity: var(--ks-box-shadow-opacity-card);
}

.opacity-card-hover:after {
  opacity: var(--ks-box-shadow-opacity-card-hover);
}

.opacity-surface:after {
  opacity: var(--ks-box-shadow-opacity-surface);
}

.opacity-surface-hover:after {
  opacity: var(--ks-box-shadow-opacity-surface-hover);
}
