:root [ks-theme='section-preview'] .l-section__container {
  --l-section_col--min-width: 10rem;
}
:root [ks-theme='section-preview'] {
  background-color: var(--ks-background-color-accent);
  padding: var(--ks-spacing-m) 0;
}

.section-preview {
  display: grid;
  width: 100%;
  gap: 2rem;
}

.section-preview--child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ks-color-primary-inverted);
  font-weight: var(--ks-font-weight-bold);
  width: 100%;
  height: 80px;
  background-color: var(--ks-background-color-primary);
}

.col-fill .l-section__container {
  --l-section_col--min-width: 5rem !important;
}

.col-fixed .l-section__container {
  --l-section_col--min-width: 5rem !important;
  --l-section_col--max-width: 10rem !important;
}

.col-scale .l-section__container {
  --l-section_col--min-width: 40% !important;
}

.col-limit .l-section__container {
  --l-section_col--repeat: 3 !important;
  --l-section_col--min-width: 5rem !important;
}
