:root [ks-theme='section-preview'] .l-section__container {
  --l-section_col--min-width: 30%;
}
:root [ks-theme='section-preview'] {
  background-color: var(--ks-background-color-accent);
  padding: var(--ks-spacing-m) 0;
}

.section-preview {
  display: grid;
  width: 100%;
}

.section-preview--child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--ks-color-primary-inverted);
  font-weight: var(--ks-font-weight-bold);
  width: 100%;
  height: 80px;
  background-color: var(--ks-background-color-primary);
}
