.spacing-preview {
  height: 1.75rem;
  background-color: var(--ifm-color-primary);
}

.spacing-xxs {
  width: var(--ks-spacing-xxs);
}

.spacing-xs {
  width: var(--ks-spacing-xs);
}

.spacing-s {
  width: var(--ks-spacing-s);
}

.spacing-m {
  width: var(--ks-spacing-m);
}

.spacing-l {
  width: var(--ks-spacing-l);
}

.spacing-xl {
  width: var(--ks-spacing-xl);
}

.spacing-xxl {
  width: var(--ks-spacing-xxl);
}

.spacing-section {
  height: var(--l-section--space);
  width: 2rem;
}

.spacing-section-small {
  height: var(--l-section--space-small);
  width: 2rem;
}

.spacing-gutter-default {
  width: 2rem;
  height: var(--l-section_container--gutter);
}

.spacing-gutter-large {
  width: 2rem;
  height: var(--l-section_container--gutter-large);
}

.spacing-gutter-small {
  width: 2rem;
  height: var(--l-section_container--gutter-small);
}

.spacing {
  width: 100%;
  height: 200px;
  border: var(--ks-border-color-accent);
  box-shadow: var(--ks-box-shadow-card);
  background-color: var(--ks-background-color-primary);
  margin-bottom: var(--ifm-leading);
}

.spacing::before,
.spacing::after {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--ks-background-color-default);
  margin: auto;
  text-align: center;

  font-weight: var(--ks-font-weight-bold);
}

.spacing::before {
  content: 'Content';
}
.spacing-inline::after,
.spacing-stack::after {
  content: 'Content';
}

.spacing-inset {
  padding: var(--ks-spacing-inset-m);
}

.spacing-inset-squish {
  padding: var(--ks-spacing-inset-squish-m);
}

.spacing-inset-stretch {
  padding: var(--ks-spacing-inset-stretch-m);
}

.spacing-inline {
  display: flex;
  gap: var(--ks-spacing-inline-m);
}

.spacing-stack {
  display: flex;
  flex-direction: column;
  gap: var(--ks-spacing-inline-m);
}

.spacing-preview-grid {
  grid-template-columns: repeat(auto-fill, minmax(min(18rem, 100%), 1fr));
  display: grid;
  gap: var(--ks-spacing-m);
}

.spacing-preview-grid p {
  text-align: left;
  margin-top: auto;
}

.spacing-legacy {
  display: flex;
  gap: var(--ks-spacing-inline-s);
  margin-bottom: var(--ifm-leading);
}

.spacing-legacy * {
  display: flex;
  gap: var(--ks-spacing-inline-xs);
  align-items: center;
  margin: 0;
}
