@use '../../../0-base/1-tools/scss/details-reset';
@use '../../../0-base/1-tools/scss/helpers';
@use '../../../0-base/1-tools/scss/breakpoint';
@use 'bourbon/core/bourbon';
@use 'settings/base';
@use 'settings/global';

.nav-content_menu {
  @include helpers.no-print;

  display: none;
  background: base.$color-black-5;

  @include breakpoint.media('≥m') {
    display: block;
  }

  details {
    /* critical:start */
    @include details-reset.details-reset;
    /* critical:end */

    > summary {
      position: relative;
      cursor: pointer;
      align-items: center;
    }
  }

  .dropdown--is-open > details > summary {
    color: base.$color-brand;
    font-weight: helpers.get-font-weight(bold);

    .nav-content_menu__icon {
      transform: scaleY(-1);
    }
  }

  ul {
    /* critical:start */
    @include helpers.clearlist;
    box-sizing: border-box;
    /* critical:end */
  }

  &__item {
    a,
    summary {
      display: flex;
      padding: 0.8em global.$content_30-padding;
      border-bottom: 1px solid base.$color-black-5;
      text-decoration: none;
      transition: 0.3s;

      &:focus,
      &:hover {
        background-color: base.$color-black-7;
      }
    }

    &--current {
      > a {
        font-weight: helpers.get-font-weight(bold);
        color: base.$color-brand;
      }
    }
  }

  &__list {
    &--level-2 {
      font-size: 0.85em;
      background: base.$color-black-5;

      summary,
      a {
        padding-left: 2em;
      }
    }

    &--level-3 {
      font-size: 1em;
      background: transparent;

      summary,
      a {
        padding-left: 3em;
      }
    }

    &--level-4 {
      summary,
      a {
        padding-left: 4em;
      }
    }

    &--level-5 {
      summary,
      a {
        padding-left: 5em;
      }
    }
  }

  &__icon {
    @include bourbon.size(0.9em);

    margin-left: auto;
    pointer-events: none;
    transition: 0.3s;

    @include breakpoint.media('≥s') {
      @include bourbon.size(1.3em);
    }

    @include breakpoint.media('≥m') {
      @include bourbon.size(1em);
    }
  }
}
