@use 'settings/base';
@use 'settings/base/colors';

$align-items:                        normal !default;
$align-items-m:                      center !default;

$image__max-width:                   20% !default;
$image__max-width-m:                 30% !default;

$content__padding-left:              2rem !default;
$content__padding-left-m:            4rem !default;

$icon__font-size:                    2.5em !default;
$icon__font-size-m:                  4em !default;
$icon__line-height:                  1 !default;
$icon__color:                        colors.$color-brand !default;
$icon__content:                      "\201D" !default;
$icon__position-left:                $content__padding-left / 2 !default;
$icon__position-left-m:              $content__padding-left-m / 2 !default;
$icon__transform:                    translateX(-50%);

$text__font-size:                    base.$font-size-default !default;
$text__font-size-m:                  base.$font-size-default !default;
$text__margin-bottom:                0.25em !default;
$text__margin-bottom-m:              0.25em !default;

$source__font-size:                  base.$font-size-small !default;
$source__font-size-m:                base.$font-size-small !default;
$source__font-weight:                bold !default;
$source__font-style:                 normal !default;
$source__text-transform:             none !default;

$date__font-size:                    base.$font-size-small !default;
$date__font-size-m:                  base.$font-size-small !default;
$date__font-weight:                  bold !default;
$date__font-style:                   normal !default;
$date__text-transform:               none !default;
