/// ## Brand Colors
$color-brand:   #333333 !default; /* Main Brand Color */
$color-brand-2: #999999 !default; /* Secondary Brand Color */
$color-white:   #fff !default;
$color-black:   mix(black, $color-brand, 90%) !default;

/// ## Notification Colors
$color-info:    #3ca8ff !default;
$color-success: #8dc63f !default;
$color-warning: #ffc103 !default;
$color-error:   #e60201 !default;


/// # Color Brand Variations
$color-brand-175: mix($color-brand, $color-black, 25%) !default;
$color-brand-150: mix($color-brand, $color-black, 50%) !default;
$color-brand-125: mix($color-brand, $color-black, 75%) !default;
$color-brand-110: mix($color-brand, $color-black, 90%) !default;
$color-brand-75:  mix($color-brand, $color-white, 75%) !default;
$color-brand-50:  mix($color-brand, $color-white, 50%) !default;
$color-brand-25:  mix($color-brand, $color-white, 25%) !default;
$color-brand-10:  mix($color-brand, $color-white, 10%) !default;

/// # Color Black Variations
$color-black-75-solid: mix($color-black, $color-white, 75%) !default;

$color-black-75:       rgba($color-black, 0.75) !default;
$color-black-50-solid: mix($color-black, $color-white, 50%) !default;
$color-black-50:       rgba($color-black, 0.5) !default;
$color-black-25-solid: mix($color-black, $color-white, 25%) !default;
$color-black-25:       rgba($color-black, 0.25) !default;
$color-black-15-solid: mix($color-black, $color-white, 15%) !default;
$color-black-15:       rgba($color-black, 0.15) !default;
$color-black-10-solid: mix($color-black, $color-white, 10%) !default;
$color-black-10:       rgba($color-black, 0.1) !default;
$color-black-7-solid: mix($color-black, $color-white, 7%) !default;
$color-black-7:        rgba($color-black, 0.07) !default;
$color-black-5-solid: mix($color-black, $color-white, 5%) !default;
$color-black-5:        rgba($color-black, 0.05) !default;

// http://timhettler.github.io/sass-yiq/sassdoc/
$yiq-contrasted-dark-default:                    $color-black !default;
$yiq-contrasted-light-default:                   $color-white !default;


/// ## Contrast Threshold
/// The YIQ lightness value that determines when the lightness of color changes from "dark" to "light". Acceptable values are between 0 & 255.
/// @link http://timhettler.github.io/sass-yiq/sassdoc/#variable-yiq-contrasted-threshold
$yiq-contrasted-threshold: 180 !default;


$text-color:                                $color-black !default;
$page-background:                           $color-white !default;

$section-background:                        $color-white !default;
$section-background--bg-1:                  $color-black-7-solid !default;
