@use 'settings/base/colors';
@use 'settings/base/typo';

// ## Desktop
$nav-sidebar__item-color:                    colors.$color-black !default;
$nav-sidebar__item-font-size:                typo.$font-size-default !default;
$nav-sidebar__item-line-height:              typo.$line-height-default !default;
$nav-sidebar__item-text-transform:           none !default;
$nav-sidebar__item-font-weight:              regular !default;
$nav-sidebar__item-border:                   1px solid colors.$color-black-5 !default;
$nav-sidebar__item-padding:                  0.8em !default;
// hover
$nav-sidebar__item-hover-color:              colors.$color-black !default;
$nav-sidebar__item-hover-background:         colors.$color-black-7 !default;
// active/current
$nav-sidebar__item-active_current-color:     colors.$color-brand !default;
$nav-sidebar__item-active_current-font-weight: bold !default;
$nav-sidebar__item-submenu_open-color:       colors.$color-brand !default;
$nav-sidebar__item-submenu_open-font-weight: bold !default;

// Level 2
$nav-sidebar__submenu-background:            colors.$color-black-5 !default;

// ## Mobile
$nav-sidebar__item-padding-vert--mobile:     0.8em !default;
