@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/0-base/0-settings/selector';

.product-image-slider {
  #{selector.$slider-nav-slides} {
    margin-top: 1em;
  }

  #{selector.$slider-bullet} {
    @include breakpoint.media('≥s') {
      display: none;
    }
  }

  .product-image-slide--preview {
    @include breakpoint.media('<s') {
      display: none;
    }
  }
}
