@keyframes slider-nav-autoplay {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.c-visual-slide--preview {
  $current-animation-duration: 4s;

  flex: 0 1 100%;
  font: var(--c-visual-slider_preview--font);
  text-align: center;
  padding: 0.75em 1em;
  transition: 0.3s;

  [data-glide-el='controls[nav]'] .c-slider-nav__slide & {
    min-width: 7rem;
  }

  .c-slider-nav__slide:hover &,
  .c-slider-nav__slide:focus & {
    background: var(--c-visual-slider_preview--background-hover);
    color: var(--c-visual-slider_preview--color-hover);
  }

  .c-slider-nav__slide--active & {
    background: var(--c-visual-slider_preview--background-active);
    color: var(--c-visual-slider_preview--color-active);

    .slider--autoplay &::after {
      animation: slider-nav-autoplay $current-animation-duration linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  .slider--autoplay & {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.2em;
      background-color: var(--c-visual-slider--autoplay-indicator-color);
      content: '';
    }
  }
}
