@use '@kickstartds/base/source/0-base/0-settings/selector';

@keyframes slider-nav-autoplay {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.c-visual-slide--preview {
  $current-animation-duration: 4s;

  flex: 0 1 100%;
  font: var(--c-visual-slider_preview--font);
  text-align: center;
  padding: 0.75em 1em;
  transition: 0.3s;

  #{selector.$slider-nav-constrol-slide} & {
    min-width: 7rem;
  }

  #{selector.$slider-nav-slide}:hover &,
  #{selector.$slider-nav-slide}:focus & {
    background: var(--c-visual-slider_preview--background-hover);
    color: var(--c-visual-slider_preview--color-hover);
  }

  #{selector.$slider-nav-slide}--active & {
    background: var(--c-visual-slider_preview--background-active);
    color: var(--c-visual-slider_preview--color-active);

    .slider--autoplay &::after {
      animation: slider-nav-autoplay $current-animation-duration linear;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
    }
  }

  .slider--autoplay & {
    position: relative;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0.2em;
      background-color: var(--c-visual-slider--autoplay-indicator-color);
      content: '';
    }
  }
}
