@use 'sass:color';
@use 'settings/base/colors';

$button__font-size:      1em !default;
$button__line-height:    1.2 !default;
$button__font-weight:    400 !default;
$button__padding:        0.5em 1.3em !default;
$button__border-width:   1px !default;
$button__border-radius:  3px !default;
$button__active-scale:   0.95 !default;

// ## small button
$button__font-size-small:      0.75em !default;
$button__line-height-small:    $button__line-height !default;
$button__padding-small:        0.45em 1em !default;

// ## large button
$button__font-size-large:      1.1em !default;
$button__line-height-large:    $button__line-height !default;
$button__padding-large:        0.5em 1.7em 0.45em !default;

// ## global button colors
$button__primary-color:   colors.$color-brand !default;
$button__secondary-color: colors.$color-white !default;


// ## clear button
$button__clear-color:               $button__primary-color !default;
$button__clear-bg-color:            transparent !default;
$button__clear-border-color:        null !default;
// ### clear button hover
$button__clear-color-hover:         color.scale($button__clear-color, $lightness: -5%) !default;
$button__clear-bg-color-hover:      color.mix($button__clear-color, $button__clear-bg-color, 20%) !default;
$button__clear-border-color-hover:  null !default;
// ### clear button active (is pressed)
$button__clear-color-active:        color.scale($button__clear-color, $lightness: -10%) !default;
$button__clear-bg-color-active:     color.mix($button__clear-color, $button__clear-bg-color, 30%) !default;
$button__clear-border-color-active: null !default;

// ## clear button inverted
$button__clear-inverted-color:               $button__secondary-color !default;
$button__clear-inverted-bg-color:            transparent !default;
$button__clear-inverted-border-color:        null !default;
// ### clear button inverted hover
$button__clear-inverted-color-hover:         null !default;
$button__clear-inverted-bg-color-hover:      color.mix($button__clear-inverted-color, $button__clear-inverted-bg-color, 20%) !default;
$button__clear-inverted-border-color-hover:  null !default;
// ### clear button inverted active (is pressed)
$button__clear-inverted-color-active:        null !default;
$button__clear-inverted-bg-color-active:     color.mix($button__clear-inverted-color, $button__clear-inverted-bg-color, 30%) !default;
$button__clear-inverted-border-color-active: null !default;

// ## solid button
$button__solid-color:               $button__secondary-color !default;
$button__solid-bg-color:            $button__primary-color !default;
$button__solid-border-color:        null !default;
// ### solid button hover
$button__solid-color-hover:         null !default;
$button__solid-bg-color-hover:      color.mix($button__solid-color, $button__solid-bg-color, 20%) !default;
$button__solid-border-color-hover:  null !default;
// ### solid button active (is pressed)
$button__solid-color-active:        null !default;
$button__solid-bg-color-active:     color.mix($button__solid-color, $button__solid-bg-color, 30%) !default;
$button__solid-border-color-active: null !default;

// ## solid button inverted
$button__solid-inverted-color:               color.scale($button__primary-color, $lightness: -5%) !default;
$button__solid-inverted-bg-color:            $button__secondary-color !default;
$button__solid-inverted-border-color:        null !default;
// ### solid button inverted hover
$button__solid-inverted-color-hover:         null !default;
$button__solid-inverted-bg-color-hover:      color.mix($button__solid-inverted-color, $button__solid-inverted-bg-color, 20%) !default;
$button__solid-inverted-border-color-hover:  null !default;
// ### solid button inverted active (is pressed)
$button__solid-inverted-color-active:        null !default;
$button__solid-inverted-bg-color-active:     color.mix($button__solid-inverted-color, $button__solid-inverted-bg-color, 30%) !default;
$button__solid-inverted-border-color-active: null !default;

// ## outline button
$button__outline-color:               $button__primary-color !default;
$button__outline-bg-color:            transparent !default;
$button__outline-border-color:        $button__outline-color !default;
// ### outline button hover
$button__outline-color-hover:         color.scale($button__outline-color, $lightness: -5%) !default;
$button__outline-bg-color-hover:      color.mix($button__outline-color, $button__outline-bg-color, 20%) !default;
$button__outline-border-color-hover:  null !default;
// ### outline button active (is pressed)
$button__outline-color-active:        color.scale($button__outline-color, $lightness: -10%) !default;
$button__outline-bg-color-active:     color.mix($button__primary-color, $button__outline-bg-color, 30%) !default;
$button__outline-border-color-active: null !default;

// ## outline button inverted
$button__outline-inverted-color:               $button__secondary-color !default;
$button__outline-inverted-bg-color:            transparent !default;
$button__outline-inverted-border-color:        null !default;
// ### outline button inverted hover
$button__outline-inverted-color-hover:         null !default;
$button__outline-inverted-bg-color-hover:      color.mix($button__outline-inverted-color, $button__outline-inverted-bg-color, 20%) !default;
$button__outline-inverted-border-color-hover:  null !default;
// ### outline button inverted active (is pressed)
$button__outline-inverted-color-active:        null !default;
$button__outline-inverted-bg-color-active:     color.mix($button__outline-inverted-color, $button__outline-inverted-bg-color, 30%) !default;
$button__outline-inverted-border-color-active: null !default;
