@use 'settings/base/colors';

$contact-flag-label__color:                  colors.$color-white !default;
$contact-flag-label__background:             colors.$color-brand !default;
$contact-flag-label__border-radius:          5px !default;
// hover
$contact-flag-label__hover-background:       colors.$color-brand-2 !default;
