@use 'settings/base/colors';
@use 'settings/base/nav-main';
@use 'settings/base/nav-meta';
@use 'settings/base/logo';
@use 'settings/global/grid';

// ## Desktop
$header__box_shadow--desktop:                    none !default;
$header__box_shadow--desktop-on-scroll:          0 3px 10px -2px rgba(0, 0, 0, 0.15) !default;
$header__max-width:                              grid.$grid__max-width !default;

// ## Mobile
$header__box_shadow--mobile:                     0 3px 10px -2px rgba(0, 0, 0, 0) !default;
$header__box_shadow--mobile-on-scroll:           0 3px 10px -2px rgba(0, 0, 0, 0.15) !default;

// Transparent Header
$header__border-bottom-transparent:        none !default;

$header__background:                   colors.$color-white !default;
$header__mobile-icon-color:            nav-main.$nav-main__item-color !default;

// Hide Meta Nav on scroll
$hide-meta-nav-on-scroll-s: true;
$hide-meta-nav-on-scroll-nav-main: true;

$header__heights: (
  1: (
    default: nav-main.$nav-main__height,
    s: nav-meta.$nav-meta__height + nav-main.$nav-main__height--s,
    m: nav-meta.$nav-meta__height + nav-main.$nav-main__height--m,
    nav-main: nav-meta.$nav-meta__height--nav-main + nav-main.$nav-main__height--nav-main,
    nav-main--scrolling: if($hide-meta-nav-on-scroll-nav-main, 0, nav-meta.$nav-meta__height--nav-main) + nav-main.$nav-main__height--nav-main-scrolling
  ),
  2: (
    default: nav-main.$nav-main__height,
    s: nav-meta.$nav-meta__height + nav-main.$nav-main__height--s,
    m: nav-meta.$nav-meta__height + nav-main.$nav-main__height--m,
    nav-main: nav-meta.$nav-meta__height--nav-main + nav-main.$nav-main__height--nav-main,
    nav-main--scrolling: if($hide-meta-nav-on-scroll-nav-main, 0, nav-meta.$nav-meta__height--nav-main) + nav-main.$nav-main__height--nav-main-scrolling
  )
) !default;

$header-variant: 1;
@function header__height($breakpoint) {
  @return map-get(map-get($header__heights, $header-variant), $breakpoint);
}

$header__logo-height--nav-main: if(
  $header-variant == 1,
  nav-main.$nav-main__height--nav-main,
  nav-meta.$nav-meta__height--nav-main
) !default;

/// @deprecated
/// the following variables are deprecated and shouldn't be used anymore
/// use the `header__height` function instead
/// they stay for compatibility, but will be removed some day
$header__height--variant-1: header__height(nav-main);
$header__height--s: header__height(default);
$header__height--m: header__height(s);
$header__height: header__height(nav-main);
$header__height--scrolling: header__height(nav-main--scrolling);
$header__logo-height: nav-meta.$nav-meta__height--nav-main;
