@use 'settings/base/colors';

$nav-social__icon-color:                     colors.$color-white !default;
$nav-social__icon-background:                transparent !default;
// hover
$nav-social__icon-color-hover:               colors.$color-white !default;
$nav-social__icon-background-hover:          colors.$color-black-25 !default;
