@use 'settings/base/colors';
@use 'settings/base/typo';

$profile__margin-bottom:                 1rem !default;
//Image
$profile__image-width:                   50px !default;
$profile__image-height:                  50px !default;
$profile__image-margin-right:            0.5rem !default;

//Description
$profile__font-weight:                   regular !default;
$profile__color:                         colors.$color-black-50-solid !default;

//Name
$profile__name-font-weight:              bold !default;
$profile__name-color:                    colors.$color-black-75-solid !default;

$profile__font-size:                     typo.$font-size-tiny !default;

//Info-Text
$profile__info-text-padding-bottom:      1rem !default;
$profile__info-text-font-size:           typo.$font-size-small !default;
