@use 'settings/base/colors';
@use 'settings/global/grid';

$teaser-box__color:                          colors.$text-color !default;
$teaser-box__background:                     colors.$color-white !default;
$teaser-box__border:                         1px solid colors.$color-black-10-solid !default;
$teaser-box__border-radius:                  null !default;

$teaser-box__shadow:                         null !default;
$teaser-box__shadow-hover:                   0 0 30px rgba(0, 0, 0, 0.1),
                                             0 10px 20px -15px rgba(0, 0, 0, 0.023),
                                             0 25px 25px -35px rgba(0, 0, 0, 0.057);

$teaser-box__color--dark:                    colors.$color-white !default;
$teaser-box__background--dark:               colors.$color-brand !default;
$teaser-box__border--dark:                   none !default;

$teaser-box__shadow--dark:                   null !default;
$teaser-box__shadow--dark-hover:             0 0 30px rgba(0, 0, 0, 0.2),
                                             0 10px 20px -15px rgba(0, 0, 0, 0.15),
                                             0 25px 25px -35px rgba(0, 0, 0, 0.25);

$teaser-box__grid-gutter:                    grid.$grid__gutter !default;

$teaser-box__font-size:                      1em !default;
$teaser-box__line-height:                    1.5 !default;

$teaser-box__adaptive-font-sizes: (
  // [minimum box width]: [font-size]
  '0px': 70%,     // 0px-199px box width
  '200px': 85%,   // 200px-399px box width
  '400px': 100%   // ≥400px box width
) !default;

/// @deprecated
/// use $teaser-box__adaptive-font-sizes instead
$teaser-box__font-size-s:                    null !default;
$teaser-box__line-height-s:                  null !default;
$teaser-box__font-size-m:                    null !default;
$teaser-box__line-height-m:                  null !default;
