@use '@rm-frontend/base/source/0-base/1-tools/scss/contrast';
@use 'bourbon/core/bourbon';
@use 'settings/base';

.shortlist-counter {
  &__icon {
    @include bourbon.size(100%);
  }

  &__value {
    @include contrast.yiq-contrasted(base.$color-brand);
    display: block;
    position: absolute;
    bottom: -0.25em;
    right: -0.25em;
    line-height: 1;
    font-size: base.$font-size-small;
    border-radius: base.$font-size-small;
    padding: 0.125em 0.25em;
    text-align: center;
    min-width: 1.5em;
  }
}
