$name-: 'c-collapsible-box';
$container-name-: 'collapsible-box';

$host: (
  '.c-collapsible-box': (
    border-color: var(--color-black-alpha-1),
  ),
) !default;

$header: (
  '.c-collapsible-box': (
    font: var(--font-copy-m),
    padding: (
      0: 1em 0,
      640: 1em,
    ),
  ),
) !default;

$icon: (
  '.c-collapsible-box': (
    size: (
      0: 1.65em,
      640: 1.85em,
    ),
    transform-open: rotate(-180deg),
  ),
) !default;

$content: (
  '.c-collapsible-box': (
    padding: (
      0: 1em 0,
      640: 1em 4em 1em 1em,
    ),
  ),
) !default;
