$name-: 'c-collapsible-box';
$_selector-default: ':root, .g-inverted-reset';
$_selector-inverted: '.g-inverted';

$host: (
  #{$_selector-default}: (
      border-color: var(--color-black-alpha-1),
    ),
  #{$_selector-inverted}: (
      border-color: var(--color-white-alpha-5),
    )
) !default;

$header: (
  '.c-collapsible-box': (
    font: var(--font-copy-m),
    padding: (
      xs: 1em 0,
      s: 1em,
    ),
  ),
) !default;

$icon: (
  '.c-collapsible-box': (
    size: (
      xs: 1.65em,
      s: 1.85em,
    ),
    transform-open: rotate(-180deg),
  ),
) !default;

$content: (
  '.c-collapsible-box': (
    padding: (
      xs: 1em 0,
      s: 1em 4em 1em 1em,
    ),
  ),
) !default;
