@use '../../../0-base/1-tools/scss/button';
@use '../../../0-base/1-tools/scss/helpers';
@use 'bourbon/core/bourbon';
@use 'settings/base';

@use 'pikaday/scss/pikaday' with (
  /// @see https://github.com/Pikaday/Pikaday/blob/1.8.0/scss/pikaday.scss
  $pd-text-color: base.$color-black,
  $pd-title-color: base.$color-black,
  $pd-title-bg: #fff,
  $pd-picker-bg: #fff,
  $pd-picker-border: transparent,
  $pd-picker-border-bottom: transparent,
  $pd-picker-shadow: rgba(0,0,0, 0.5),
  $pd-th-color: base.$color-black-50,
  $pd-day-color: base.$color-brand,
  $pd-day-bg: base.$color-white,
  $pd-day-hover-color: base.$color-brand,
  $pd-day-hover-bg: base.$color-black-10,
  $pd-day-today-color: base.$color-brand,
  $pd-day-selected-color: #fff,
  $pd-day-selected-bg: base.$color-brand,
  $pd-day-selected-shadow: none,
  $pd-day-disabled-color: base.$color-black-50,
  $pd-week-color: base.$color-black-75,
  $pd-font-family: inherit
);

.pika {
  &-prev,
  &-next {
    background-size: 20px 30px;
  }

  &-prev {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAA8CAYAAAAUufjgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAG9JREFUeNrs18ENQEAURdFhSzFKoBOdKZEO+LZiJZF845zkxU5uxsaUAgAAJNZ0/Zg5bontsTlz3J4u8ibu3PrkXe0bcfG4ntYWm9KeXGwQJ07cX+PaUqvUn1ikSJF/jfTLX9Wl6RPXTgAAqN4hwAB+xnYBOd2PKQAAAABJRU5ErkJggg==');
  }

  &-next {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAA8CAYAAAAUufjgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHdJREFUeNrs17EJgDAQQNFoq8M4gm7iZo6oG+jVKQX1gu/BNULgE0GTUgAAgI90wzhnjltjzpgtc9yZMjKC9irwscj+5rol5qieral2MmKmN3dSpEiRrUb25U9Sv2Jx4sS19EFu4W+R+8if/tLUxLUTAAAIlwADAKFTdgH4n61qAAAAAElFTkSuQmCC');
  }

  &-table th abbr {
    text-decoration: none;
  }
}

.datepicker__clear-button {
  @include button.button-reset;
  @include helpers.vertical-centerer;

  transition: 0.15s ease-in-out;
  right: 0.8em;
  z-index: 1;
  display: none;
  color: base.$color-black-25;
  line-height: 0;

  .icon {
    @include bourbon.size(1em);
  }

  &:hover,
  &:focus {
    color: base.$color-brand;
  }
}
