$name-: 'pswp' !default;

$host: (
  ':root, [ks-theme], [ks-inverted]': (
    bg: var(--ks-color-fg),
    placeholder-bg: var(--ks-color-fg-to-bg-1),
    root-z-index: var(--ks-depth-modal),
    icon-color: var(--ks-color-fg-to-bg-9),
    icon-color-secondary: var(--ks-color-fg-alpha-7),
    stroke-color: var(--ks-color-fg-alpha-6),
    stroke-width: 2px,
    error-text-color: var(--ks-color-fg-to-bg-9),
  ),
) !default;
