/**
 * # Text
 */

@use '../../0-base/1-tools/scss/helpers';
@use '../../0-base/1-tools/scss/breakpoint';
@use 'settings/base';

p,
.text {
  /* critical:start */
  @include helpers.type-reset;

  margin-bottom: 1em;
  font-size: base.$font-size-default;
  line-height: base.$line-height-default;
  /* critical:end */
}

.text--teaser {
  /* critical:start */
  font-size: 1.2em;
  line-height: base.$line-height-large;
  /* critical:end */

  @include breakpoint.media('≥s') {
    /* critical:start */
    font-size: base.$font-size-large;
    /* critical:end */
  }
}

.text--small {
  font-size: base.$font-size-small;
  line-height: base.$line-height-small;
}

/**
 * ## Typeface
 */

b,
strong {
  font-weight: helpers.get-font-weight(bold);
}

i,
em {
  font-style: italic;
}
