@use '@rm-frontend/base/source/0-base/1-tools/scss/grid';
@use '@rm-frontend/base/source/0-base/1-tools/scss/helpers';
@use '@rm-frontend/base/source/0-base/1-tools/scss/breakpoint';
@use '@rm-frontend/base/source/1-atoms/rich-text/rich-text';
@use 'bourbon/core/bourbon';
@use 'settings/base';
@use 'settings/reference';

.reference-detail {
  &__logo {
    display: flex;
    flex-direction: column;
    padding: 2em 0;
    border-bottom: 1px solid base.$color-black-15;
    margin-bottom: 2em;

    @include breakpoint.media('≥s') {
      flex-direction: row;
    }

    &__inner-wrapper {
      text-align: center;

      @include breakpoint.media('≥s') {
        @include grid.grid-columns(7);
        display: flex;
        flex-wrap: wrap;
      }

      @include breakpoint.media('≥m') {
        @include grid.grid-columns(8);
        flex-wrap: nowrap;
      }
    }

    &__image {
      margin-bottom: 2rem;
      text-align: center;

      @include breakpoint.media('≥s') {
        margin-bottom: 0;
        margin-right: 20px;
      }

      img {
        max-width: reference.$detail__logo-max-width;
        height: auto;

        @include breakpoint.media('≥s') {
          max-width: 13.15em;
        }
      }
    }

    &__name {
      font-weight: helpers.get-font-weight(
        reference.$detail__logo-name-font-weight
      );
      align-self: center;
      font-size: reference.$detail__logo-name-font-size;
      text-align: center;
      line-height: reference.$detail__logo-name-line-height;
      color: reference.$detail__logo-name-color;

      @include breakpoint.media('≥s') {
        text-align: left;
      }

      .tag-label-container {
        padding-top: 0.5em;
        justify-content: center;
        font-size: reference.$detail__category-font-size;

        @include breakpoint.media('≥s') {
          justify-content: flex-start;
        }
      }
    }

    &__meta {
      margin-top: -2.5rem;
      color: reference.$detail__logo-meta-color;
      font-size: reference.$detail__logo-meta-font-size;
      line-height: reference.$detail__logo-meta-line-height;
      font-weight: helpers.get-font-weight(
        reference.$detail__logo-meta-font-weight
      );

      @include breakpoint.media('≥s') {
        @include grid.grid-columns(5);
        margin-top: 0;
        text-align: left;
      }

      @include breakpoint.media('≥m') {
        @include grid.grid-columns(4);
      }
    }
  }

  &__wrapper {
    @include grid.grid-container(reference.$detail__grid-gutter-s);

    @include breakpoint.media('≥m') {
      @include grid.grid-container(reference.$detail__grid-gutter-m);
    }

    &--logo {
      flex-grow: 1;
      align-items: center;
      text-align: center;
    }
  }

  &__main {
    @include breakpoint.media('≥s') {
      @include grid.grid-columns(7);
    }
    @include breakpoint.media('≥m') {
      @include grid.grid-columns(8);
    }
  }

  &__image {
    margin-bottom: 1em;
    text-align: center;

    figure {
      display: inline-block;

      .caption {
        text-align: left;
      }
    }

    @include breakpoint.media('≥m') {
      margin-bottom: 2em;
    }
  }

  &__back {
    margin: 2em 0;
  }

  &__info-wrapper {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    @include breakpoint.media('≥s') {
      padding-top: 1.5em;
      @include grid.grid-columns(5);
    }
    @include breakpoint.media('≥m') {
      padding-top: 2.5em;
      @include grid.grid-columns(4);
    }
  }

  &__info-headline {
    font-size: reference.$detail__info-headline-font-size;
    line-height: reference.$detail__info-headline-line-height;
  }

  &__info {
    order: 2;
    flex: 2;

    @include breakpoint.media('≥s') {
      order: 1;
    }

    &__item {
      display: flex;
      margin-bottom: 1rem;
      font-size: reference.$detail__info-item-font-size;
      line-height: reference.$detail__info-item-line-height;

      &:last-child {
        margin-bottom: 0;
      }

      .icon {
        @include helpers.icon-color(reference.$detail__info-item-icon-color);
        @include bourbon.size(1.45rem);
        position: relative;
        top: -0.15em;
        margin-right: 0.65em;
      }
    }
  }
}
