@use 'sass:meta';
@use './divider-vars';

.c-divider {
  border: 0;
  height: var(--c-divider--height);
  border-radius: var(--c-divider--height);
  background: var(--c-divider--background);
  margin: 0;

  &--accent {
    background: var(--c-divider_accent--background);
  }
}
