@use 'sass:meta';
@use 'bourbon/core/bourbon';
@use '@kickstartds/core/source/core/custom-properties';
@use '../../0-base/input-field';

.c-text-area {
  @include input-field.wrapper;
  flex-direction: column;

  &__label {
    padding: 0.25rem 0;
  }

  &__input {
    @include input-field.input-field(textarea);
    resize: vertical;

    &:disabled {
      opacity: 0.5;
    }
  }
}
