.embedded-map {
  position: relative;
  padding-bottom: 50%; // This is the aspect ratio
  height: 0;
  overflow: hidden;

  &--full-width {
    max-width: 100% !important;
    margin: 0 !important;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
