$name-: 'c-banner';

$host: (
  '.c-banner': (
    border: null,
    color: var(--ks-text-color-interface),
    color-hover: var(--ks-text-color-interface-hover),
    title-font-weight: var(--ks-font-weight-semi-bold),
    info-background-color: var(--ks-background-color-info),
    border-radius: var(--ks-border-radius-card),
    icon-size: calc(var(--c-banner--line-height) * var(--c-banner--font-size)),
  ),
  '.c-banner--contrast-high': (
    color: var(--ks-text-color-default-inverted),
  ),
  '.c-banner--s': (
    font: var(--ks-font-interface-xs),
    font-size: var(--ks-font-size-interface-xs),
    line-height: var(--ks-line-height-interface-xs),
    font-weight: var(--ks-font-weight-regular),
    padding: (
      0: 0.5em 0.25em,
      640: 0.75em,
    ),
    gap: var(--ks-spacing-xxs),
  ),
  '.c-banner--m': (
    font: var(--ks-font-interface-s),
    font-size: var(--ks-font-size-interface-s),
    line-height: var(--ks-line-height-interface-s),
    font-weight: var(--ks-font-weight-regular),
    padding: (
      0: 0.75em 0.5em,
      640: 1em,
    ),
    gap: var(--ks-spacing-xs),
  ),
  '.c-banner--l': (
    font: var(--ks-font-interface-m),
    font-size: var(--ks-font-size-interface-m),
    line-height: var(--ks-line-height-interface-m),
    font-weight: var(--ks-font-weight-regular),
    padding: (
      0: 1em 0.75em,
      640: 1.25em,
    ),
    gap: var(--ks-spacing-s),
  ),
  '.c-banner--plain.c-banner--contrast-low': (
    background-color: var(--ks-background-color-interface),
  ),
  '.c-banner--plain.c-banner--contrast-high': (
    background-color: var(--ks-background-color-default-inverted),
  ),
  '.c-banner--info.c-banner--contrast-low': (
    background-color: var(--ks-color-informative-alpha-7),
  ),
  '.c-banner--info.c-banner--contrast-high': (
    background-color: var(--ks-color-informative),
  ),
  '.c-banner--error.c-banner--contrast-low': (
    background-color: var(--ks-color-negative-alpha-7),
  ),
  '.c-banner--error.c-banner--contrast-high': (
    background-color: var(--ks-color-negative),
  ),
  '.c-banner--succes.c-banner--contrast-low': (
    background-color: var(--ks-color-positive-alpha-7),
  ),
  '.c-banner--succes.c-banner--contrast-high': (
    background-color: var(--ks-color-positive),
  ),
  '.c-banner--warning.c-banner--contrast-low': (
    background-color: var(--ks-color-notice-alpha-7),
  ),
  '.c-banner--warning.c-banner--contrast-high': (
    background-color: var(--ks-color-notice),
  ),
) !default;
