@use 'settings/base';

kbd {
  @include base.font-sans(regular);

  display: inline-block;
  margin: 0 0.1em;
  padding: 0.1em 0.5em 0;
  font-size: base.$font-size-small;
  line-height: base.$line-height-small;
  border: 1px solid base.$color-black-25-solid;
  border-radius: 3px;
  box-shadow: 0 1px 0 base.$color-black-25;
  vertical-align: 0.1em;
  white-space: nowrap;
}
